.section-hero {
  position: relative;
  background-image: linear-gradient(to right, $headerBlue 0%, rgba(7, 32, 52, 0) 100%), url(./images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-color: $headerBlue;

  @include desktop {
    background-size: cover;
  }

  @include laptop {
    background-size: auto;
  }

  @include tablet {
    background-image: url(./images/hero-bg.jpg);
    background-size: cover;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, $headerBlue 50%, rgba(7, 32, 52, 0) 100%);

    @include tablet {
      background-image: initial;
      background-color: rgba($color: $headerBlue, $alpha: 0.85);
    }
  }
}

.hero-main {
  position: relative;
  padding-top: rem(115px);
  padding-bottom: rem(70px);
  width: 60%;
  z-index: 1;

  @include laptop {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 40px;
  }

  @include tablet {
    width: 100%;
  }

  @include mobile {
    padding: 70px 0;
    padding-bottom: 40px;
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: rem(25px);
  font-size: rem(50px);
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;

  @include desktop {
    font-size: 3.025rem;
  }

  @include laptop {
    font-size: 50px;
  }

  span {
    font-size: rem(40px);
    color: $green;

    @include desktop {
      font-size: 1.9rem;
    }

    @include laptop {
        display: block;
        font-size: 36px;
    }

    @include mobile {
        font-size: 30px;
        margin-top: 10px;
    }

  }
}

.hero-description {
  margin: 0;
  font-size: rem(24px);
  color: #ffffff;
  opacity: 0.7;
  line-height: rem(30px);

  @include laptop {
    font-size: 24px;
    letter-spacing: -1.01px;
  }

  @include mobile {
    line-height: 24px;
    font-size: 18px;
    letter-spacing: -0.13px;
    opacity: 1;
  }
}

.hero-buttons {
  margin-top: rem(65px);
  margin-bottom: rem(110px);

  @include laptop {
      margin-top: 70px;
      margin-bottom: 120px;
  }

  @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
      margin-bottom: 85px;
  }

  .btn {
    font-size: rem(15px);

    @include laptop {
        min-width: 270px;
        margin-bottom: 15px;
    }
    
    @include mobile {
      max-width: 100%;
      margin-bottom: 0;
      min-width: initial;
      width: 270px;
    }
  }

  .btn-empty {
    margin-right: rem(30px);

    @include laptop {
        min-width: 270px;
        margin-bottom: 15px;
    }

    @include mobile {
        max-width: 100%;
        min-width: initial;
        width: 270px;
      margin-right: 0;
      
    }
  }
}

.hero-logos {
  display: flex;
  align-items: center;
  @include tablet {
    text-align: center;
  }
  a {
    display: inline-block;
    margin-right: rem(40px);

    &:last-child {
      margin-right: 0;
    }
  }

  img {
    width: 105px;
  }
}
