.section-news {
  .btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    &:hover {
      border-color: $green;
    }
  }
}
.news-list {
  margin: rem(70px) 0;
  margin-top: rem(95px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include desktop {
      margin-top: 70px;
  }

  @include mobile {
      margin-top: 65px;
  }
}

.news-item {
  position: relative;
  width: rem(370px);
  min-height: rem(505px);
  border-bottom: rem(2px) solid #d1dbe3;

  @include desktop {
    width: 18.925rem;
  }

  @include laptop {
      width: 100%;
      display: flex;
      min-height: initial;
      margin-bottom: 50px;

      &:last-child {
          margin-bottom: 0;
      }
  }

  @include tablet {
      flex-direction: column;
      padding: 70px 0;
      margin: 0;

      &:first-child {
          padding-top: 0;
      }
  }

  @include mobile {
        padding-bottom: 30px;
        padding-top: 30px;
  }
}

.news-item-img-wrapp {
  height: rem(200px);
  margin-bottom: 30px;

  @include laptop {
      flex-shrink: 0;
      width: 19.5rem;
      margin-right: 25px;
  }

  @include tablet {
    margin-right: 0;
    width: 100%;
    height: 200px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.news-item__header {
  display: inline-block;
  min-height: rem(57px);
  font-weight: 700;
  margin: 0;
  margin-bottom: rem(30px);
  text-decoration: none;
  color: $textBlue;

  @include desktop {
      margin-bottom: 20px;
  }

  @include laptop {
      min-height: initial;
  }

  @include tablet {
      margin-bottom: 0;
  }

  h5 {
    font-size: rem(24px);
    margin: 0;

    @include desktop {
        font-size: 1.3rem;
    }

    @include tablet {
        font-size: 24px;
        margin-bottom: 30px;
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.news-item-text {
  line-height: rem(24px);
  margin: 0;
}
