.section-projects {
    .btn {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 auto;

        &:hover {
            border-color: $green;
        }

        @include laptop {
            min-width: 270px;
        }

        @include mobile {
            width: 270px;
            min-width: initial;
            max-width: 100%;
        }
    }
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    margin: rem(55px) rem(-15px);

    @include laptop {
        margin: 70px -8px;
    }

    @include mobile {
        margin: 70px -5px;
    }
    
}

.projects-item {
    display: block;
    margin: rem(15px);
    width: rem(270px);
    height: rem(290px);

    @include desktop {
        margin: 0.5375rem;
        width: 23%;
    }

    @include laptop {
        width: calc(50% - 16px);
        height: 200px;
        margin: 8px;
    }

    @include mobile {
        width: calc(50% - 10px);
        margin: 5px;
        height: 154px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}