.section-approach {
    background-color: #edf0f1;
}

.approach-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: rem(70px);
    margin-right: rem(-30px);

    @include desktop {
        margin-right: -1.075rem;
        margin-top: 50px;
    }

    @include laptop {
        margin: 0 -8px;
        margin-top: 84px;
    }

    @include mobile {
        margin: 0;
        margin-top: 70px;
    }
}

.approach-item {
    background-color: #ffffff;
    border: rem(1px) solid #d1dbe3;
    width: rem(370px);
    min-height: rem(190px);
    margin-top: rem(30px);
    margin-right: rem(30px);
    padding-left: rem(30px);
    padding-top: rem(30px);
    padding-bottom: rem(30px);
    padding-right: rem(20px);

    @include desktop {
        margin-right: 1.075rem;
        width: 19.225rem;
    }

    @include laptop {
        width: calc(50% - 16px);
        padding-top: 40px;
        min-height: 256px;
        margin: 8px;
    }

    @include mobile {
        width: 100%;
        margin: 0;
        margin-bottom: 25px;


    }


    &:nth-child(n + 4) {
        width: rem(570px);
        padding-right: rem(40px);

        @include desktop {
            width: 29.425rem;
        }

        @include laptop {
            width: calc(50% - 16px);
        }

        @include mobile {
            width: 100%;
        }

    }

    &:last-child {
        @include laptop {
            width: 100%;

            .approach-item__title {
                flex-direction: row;
                align-items: flex-end;
            }

            span {
                text-align: left;
            }
        }

        @include mobile {
            margin-bottom: 0;

            .approach-item__title {
                flex-direction: column-reverse;
                align-items: center;
                text-align: center;
            }

            span {
                display: block;
                text-align: center;
            
            }
        }
    }

    span {
        letter-spacing: -0.44px;

        @include laptop {
            display: block;
            text-align: center;
            font-size: 16px;
        }
    }
}

.approach-item__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0;
    margin-bottom: rem(10px);
    font-size: rem(24px);
    letter-spacing: -0.44px;

    @include laptop {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    svg {
        position: relative;
        top: rem(-15px);

        @include desktop {
            width: 25%;
        }

        @include laptop {
            width: initial;
            top: initial;
            height: 105px;
            margin-bottom: 20px;
        }
    }
}