.section-contact {
  border: rem(1px) solid #707070;
  background-color: $headerBlue;

  .section__desc {
    color: #ffffff;
    opacity: 0.8;
  }
}

.contact-form {
  width: 66%;
  margin: auto;
  margin-top: 70px;

  @include laptop {
      width: 100%;
  }

  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(30px);

    @include mobile {
        flex-wrap: wrap;
    }
  }

  .col-half {
    width: 48%;

    @include mobile {
        width: 100%;
        margin-bottom: rem(30px);

        &:last-child {
            margin-bottom: 0;
        }
    }
  }

  .col-full {
      width: 100%;
  }

  .btn {
     position: relative;
     left: 50%;
     transform: translateX(-50%);
     margin-top: rem(30px);

     @include laptop {
         min-width: 270px;
     }

     @include mobile {
         max-width: 100%;
         width: 270px;
         min-width: initial;
     }
  }
}

.contact__label {
  display: block;
  font-family: Arial;
  color: #98a2a8;
  line-height: rem(21px);
  margin-bottom: rem(10px);
}

.contact__input {
  background-color: #f2f2f2;
  width: 100%;
  height: rem(37px);
  padding: 0 rem(15px);
  border: none;
  font-size: rem(16px);

  @include laptop {
      height: 50px;
  }
}

.contact__textarea {
    width: 100%;
    height: 180px;
    padding-left: rem(15px);
    padding-top: rem(15px);
    font-size: rem(16px);

    @include mobile {
        height: 200px;
    }
}
