.section-about {
  position: relative;
  padding-bottom: rem(90px);
  background-color: $headerBlue;

  @include laptop {
      display: flex;
      flex-direction: column-reverse;
      padding-top: 0;
  }

  @include mobile {
    padding-bottom: 50px;
  }

  .section__header {
    text-align: left;

    @include laptop {
        text-align: center;
    }
  }

  .section-about__desc {
    width: 50%;
    margin: 0;
    font-family: Arial;
    color: rgba($color: #fff, $alpha: 0.7);
    font-size: rem(24px);
    line-height: rem(30px);

    @include laptop {
        width: 80%;
        text-align: center;
        margin: auto;
    }

    @include mobile {
        width: 100%;
        font-size: 18px;
    }

  }

  .container {
    position: relative;

    @include laptop {
        padding-top: 70px;
    }

    svg {
      position: absolute;
      left: -25%;
      bottom: 0;

      @include laptop {
          display: none;
      }
    }
  }
}

.about-right {
  position: absolute;
  right: 0;
  top: -15px;
  width: 47%;
  height: calc(100% + 15px);
  background-image: url(./images/bg-about.png);
  background-repeat: no-repeat;
  background-size: cover;

  @include laptop {
    position: static;
    width: initial;
    background-image: url(./images/bg-about-mobile.png);
    background-color: #fff;
    height: 475px;
  }

  @include mobile {
      height: 280px;
  }
}

.about-bg__img {
  position: absolute;
  right: rem(-90px);
  top: rem(-15px);
  height: calc(100% + 15px);
}

.about-list {
  position: relative;
  margin-top: rem(80px);
  display: flex;
  z-index: 10;

  @include laptop {
      margin-top: 70px;
  }

  @include mobile {
    flex-wrap: wrap;
  }
}

.about-item {
  width: rem(200px);
  min-height: 125px;
  margin-right: rem(30px);
  border: rem(1px) solid #fff;
  padding: rem(23px) rem(20px) rem(13px) rem(20px);

  @include laptop {
      width: 33.3%;
      margin-right: 30px;

      &:last-child {
          margin-right: 0;
      }
  }

  @include mobile {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
}

.about-item__title {
  display: block;
  font-size: rem(36px);
  font-weight: 700;
  color: #ffffff;
  margin-bottom: rem(13px);
}

.about-item__desc {
  font-size: rem(14px);
  color: rgba($color: #fff, $alpha: 0.7);

  @include laptop {
      font-size: 18px;
  }
}
