.section-process {
  background-color: $headerBlue;
  padding-bottom: rem(70px);

  .container {
      position: relative;
  }

  .section__header {
    text-align: left;
    width: 50%;

    @include laptop {
        width: 100%;
        text-align: center;
    }

    @include mobile {
        width: 100%;
    }

    span {
        @include laptop {
            display: block;
        }
    }
  }
}

.process-list {
  margin-top: rem(80px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include laptop {
      margin-top: 90px;
  }

  @include mobile {
      margin-top: 70px;
  }
}

.process-item {
  width: 49%;
  min-height: rem(118px);
  padding: rem(20px);
  border: rem(1px) solid #d1dbe3;
  margin-bottom: rem(30px);

  @include laptop {
      width: 100%;
      margin-bottom: 30px;
      min-height: 118px;
  }

  @include mobile {
      border: 0;
      border-bottom: 1px solid #d1dbe3;
      padding-left: 0;

      &:last-child {
          border-bottom: 0;
          margin-bottom: 0;
          padding-bottom: 0;
      }
  }

  h5 {
    font-family: Arial;
    font-size: rem(24px);
    color: #ffffff;
    margin: 0;
    margin-bottom: rem(10px);
    font-weight: 400;

    @include desktop {
        font-size: 1.2rem;
    }

    @include laptop {
        font-size: 21px;
        min-height: initial;
    }

    @include mobile {
        font-size: 1.2rem;
    }
  }

  span {
    font-size: rem(16px);
    letter-spacing: -0.44px;
    color: #b7c5d1;
    line-height: rem(26px);

    @include desktop {
        font-size: 0.9rem;
    }

    @include laptop {
        font-size: 18px;
    }

    @include mobile {
        font-size: 16px;
    }
  }
}

.process-icon {
    position: absolute;
    left: rem(-260px);
    bottom: rem(30px);

    @include laptop {
        display: none;
    }
}

.process-icon2 {
    position: absolute;
    right: rem(-150px);
    top: rem(-20px);

    @include laptop {
        display: none;
    }
}
