.section-offer {
    background-color: #fff;
    padding-bottom: rem(115px);

    @include mobile {
        padding-bottom: 50px;
    }
}

.offer__header {
    font-size: rem(40px);
    font-weight: 700;
    color: $headerBlue;
    text-transform: uppercase;
    margin-bottom: rem(20px);
    margin-top: 0;
    text-align: center;

    @include mobile {
        font-size: 2.2rem;
    }
}

.offer-list {
    margin-top: rem(100px);
    display: flex;
    justify-content: center;

    @include laptop {
        flex-wrap: wrap;
    }

    @include mobile {
        margin-top: 50px;
    }
}

.offer-item {
    position: relative;
    width: 30%;
    margin: 0 rem(22px);

    @include laptop {
        width: 100%;
        display: flex;
        margin-bottom: 50px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @include laptop {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    }

    svg {
        position: relative;
        z-index: 10;
        height: 166px;

        @include laptop {
            flex-shrink: 0;
            min-width: initial;
            height: 168px;

        }
    }
}

.offer-item-text {
    @include mobile {
        margin-top: 20px;
    }
}

.offer-item__title {
    font-size: rem(30px);
    color: #0b3757;
    font-weight: 700;
    margin: rem(30px) 0 rem(20px);
    width: 70%;

    @include laptop {
        margin-top: 25px;
        margin-bottom: 25px;
        width: 100%;
        text-align: center;
    }

    @include tablet {
        width: 100%;
    }
}

.offer-item_-desc {
    margin: 0;
    line-height: rem(24px);

    @include laptop {
        width: calc(100% - 90px);
        letter-spacing: -0.4px;
        text-align: center;
        font-size: 18px;
        margin: 0 auto;
    }

    @include mobile {
        width: 100%;
        font-size: 16px;
    }
}