.contacts-hero {
  position: relative;
  background-color: $headerBlue;

  &:after {
    position: absolute;
    display: block;
    content: '';
    width: 400px;
    height: 450px;
    top: 28%;
    right: 1%;
    background-image: url('./images/gears.svg');
    background-size: cover;

    @include laptop {
      display: none;
    }
  }
}

.contacts-hero-main {
  max-width: 970px;
  margin: 0 auto;
  padding-top: 63px;
  padding-bottom: 100px;

  .contacts-header {
    margin-top: 0;
    margin-bottom: 69px;
    font-size: rem(40px);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #fff;

    span {
      color: $green;
    }

    @include mobile {
      font-size: rem(30px);
      line-height: rem(40px);
      margin-bottom: 29px;
    }
  }

  @include laptop {
    padding-top: 65px;
  }

  @include mobile {
    padding-top: 67px;
    padding-bottom: 70px ;
  }
}

.contacts-grid {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  height: 230px;
  margin-bottom: 30px;

  textarea {
    width: 100%;
    height: 100%;
    max-height: 115px;
    min-height: 115px;
    padding: 5px;
    resize: none;
    
    @include laptop {
      min-height: 150px;
    }
    
    @include mobile {
      min-height: 100px;
    }
  }

  input {
    width: 100%;
    min-height: 36px;
    padding: 0 5px;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;

    @include mobile {
      min-height: 40px;
    }
  }

  .contacts-form-group {
    width: 50%;
    margin-bottom: 16px;

    &:nth-of-type(-n + 3) {
      width: 45%;

      @include laptop {
        width: 48%;
      }
    }

    &:nth-of-type(3) {
      margin-bottom: 0;
    }

    &:last-of-type {
      flex: 1;
      margin-bottom: 0;
    }

    @include laptop {
      width: 48%;
    }

    @include mobile {
      width: 100%!important;
      margin-bottom: 20px!important;
    }
  }

  .contacts-label-text {
    margin-bottom: 5px;
    font-size: 15px;
    font-family: Arial, sans-serif;
    color: $textLightGrey;

    @include laptop {
      margin-bottom: 10px;
    }
  }

  @include laptop {
    flex-flow: row wrap;
    justify-content: space-between;
    height: auto;
  }

  @include mobile {
    display: block;
    margin-bottom: 20px;
  }
}

.contact-form-group--agreement {
  margin-bottom: 70px;
  color: #fff;
  font-size: 16px;
  font-family: Arial, sans-serif;

  input[type="checkbox"] {
    display: none;

    &:checked ~ span:before {
      content: '\2714';
      color: #00243b;
      font-size: 14px;
      text-align: center;
    }
  }

  label {
    cursor: pointer;
  }

  span {
    display: block;
    position: relative;
    padding-left: 30px;
    font-size: rem(16px);
    line-height: rem(20px);
    cursor: pointer;

    &:before {
      position: absolute;
      display: block;
      content: '';
      width: 15px;
      height: 15px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: #fff;

      @include laptop {
        top: 5px;
        transform: none;
      }
    }
  }

  a {
    color: #fff;
    cursor: pointer;
  }

  @include laptop {
    margin-bottom: 50px;
  }

  @include mobile {
    margin-bottom: 40px;
  }
}

.contacts-form button {
  display: block;
  width: 100%;
  max-width: 270px;
  min-height: 50px;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  background-color: $green;
  text-align: center;
  font-size: 16px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: .2s;

  &:hover {
    color: $green;
    background-color: #fff;
    border-color: #fff;
  }
}

.contacts-main .container {
  @include mobile {
    padding: 0;
  }
}
.offices-list-row {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;

  &:first-of-type {
    border-bottom: 2px solid $bggrey;

    .office-item:first-of-type .address-desc-contacts {
      margin-top: auto;
    }

    @include laptop {
      border-bottom: none;
    }
  }

  &:last-of-type .office-item:last-of-type .address-desc-contacts {
    margin-top: auto;
  }

  &:last-of-type .office-item:last-of-type {
    @include mobile {
      padding-bottom: 0;
    }
  }

  &:last-of-type .office-item:last-of-type .item-address-desc {
    @include mobile {
      border-bottom: none;
    }
  }

  .office-item {
    flex: 0 1 100%;
    display: flex;
    flex-direction: column;
    max-width: 570px;
    margin: 0 15px;

    &:last-of-type {
      margin-right: 0;
    }

    &:first-of-type {
      margin-left: 0;
    }

    @include desktop {
      margin: 0 10px;
    }

    @include laptop {
      margin: 0 auto !important;
      padding: 70px 0;
      border-bottom: 1px solid #D1DBE3;
    }

    @include mobile {
      padding: 0 0 70px;
      border-bottom: none;
    }
  }

  .item-map-container {
    height: 296px;
    min-height: 296px;
    margin-bottom: 100px;
    border: 1px solid $textLightGrey;

    @include laptop {
      margin-bottom: 70px;
    }

    @include  mobile {
      border: none;
      margin-bottom: 30px;
    }
  }

  .item-address {
    display: flex;
    height: 100%;

    @include mobile {
      display: block;
      padding: 0 9%
    }
  }

  .item-img-wrapper {
    flex: 1;
    min-width: 130px;
    max-width: 130px;
    margin-right: 5%;

    @include desktop {
      min-width: 95px;
      margin-right: 3%;
    }

    @include laptop {
      min-width: 130px;
      margin-right: 40px;
    }

    @include mobile {
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 30px;
    }
  }

  .item-address-desc {
    display: flex;
    flex: 0 1 100%;
    flex-direction: column;

    @include mobile {
      padding-bottom: 70px;
      border-bottom: 1px solid #D1DBE3;
    }
  }

  .address-desc-header {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: rem(30px);
    font-family: Arial, sans-serif;
    font-weight: bold;

    br.mobile {
      display: none;

      @include mobile {
        display: block;
      }
    }

    @include mobile {
      margin-bottom: 30px;
    }

    @include mobilemin {
      font-size: rem(26px);
    }
  }

  .address-desc-text {
    margin: 0;
    font-size: rem(20px);
    font-family: Arial, sans-serif;
    font-weight: normal;
    line-height: 30px;

    @include laptop {
      margin-bottom: 40px;
    }

    @include mobile {
      margin-bottom: 30px;
    }

    @include mobilemin {
      font-size: rem(16px);
    }
  }

  .address-desc-contacts {
    margin-top: 40px;
    margin-bottom: 0;
    font-size: rem(20px);
    font-family: Arial, sans-serif;
    font-weight: normal;
    line-height: rem(30px);

    a {
      display: block;
      text-decoration: none;
      color: $headerBlue;
    }

    @include laptop {
      margin-top: 0;
    }

    @include mobilemin {
      font-size: rem(16px);
    }
  }

  @include laptop {
    display: block;
    padding: 0;
  }
}

.wrapper--contacts .footer-top {
  align-items: center;
  padding-bottom: 70px;

  .footer-contact {
    width: auto;
    padding-top: 0;

    .btn {
      margin-top: 0;
    }
  }

  .footer-contact-block {
    display: none;
  }


  .footer-nav {
    display: flex;
    width: 100%;
    padding-top: 0;

    .btn-empty {
      margin-top: 0;
      margin-left: auto;
    }
  }

  .footer-nav ul {
    flex: 0 1 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 538px;
    margin-left: auto;

    li {
      margin-bottom: 0;
    }
  }

  @include laptop {
    display: none;
  }
}
.wrapper--contacts .footer-bottom {
  @include laptop {
    padding-top: 0;
  }
}
.wrapper--contacts .to-top {
  @include mobile {
    top: -66px;
  }
}
