.spr-hero {
  position: relative;
  padding-top: 43px;
  padding-bottom: 115px;
  background-repeat: no-repeat;
  background-size: cover;

  @include desktop {
    background-position: 30%;
  }
}
.spr-breadcrumbs {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-bottom: 25px;

  a  {
    text-decoration: none;
  }

  .spr-breadcrumbs-item  a {
    color: $textLightGrey;
    opacity: 0.7;
  }

  .spr-breadcrumbs-item:last-of-type a {
    opacity: 1;
  }
}
.spr-header {
  font-size: rem(40px);
  line-height: rem(50px);
  margin-bottom: 30px;
  color: #fff;
  text-transform: uppercase;
}
.spr-overview {
  position: relative;
  max-width: 700px;
  font-size: rem(20px);
  line-height: rem(30px);
  padding-left: 30px;
  color: #fff;

  &:before {
    position: absolute;
    display: block;
    content: '';
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: $textLightGrey;
  }
}
.spr-details {
  background-color: $bggrey;
  padding-top: 100px;
  padding-bottom: 103px;
}
.spr-details-wrapper {
  display: flex;
  justify-content: space-between;

  .spr-details-item {
    flex: 0 1 350px;
    padding-left: 30px;

    &:first-of-type,
    &:nth-of-type(2) {
      border-left: 2px solid $textLightGrey;
    }
  }

  .spr-details-item-header {
    margin-top: 0;
    margin-bottom: 30px;
    font-family: Arial, sans-serif;
    font-size: rem(30px);
    line-height: rem(45px);
    font-weight: normal;
    color: $textLightGrey;

    span {
      color: $textBlue;
    }
  }

  .spr-details-item-descr {
    font-size: rem(20px);
    line-height: rem(23px);
    color: $textBlue;
  }

  .spr-details-tech-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 5px;
    padding-left: 5px;
    list-style: none;
    max-height: 150px;
    color: $textBlue;
    font-size: rem(20px);
  }

  .spr-details-tech-item {
    position: relative;
    padding-left: 30px;
    line-height: 1;
    margin-bottom: 15px;

    &:before {
      position: absolute;
      display: block;
      content: '';
      width: 10px;
      height: 10px;
      background-color: $textGrey;
      border-radius: 50%;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .spr-details-logo-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 270px;
    height: 200px;
    border: 2px solid $textLightGrey;

    img {
      width: 100%;
      max-width: 125px;
    }
  }
}
.spr-description {
  padding-top: 100px;
  padding-bottom: 100px;
}
.spr-description-header {
  margin-bottom: 43px;
  font-family: Arial, sans-serif;
  font-size: rem(30px);
  line-height: rem(45px);
  font-weight: bold;
}
.spr-description-points-list {
  padding-left: 30px;
  list-style: none;
}
.spr-description-point {
  position: relative;
  margin-bottom: 33px;
  padding-left: 21px;
  font-family: Arial, sans-serif;
  font-size: rem(24px);
  line-height: rem(30px);

  &:before {
    position: absolute;
    display: block;
    content: '';
    left: 0;
    top: 10px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $textBlue;
  }
}
.spr-involve {
  padding-top: 92px;
  padding-bottom: 99px;
  background-color: $bggrey;
}
.spr-involve-header {
  font-size: rem(40px);
  line-height: rem(60px);
  text-transform: uppercase;

  span {
    color: $green;
  }
}
.spr-involve-points-list {
  position: relative;
  margin: 0;
  max-width: 90%;
  padding-top: 15px;
  padding-bottom: 15px;
  list-style: none;
  padding-left: 0;
  z-index: 5;

  &:before {
    position: absolute;
    display: block;
    content: '';
    width: 1px;
    height: 100%;
    left: 12.5px;
    top: 0;
    background-color: $textLightGrey;
  }
}
.spr-involve-point {
  position: relative;
  margin-bottom: 45px;
  padding-left: 95px;
  line-height: rem(30px);
  font-size: rem(24px);
  z-index: 10;

  &:last-of-type {
    margin-bottom: 0;
  }

  &:before {
    position: absolute;
    display: block;
    content: '';
    width: 25px;
    height: 25px;
    border: 2px solid $textGrey;
    background-color: $bggrey;
    border-radius: 50%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
.spr-comment {
  padding-top: 93px;
  padding-bottom: 99px;
  background-color: $textBlue;
}
.spr-comment-header {
  margin-bottom: 96px;
  font-size: rem(40px);
  line-height: rem(60px);
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;

  span {
    color: $green;
  }
}
.spr-comment-container {
  position: relative;

  &:before,
  &:after {
    position: absolute;
    display: block;
    content: '';
    background-image: url("./images/quotes.svg");
    background-size: cover;
    color: #fff;
    width: 20px;
    height: 40px;
    font-size: 40px;
  }

  &:before {
    left: 0;
    top: -10px;
  }
  &:after {
    right: 0;
    bottom: -10px;
  }
}
.spr-comment-text {
  padding-left: 100px;
  padding-right: 40px;
  margin-bottom: 37px;
  color: #fff;
  font-size: rem(24px);
  line-height: rem(30px);
  font-style: italic;

  &:last-of-type {
    margin-bottom: 0;
  }
}
.spr-comment-author {
  margin-top: 42px;
  font-size: rem(24px);
  line-height: rem(32px);
  color: $textGrey;
  text-align: right;
}
.spr-back-to-projects-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 50px;
  margin: 68px auto 0;
  color: $green;
  text-transform: uppercase;
  font-size: rem(15px);
  line-height: rem(17px);
  font-weight: bold;
  text-decoration: none;
  border: 2px solid $green;
  transition: .2s;

  &:hover {
    background-color: $green;
    color: #fff;
  }
}
