.page-projects {
  .projects-hero {
    position: relative;
    padding-top: 111px;
    padding-bottom: 149px;
    background-image: url(./images/projects-hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 100%;
  }

  .projects-header {
    font-size: rem(50px);
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    line-height: rem(70px);
    margin: 0 0 30px;

    span {
      color: $green;
    }
  }

  .projects-description {
    max-width: rem(700px);
    font-size: rem(24px);
    color: #ffffff;
    line-height: 30px;
    margin: 0;
    margin-top: 24px;
    opacity: 0.7;
  }
}
.projects-main {
  position: relative;
  background-color: $bggrey;

  &:before {
  }
}
.projects-page-list {
  padding-top: 100px;
  padding-bottom: 100px;
}
.project-item {
  position: relative;
  display: flex;
  min-height: 290px;
  margin-bottom: 30px;
  background-color: #fff;
  border: 1px solid #D1DBE3;
  text-decoration: none;

  &:last-of-type {
    margin-bottom: 0;
  }

  .project-img-container {
    min-width: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .project-desc {
    padding: rem(60px);
  }

  .project-desc-header {
    margin-bottom: 30px;
    margin-top: 0;
    font-family: Arial, sans-serif;
    font-size: rem(34px);
    line-height: rem(46px);
    font-weight: 400;
    letter-spacing: -0.29px;
    color: $textBlue;
  }

  .project-desc-text {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: rem(24px);
    line-height: rem(30px);
    letter-spacing: -0.27px;
    color: $textBlue;
    opacity: 0.7;
  }

  .project-link-icon {
    position: absolute;
    display: block;
    content: '';
    width: 52px;
    height: 36px;
    bottom: 30px;
    right: 30px;
    background-image: url("./images/project-link-icon.svg");
  }
}
.projects-adds {
  padding-top: 95px;
  padding-bottom: 158px;
  
  .container {
    max-width: 1070px;
  }

  .adds-header {
    margin-bottom: 107px;
    text-align: center;
    font-size: rem(40px);
    line-height: rem(53px);
    text-transform: uppercase;

    span {
      color: $green;
    }
  }

  .adds-wrapper {
    display: flex;
    justify-content: space-between;

    .adds-item {
      display: flex;
      flex-direction: column;
      flex: 0 1 467px;
      text-align: center;
    }

    &:last-of-type .adds-item-img {
      width: 270px;
    }

    .adds-item-img {
      width: 227px;
      margin: 0 auto;

      img {
        max-width: 100%;
      }
    }
  }

  .adds-item-header {
    font-size: rem(30px);
    line-height: rem(39px);
    margin-top: 26px;
    margin-bottom: 29px;
    font-weight: bold;
    color: $textBlue;
  }

  .adds-item-text {
    margin-bottom: 82px;
    font-size: rem(16px);
    line-height: rem(24px);
    color: $textBlue;
  }

  .adds-item-link {
    display: flex;
    height: 50px;
    margin: auto auto 0;
    align-items: center;
    justify-content: center;
    width: 270px;
    background-color: $green;
    font-size: rem(18px);
    line-height: rem(18px);
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: .2s;
    border: 2px solid $green;

    &:hover {
      background-color: #ffffff;
      color: $green;
    }
  }
}
