<div class="popup">
    <div class="popup-main">
        <p>E-ngineers использует cookie (файлы с данными о прошлых посещениях сайта) для персонализации сервисови удобства пользователей. Продолжая использовать данный сайт, вы подтверждаете свое согласие на использование файлов cookie. </p>

        <button href="#" class="btn-empty js-popup-close">ok</button>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <a href="/" class="logo">
                <img src="./images/logo.svg" alt="">
                <span>E-ngineers</span>
            </a>
            <div class="footer-nav">
                <ul>
                    <li>
                        <a href="./services.html">Услуги</a>
                    </li>
                    <li>
                        <a href="./expertise.html">Экспертиза</a>
                    </li>
                    <li>
                        <a href="#">Проекты и решения</a>
                    </li>
                    <li>
                        <a href="#">О нас</a>
                    </li>
                    <li>
                        <a href="#">Блог и новости</a>
                    </li>
                    <li>
                        <a href="#">Контакты</a>
                    </li>
                </ul>
                <a href="#" class="btn-empty">Контакты</a>
            </div>
            <div class="footer-contact">
                <div class="footer-contact-block">
                    <h5>Московский офис</h5>
                    <p class="footer__address">
                        Москва-Сити, Пресненская наб.12, <br>
                        башня Федерация-Восток, оф. Б2, <br>
                        123100, Москва, Россия
                        <a href="tel:+79299050807">+7 929 905 08 07</a>
                    </p>
                </div>
                <div class="footer-contact-block">
                    <h5>Dedicated Engineers B.V.</h5>
                    <p class="footer__address">
                        World Trade Centre The Hague<br>
                        ул. Принсес Маргриетплантсун 33,<br>
                        2595AM, Гаага, Нидерланды
                        <a href="tel:+31651245088">+ 31 6 5124 50 88</a>
                    </p>
                </div>
            </div>
            <div class="footer-contact">
                <div class="footer-contact-block">
                    <h5>Центр разработки</h5>
                    <p class="footer__address">
                        БЦ "Граффити", Кондратьевский пр. 15,
                        <br class="is-mobile"> корп. 5, офис 310, <br>
                        195197, Санкт-Петербург, Россия
                        <a href="tel:+781241492861">+7 812 414 92 86</a>
                    </p>
                </div>
                <div class="footer-contact-block">
                    <h5>Центр разработки</h5>
                    <p class="footer__address">
                        Ул. Авакяна 21, 4 этаж, <br>
                        220039, Минск, Беларусь <br>
                       
                        <a href="tel:+781241492861">+3 752 967 87 009</a>
                        <a href="mailto:minsk@e-ngineers.com">minsk@e-ngineers.com</a>
                    </p>
                </div>

            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-policy">
                <span> <a class="footer__mail-link" href="#">Политика конфиденциальности.</a> 
                    По вопросам конфиденциальности и обработки персональных данных Вы можете связаться с нами по адресу <a class="footer__mail-link footer__mail-link--inline" href="mailto:dev@e-ngineers.com">
                         dev@e-ngineers.com</a>
                </span>
                <span>
                    E-ngineers
                    <a href="mailto:sales@e-ngineers.com">sales@e-ngineers.com</a><br class="is-mobile"> © 2014-2020 All Rights
                    Reserved
                </span>
            </div>
            <div class="footer-partners">
                <div class="footer-partners-logo">
                    <a href="" target="_blank">
                        <img src="./images/logo-apple.png" alt="">
                    </a>
                    <a href="" target="_blank">
                        <img src="./images/logo-microsoft.png" alt="">
                    </a>
                </div>
                <a href="#" class="btn-empty">Контакты</a>
            </div>
        </div>
        <div class="to-top">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="23" viewBox="0 0 18 23">
                <g>
                    <g clip-path="url(#clip-17717b6c-6611-4c4c-bb5d-6634b7ea245c)">
                        <path fill=""
                            d="M.301 7.454c-.35.302-.35.804 0 1.117a.963.963 0 0 0 1.24 0l6.355-5.663v18.687c.001.435.39.781.879.781.488 0 .89-.346.89-.781V2.908l6.343 5.663c.35.302.915.302 1.253 0 .35-.313.35-.816 0-1.117L9.4.45a.938.938 0 0 0-1.24 0z" />
                    </g>
                </g>
            </svg>
        </div>
    </div>
</footer>
<script>
    let toTop = document.querySelector('.to-top');

    toTop.addEventListener('click', () => {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    });

    let popupClose = document.querySelector('.js-popup-close');

    popupClose.addEventListener('click',()=> document.querySelector('.popup').classList.add('popup--close'));
</script>