<div class="header">
    <div class="container">
        <a href="/" class="logo">
            <img src="./images/logo.svg" alt="">
            <span>E-NGINEERS</span>
        </a>
        <div class="header-menu-block">
            <div class="top-menu">
                <ul>
                    <li class="active">
                        <a href="./services.html">УСЛУГИ</a>
                    </li>
                    <li>
                        <a href="./expertise.html">ЭКСПЕРТИЗА</a>
                    </li>
                    <li>
                        <a href="./projects.html">ПРОЕКТЫ И РЕШЕНИЯ</a>
                    </li>
                    <li>
                        <a href="./about.html">О НАС</a>
                    </li>
                    <li>
                        <a href="/newsblog.html">БЛОГ И НОВОСТИ</a>
                    </li>
                </ul>
            </div>
            <div class="header-right">
                <a href="./contacts.html" class="btn">Контакты</a>
                <div class="change-lang">
                    <!-- <select>
                        <option value="Ru">RU</option>
                        <option value="En">EN</option>
                        <option value="Ned">NL</option>
                    </select> -->
                    <div class="chang-lang-select">
                        <span class="chang-lang-select__selected">Ru</span>
                        <div class="change-lang-options">
                            <span class="selected">Ru</span>
                            <span>Eng</span>
                            <span>Nl</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="burger">
            <span></span>
        </div>
    </div>

</div>
<script>
    let burgerBtn = document.querySelector('.burger');
    let menu = document.querySelector('.header-menu-block');

    burgerBtn.addEventListener('click', function () {
        let heightMenu;

        if (window.innerWidth < 540) {
            heightMenu = "100vh"
        } else {
            heightMenu = menu.scrollHeight + 'px';
        }

        burgerBtn.classList.toggle('active');

        if (menu.style.height) {
            menu.removeAttribute('style');
        } else {
            menu.style.height = heightMenu;
        }
    })

    /* cusom select (change lang) */
    if (window.innerWidth > 1024) {

        let select = document.querySelector('.chang-lang-select__selected');

        select.addEventListener('click', function () {
            document.querySelector('.chang-lang-select').classList.toggle('open');
        });

        let selectOption = document.querySelectorAll('.change-lang-options span');

        for (let i = 0; i < selectOption.length; i++) {
            selectOption[i].addEventListener('click', function () {
                let text = this.textContent;
                select.textContent = text;
                document.querySelector('.chang-lang-select').classList.remove('open');
            })
        }
    }
</script>
