.bredcrumbs {
    padding: 50px 0;
    background-color: #0e3f67;

    ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        flex-wrap: wrap;

        li {
            margin-right: 10px;

            a {
                position: relative;
                text-decoration: none;
                color: $textBlue;
                color: #fff;
                white-space: nowrap;

                &:after {
                    content: " /";
                }

            }

            span {
                color: #fff;
                font-weight: 600;
            }
        }
    }
}