// Colors
$textBlue: #0b3757;
$headerBlue: #0e3f67;
$green:#44ba17;
$bggrey: #EDEFF1;
$textLightGrey: #98A2A8;
$textGrey: #707070;

// Breakpoints
$mobile: 540px;
$mobilemin: 320px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1420px;


@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin mobilemin {
  @media (max-width: $mobilemin) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: $laptop) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}

