@font-face {
  font-family: "Helios Cond";
  src: url("./fonts/HeliosCond.eot");
  src: url("./fonts/HeliosCond.eot?#iefix") format("embedded-opentype"), url("./fonts/HeliosCond.woff") format("woff"),
    url("./fonts/HeliosCond.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
