.footer {
    padding-top: rem(110px);
    padding-bottom: rem(70px);
    background-color: #00243b;

    @include laptop {
        position: relative;
    }

    @include tablet {
        padding-top: 100px;
        padding-bottom: 95px;
    }

    @include mobile {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .logo {
        @include tablet {
            display: none;
        }
    }

    .container {
        position: relative;
    }
}

.footer-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: rem(30px);
    border-bottom: rem(1px) solid rgba($color: #fff, $alpha: 0.2);

    @include tablet {
        flex-wrap: wrap;
        border: none;
    }

    @include mobile {
        padding-bottom: 0;
    }
}

.footer-nav {
    @include laptop {
        display: none;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            margin-bottom: rem(10px);

            a {
                font-family: Arial;
                text-decoration: none;
                font-size: rem(14px);
                color: #98a2a8;
                transition: 0.2s;

                &:hover {
                    color: #fff;
                }
            }
        }
    }

    .btn-empty {
        min-width: rem(170px);
        width: rem(170px);
        height: rem(40px);
        font-family: "Helios Cond";
        font-size: rem(16px);
        font-weight: 400;
        margin-top: rem(25px);

        @include mobile {
            width: 100%;
        }
    }
}

.footer-contact {
    width: 26%;

    @include laptop {
        width: 35%;
    }

    @include tablet {
        width: 47%;
    }

    @include mobile {
        width: 100%;
    }
}

.footer-contact-block {
    margin-bottom: rem(35px);

    h5 {
        margin-top: 0;
        color: #ffffff;
        font-family: Arial;
        font-size: rem(16px);
        font-weight: 700;
        line-height: rem(21px);
        margin-bottom: rem(16px);
    }
}

.footer__address {
    font-family: Arial;
    font-size: rem(16px);
    line-height: rem(24px);
    color: #98a2a8;
    margin: 0;

    a {
        display: block;
        text-decoration: none;
        color: #98a2a8;
    }

    br {
        &.is-mobile {
            display: none;

            @include mobile {
                display: block;
            }
        }
    }
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: rem(70px);

    @include laptop {
        flex-direction: column-reverse;
    }

    @include mobile {
        padding-top: 35px;
    }
}

.footer-policy {
    flex: 1;

    @include laptop {
        text-align: left;
        margin-bottom: 0;
    }

    @include mobile {
        font-size: 14px;
    }

    .is-mobile {
        display: none;

        @include mobile {
            display: block;
        }
    }

    span {
        display: block;
        font-family: Arial;
        color: #ffffff;
        font-weight: 400;
        margin-bottom: rem(17px);

        &:last-child {
            margin-bottom: 0;
        }

        a {
            font-family: Arial;
            text-decoration: underline;
            color: #ffffff;
            

            &.footer__mail-link {
                text-decoration: underline;
                white-space: nowrap;

                @include mobile {
                    display: block;
                }

                &--inline {
                    display: inline !important;
                }
            }
        }

        @include mobile {
            line-height: 21px;
        }
    }
}

.footer-partners {
    display: flex;
    justify-content: center;
    align-items: center;

    @include laptop{
        justify-content: space-between;
        margin-bottom: 100px;
    }

    @include mobile {
        margin-bottom: 70px;
    }

    a {
        margin-left: rem(40px);

        &:first-child {
            @include laptop {
                margin-left: 0;
            }
        }
    }

    img {
        width: 105px;
        max-width: 105px;

        @include tablet {
            width: 110px;
        }
    }

    .btn-empty {
        display: none;
        font-family: "Helios Cond", sans-serif;
        font-weight: 400;
        font-size: rem(17px);

        @include laptop {
            display: flex;
            min-width: 170px;
        }

        @include mobile {
            display: none;
        }
    }
}

.footer-partners-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    @include mobile {
        width: 100%;
        justify-content: space-between;
    }

    &--contacts {
        display: none;
    }
}

.to-top {
    position: absolute;
    bottom: 256px;
    right: -125px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 2px solid #44ba17;
    cursor: pointer;

    svg {
        fill: #44ba17;
        stroke: #44ba17;
    }

    @include desktop {
        right: -50px;
    }

    @include laptop {
        bottom: initial;
        top: -75px;
        right: 14px;
        background-color: #EDF0F1;
        border-color: #D1DBE3;

        svg {
            fill: #0E3F67;
            stroke: #0E3F67;
        }
    }

    @include mobile {
        right: 3px;
        top: -43px;
    }
}
