.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #00243b;
    z-index: 100;

    @include laptop {
        height: 115px;
    }

    .container {
        position: relative;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;

    &:focus {
        color: #fff;
    }

    img {
        max-width: rem(64px);

        @include laptop {
            max-width: 48px;
        }
    }

    span {
        font-family: "Helios Cond";
        font-size: rem(20px);
        color: #ffffff;
        margin-left: rem(17px);
        white-space: nowrap;
        text-transform: uppercase;

        @include desktop {
            font-size: 18px;
        }

        @include laptop {
            font-size: 16px;
            margin-left: 9px;
        }
    }
}

.header-menu-block {
    display: flex;
    align-items: center;

    @include laptop {
        position: absolute;
        top: 115px;
        left: -50px;
        min-width: 456px;
        padding: 0 80px;

        background-color: #00243b;
        flex-direction: column;
        overflow: hidden;
        transition: 0.5s;
        height: 0;
    }

    @include mobile {
        width: 100%;
        min-width: initial;
        left: 0;
        padding: 0 9%;
    }

}

.top-menu {
    margin-left: 50px;
    margin-right: 40px;


    @include desktop {
        margin: 0 30px;
    }

    @include laptop {
        margin: 0;
        width: 100%;
        padding-top: 24px;
        padding-bottom: 70px;
    }

    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        @include laptop {
            flex-direction: column;
        }

        li {
            margin: 0 20px;

            @include desktop {
                margin: 0 10px;
            }

            @include laptop {
                margin: 0;
                margin-bottom: 20px;
            }

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;

                @include laptop {
                    margin-bottom: 0;
                }
            }

            &.active {
                a {
                    color: #44BA17;

                    @include laptop {
                        border-color: #44BA17;
                    }

                    @include mobile {
                        border-color: transparent;
                        color: #98a2a8;
                        background-color: rgba($color: #d1dbe3, $alpha: .2);
                    }
                }
            }

            a {
                font-family: "Helios Cond";
                padding: rem(10px) 0;
                font-size: 16px;
                text-decoration: none;
                color: #98a2a8;
                text-transform: uppercase;
                transition: 0.2s;

                @include laptop {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    min-height: 50px;
                    padding-left: 20px;
                    border: 1px solid #98a2a8;
                }

                @include mobile {
                    border-color: rgba($color: #98a2a8, $alpha: 0.2);
                }

                &:hover {
                    color: #44BA17;

                    @include mobile {
                        border-color: transparent;
                        color: #98a2a8;
                        background-color: rgba($color: #d1dbe3, $alpha: .2);
                    }
                }
            }
        }
    }
}

.header-right {
    display: flex;
    align-items: center;

    @include laptop {
        width: 100%;
        flex-direction: column;
    }

    .btn {
        height: rem(40px);
        min-width: rem(170px);
        font-weight: 400;
        background-color: transparent;
        font-family: "Helios Cond";
        color: $green;

        @include desktop {
            min-width: 130px;
        }

        @include laptop {
            width: 100%;
            height: 50px;
        }

        &:hover {
            color: #fff;
            background-color: $green;
            border-color: $green;
        }
    }
}

.change-lang {
    margin-left: rem(50px);

    @include desktop {
        margin-left: 25px;
    }

    @include laptop {
        width: 100%;
        margin-left: 0;
        margin-top: 70px;
        margin-bottom: 70px;
    }

    select {
        background-color: transparent;
        border: none;
        font-family: "Helios Cond";
        font-size: rem(20px);
        text-transform: uppercase;
        color: #ffffff;
        outline: none;

        option {
            color: #000;
        }
    }
}

.chang-lang-select {
    position: relative;
    min-width: 43px;
    font-family: "Helios Cond";
    font-size: 20px;
    color: #fff;

    text-transform: uppercase;
    cursor: pointer;

    &.open {
        .change-lang-options {
            max-height: 500px;
        }
    }

    @include laptop {
        width: 100%;
    }
}

.chang-lang-select__selected {
    position: relative;
    padding-right: 10px;

    @include laptop {
        display: none;
    }

    &:after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 0;
        height: 0;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 6px solid #fff;
    }
}

.change-lang-options {
    position: absolute;
    margin-top: 5px;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s;

    @include laptop {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        max-height: initial;
        margin-top: 0;

        &::before {
            content: "";
            display: inline-block;
            margin-right: 25px;
            width: 35px;
            height: 35px;
            background: url(./images/earth-globe.svg) no-repeat center;
            background-size: contain;
        }
    }

    span {
        display: block;
        color: #000;
        background-color: #fff;
        padding: 0 5px;
        transition: 0.2s;
        cursor: pointer;

        &:hover {
            background-color: #efefef;
        }

        @include laptop {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            padding: 0;
            color: rgba($color: #fff, $alpha: 0.5);
            border: 1px solid rgba($color: #fff, $alpha: 0.2);
            font-size: 16px;
            font-weight: 400;
            width: 68px;
            height: 50px;
            margin-right: 10px;

            &:hover {
                background-color: transparent;
            }

            &:last-child {
                margin-right: 0;
            }

            &.selected {
                color: #fff;
                border-color: #fff;
            }
        }
    }
}

.burger {
    position: relative;
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;

    &.active {
        span {
            width: 0;

            &:after {
                transform: rotate(-45deg);
                top: 0;
            }

            &::before {
                transform: rotate(45deg);
                top: 0;
            }
        }
    }

    @include laptop {
        display: block;
    }

    span {
        position: absolute;
        left: 0;
        top: calc(50% - 1.5px);
        height: 3px;
        width: 15px;
        border-radius: 2px;
        background: #98a2a8;
        transition: 0.3s;

        &:after {
            content: "";
            position: absolute;
            width: 23px;
            height: 3px;
            bottom: -10px;
            background: #98a2a8;
            border-radius: 2px;
            transition: 0.3s;
        }

        &:before {
            content: "";
            position: absolute;
            width: 23px;
            height: 3px;
            top: -10px;
            background: #98a2a8;
            border-radius: 2px;
            transition: 0.3s;
        }
    }
}