* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;

  @include desktop {
    font-size: 15px;
  }

  @include laptop {
    font-size: 14px;
  }
}

body {
  font-family: "Roboto";
  font-size: 16px;
  color: $textBlue;
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 10px;

  @include desktop {
    max-width: 960px;
  }

  @include laptop {
    max-width: 760px;
    
  }

  @include tablet {
    max-width: 100%;
    padding: 0 10%;
  } 

  @include mobile {
      padding: 0 9%;
  }

}

.wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 100px;

  @include laptop {
    padding-top: 115px;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  min-width: rem(270px);
  height: rem(50px);
  border: 2px solid $green;
  background-color: $green;
  font-family: Arial;
  font-size: rem(16px);
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    background-color: #4ACC19;
    border-color: #4ACC19;
  }
}

.btn-empty {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  min-width: rem(270px);
  height: rem(50px);
  border: 2px solid $green;
  background-color: transparent;
  font-family: Arial;
  font-size: rem(16px);
  font-weight: 700;
  text-transform: uppercase;
  color: #44ba17;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    background-color: #4ACC19;
    color: #fff;
    border-color: #4ACC19;
  }
}

.section__header {
  margin: 0;
  margin-bottom: rem(18px);
  font-size: rem(40px);
  font-weight: 700;
  line-height: rem(53px);
  color: #fff;
  text-transform: uppercase;
  text-align: center;

  @include desktop {
    font-size: 2.3rem;
  }

  @include mobile {
    font-size: 30px;
    letter-spacing: -0.9px;
    line-height: 40px;
  }

  span {
    color: $green;
  }

  &--blue {
    color: $headerBlue;
  }
}

.section__desc {
  width: 59%;
  margin: 0 auto;
  text-align: center;
  font-family: Arial;
  font-size: rem(24px);
  font-weight: 400;
  line-height: rem(30px);
  color: #00243b;
  opacity: 0.8;

  @include desktop {
    width: 80%;
  }

  @include mobile {
    width: 100%;
    font-size: 18px;
  }
}

.section {
  padding: rem(100px) 0;

  @include mobile {
    padding: 70px 0;
  }
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
