.pagination {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        li {
            margin: 5px;

            &.inactive {
                a {
                    opacity: 0.6;

                    &::after {
                        border-color: rgba($color: #0b3757, $alpha: .6);
                    }
                }
            }

            &:first-child {
                a {
                    position: relative;
                    display: block;

                    &:after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) rotate(45deg);
                        width: 8px;
                        height: 8px;
                        border-bottom: 2px solid #0b3757;
                        border-left: 2px solid #0b3757;
                        
                    }
                }
            }

            &:last-child {
                a {
                    position: relative;
                    display: block;

                    &:after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) rotate(-135deg);
                        width: 8px;
                        height: 8px;
                        border-bottom: 2px solid #0b3757;
                        border-left: 2px solid #0b3757;
                        
                    }
                }
            }

            a {
                display: block;
                box-sizing: content-box;
                color: #0b3757;
                padding: 7px;
                width: 15px;
                height: 15px;
                line-height: 15px;
                text-align: center;
                text-decoration: none;
                font-weight: 600;
            }
        }
    }
}