.popup {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    width: 90%;
    max-width: 1170px;
    padding: 50px 70px;
    background-color: #00243B;
    font-size: 20px;
    color: rgba($color: #fff, $alpha: 0.7);
    text-align: center;
    border-radius: 25px;
    opacity: 1;
    transition: 0.3s;
    z-index: 10;

    @include tablet {
        padding: 50px;
    }

    @include mobile {
        padding: 40px 20px;
    }

    &.popup--close {
        opacity: 0;
        visibility: hidden;
        width: calc(100% - 20px);
    }

    p {
        margin-top: 0;
        margin-bottom: 25px;
        font-size: 20px;

        @include mobile {
            font-size: 18px;
        }
    }
}