.single-post {
    .bredcrumbs {
        background-color: #edf0f1;
    }

    .bredcrumbs ul li a {
        color: #0b3757;
    }

    .bredcrumbs ul li span {
        color: #0b3757;
    }

    .page-content {
        background-color: #edf0f1;

        .container {
            padding-bottom: 70px;
        }
    }
}

.post {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
    background-color: #fff;
    margin-bottom: 50px;
}

.post-date {
    padding: 5px 30px;
    background-color: #0e3f67;
    color: #fff;
}

.post-main {
    padding: 20px 30px;
}

.post-btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.interested-posts {
    padding: 70px 0;
    background-color: #0e3f67;
}

.interested-list {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

    @include tablet {
        flex-direction: column;
    }
} 

.interested-item {
    max-width: 40%;
    text-decoration: none;
    color: #0e3f67;
    background-color: #fff;

    @include tablet {
        max-width: 100%;
        width: 100%;
        margin-bottom: 30px;
    }

    img {
        display: block;
        width: 100%;
    }

    p {
        font-weight: 400;
        font-size: 15px;
        padding: 0 20px;
    }
}