.page-expertise {
  .services-hero {
    background-image: linear-gradient(to right, #0e3f67 55%, rgba(7, 32, 52, 0) 100%), url(./images/expertise-bg.jpg);
  }
}

.expertise-main {
  background-color: #edf0f1;

  .container {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: rem(600px);
      left: rem(-450px);
      display: block;
      width: rem(404px);
      height: rem(452px);
      background: url(./images/gears.png) center no-repeat;
      background-size: contain;
    }
  }
}

.expertise-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 rem(-15px);

  @include tablet {
    margin: 0;
    justify-content: space-between;
  }
}

.expertise-item {
  width: rem(370px);
  min-height: rem(393px);
  position: relative;
  background-color: #fff;
  border: rem(1px) solid #d1dbe3;
  margin: rem(15px);
  padding: 30px;

  cursor: pointer;

  @include desktop {
    width: 19.625rem;
    min-height: 22.7625rem;
  }

  @include laptop {
    width: 16.325rem;
    min-height: 17.7625rem;
  }

  @include tablet {
    width: 48%;
    margin-left: 0;
    margin-right: 0;
  }

  @include mobile {
    width: 100%;
    min-height: 320px;

  }

  &:nth-child(-n + 3) {
    order: -4;
  }

  &:nth-child(n + 4) {
    order: -3;
  }

  &:nth-child(n + 7) {
    order: -2;
  }

  &:nth-child(n + 10) {
    order: -1;
  }

  &:hover:after {
    right: rem(20px);
  }

  &.active {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-bottom: rem(80px);

    @include tablet {
      flex-direction: column-reverse;
      
    }

    @include mobile {
      flex-direction: column-reverse;
     
    }

    .expertise-item__header {
      min-height: initial;
    }

    .expertise-item-text {
      margin-left: rem(70px);

      @include tablet {
        margin-left: 0;
        margin-top: 30px;
      }
    }

    .expertise-item-text ul {
      display: block;
      padding: 0;
      list-style: none;
      list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);

      @include mobile {
        margin-bottom: 30px;
      }
      
      li {
        position: relative;
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 6px;
        color: $headerBlue;
        padding-left: 30px;

        &:after {
          content: "";
          position: absolute;
          left: 0;
          top: 8px;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: $headerBlue;
        }

        @include mobile {
          letter-spacing: -0.54px;
          padding-left: 23px;
          margin-bottom: 12px;
        }
      }
    }

    &:after {
      transform: rotate(180deg);
    }

    &:hover:after {
      right: rem(30px);
    }

    .expertise-item-icon {
      width: initial;

      svg {
        max-width: initial;
      }
    }
  }

  &:after {
    content: "";
    position: absolute;
    right: rem(30px);
    bottom: rem(38px);
    width: rem(50px);
    height: rem(36px);
    background-image: url(./images/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.2s;
  }
}

.expertise-item-icon {
  width: 55%;

  @include tablet {
    width: initial;
  }

  svg {
    max-width: 100%;

    @include laptop {
      height: 100px;
    }

    @include tablet {
      height: 150px;
    }
  }
}

.expertise-item-text ul {
  display: none;
}

.expertise-item__header {
  min-height: rem(65px);
  margin-top: 0;
  margin-bottom: rem(28px);
  font-family: Arial;
  font-size: rem(30px);
  font-weight: 700;
  letter-spacing: -0.83px;
  line-height: rem(30px);
  color: $headerBlue;

  @include desktop {
    font-size: 1.375rem;
    line-height: 1.575rem;
  }

  @include tablet{
    font-size: 24px;
  }

  @include mobile {
    min-height: initial;
    letter-spacing: 0.24px;
    line-height: 30px;
    }
}
