.page-web-app {
  .services-hero {
    background-size: cover;
    background-position: center;
    background-image: url(./images/web-app-bg.jpg);

    @include tablet {
        background-image: url(./images/extra2-bg-tablet.jpg);
        background-position: left;
    }
  }

  .services-hero-main {
    width: 100%;
  }

  .services-header {

    @include mobile {
        font-size: 34px;
        letter-spacing: -1.02px;
    }

    br {
      display: block;

      @include mobile {
          display: none;
      }
    }

    span {
        @include tablet {
            font-size: 30px;
            width: 70%;
        }

        @include mobile {
            width: 100%;
            font-size: 18px;
        }
    }
  }

  .services__description {
    width: 100%;
  }

  .section-offer {
      .section__desc {
          width: 70%;

          @include tablet {
              width: 100%;
          }
      }
  }

  .offer-item__title {
    width: 100%;

    @include laptop {
        text-align: left;
    }

    @include mobile {
        margin-top: 0;
    }
  }

  .offer-item {
      padding-bottom: 50px;
      border-bottom: 2px solid #d1dbe3;

      @include laptop {
          align-items: flex-start;
      }

      &:last-child {
          @include laptop {
            border: none;
            padding-bottom: 0;
          }
        
      }

      svg {
          @include mobile {
              width: initial;
              height: 110px;
          }
      }
  }

  .offer-item_-desc {
      @include laptop {
          text-align: left;
          width: 100%;
      }
  }

  .section-do-list {
      @include tablet {
          margin: 0;
          margin-top: 100px;
      }

      @include mobile {
          margin-top: 70px;
      }
  }

  .section-do-item {
      min-height: 546px;

      @include laptop {
          min-height: 335px;
      }

      @include tablet {
          position: relative;
          margin: 0;
          margin-bottom: 30px;
          width: 100%;
      }

      @include mobile {
          margin-bottom: 0;
      }

      h4 {
          @include tablet {
              padding-right: 30%;
              margin-bottom: 25px;
          }

          @include mobile {
              padding-right: 0;
          }
      }

      svg {
          @include tablet {
              position: absolute;
          }

          @include mobile {
              position: static;
          }
      }
    
  }
}

.section-process--white {
    background-color: #edf0f1;

    @include mobile {
        background-color: #fff;
    }

    .section__header {
        text-align: center;
        width: 100%;
    }

    .process-list {
        margin-bottom: 50px;
    }

    .process-item {
        background-color: #fff;

        @include mobile {
            padding: 0;
            padding-bottom: 30px;
        }

        h5 {
            color: #0e3f67;

            @include mobile {
                font-size: 24px;
                margin-bottom: 15px;
            }
        }

        span {
            color: #567894;
        }

        &:last-child {
            border-bottom: 1px solid #d1dbe3;
        }
    }

    .btn {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    
}
