.page-mobile-app {
  .services-hero {
    padding-top: 114px;
    padding-bottom: 100px;
    background-image: url("./images/extra1-hero.jpg");
    background-size: cover;
    background-position: right;

    @include desktop {
      background-position: 70%;
    }

    @include laptop {
      background-image: url(./images/extra1-bg-tablet.jpg);

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(14, 63, 103, 0.85);
        opacity: 1;
        z-index: 0;
      }
    }

    @include mobile {
      padding-top: 70px;
    }
  }

  .services-hero-main {
    @include laptop {
      position: relative;
      z-index: 10;
    }
  }

  .services-header {
    font-size: 50px;

    @include mobile {
      font-size: 40px;
      line-height: 50px;
    }

    span {
      display: block;
      font-size: 50px;
      line-height: 60px;
      font-weight: 700;
      margin-top: 0;

      @include mobile {
        font-size: 40px;
        line-height: 50px;
      }
    }
  }
}

/* section do */
.section-do {
  position: relative;
  background-color: #edf0f1;

  @include mobile {
    padding-bottom: 0;
  }

  &:after {
    content: "";
    position: absolute;
    left: -70px;
    top: 50%;
    transform: translateY(-50%);
    width: 404px;
    height: 452px;
    background: url("./images/gears.png") center no-repeat;
    background-size: contain;

    @include mobile {
      display: none;
    }
  }
}

.section-do-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  margin-top: 85px;
  z-index: 1;

  @include laptop {
    margin: 0 -8px;
    margin-top: 85px;
  }

  @include mobile {
    margin: 0;
    margin-top: 70px;
  }
}

.section-do-item {
  display: flex;
  flex-direction: column;
  width: calc(25% - 30px);
  margin: 15px;
  padding: 30px 20px 40px 20px;
  background-color: #ffffff;
  border: 1px solid #d1dbe3;

  @include laptop {
    width: calc(50% - 16px);
    margin: 8px;
  }

  @include mobile {
    width: 100%;
    margin: 0;
    padding: 70px 0;

    background-color: transparent;
    border: none;
    border-bottom: 2px solid #d1dbe3;
  }

  &:first-child {
    @include mobile {
      padding-top: 0;
    }
  }

  &:last-child {
    @include mobile {
      border-bottom: 0;
    }
  }

  &:nth-child(-n + 3) {
    width: calc(33.3% - 30px);

    @include laptop {
      width: calc(50% - 16px);
    }

    @include mobile {
      width: 100%;
    }
  }

  &:nth-child(3) {
    @include laptop {
      width: 100%;
    }
  }

  svg {
    align-self: flex-end;

    @include mobile {
      align-self: flex-start;
    }
  }

  h4 {
    color: #0e3f67;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.67px;
    line-height: 26px;
    margin-top: 30px;
    margin-bottom: 15px;

    @include mobile {
      margin-bottom: 25px;
      line-height: 30px;
    }
  }

  p {
    margin: 0;
    color: #0e3f67;
    opacity: 0.7;
    line-height: 20px;

    @include mobile {
      font-size: 18px;
      line-height: 24px;
      letter-spacing: -0.5px;
    }
  }
}

/* section work */
.section-work {
  @include mobile {
    padding-bottom: 0;
  }
}
.work-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -65px;
  margin-top: 100px;

  @include laptop {
    margin-left: 0;
    margin-right: 0;
  }

  @include mobile {
    margin-top: 0;
  }
}

.work-item {
  display: flex;
  flex-direction: column;
  width: calc(50% - 130px);
  margin: 0 65px;
  padding-bottom: 50px;

  @include laptop {
    width: 100%;
    margin: 0;
    margin-bottom: 70px;
    padding: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:last-child {
    border-bottom: none;
  }

  @include mobile {
    margin-bottom: 0;
    border-bottom: 2px solid #d1dbe3;

    &:last-child {
      padding-top: 70px;
    }

    &:first-child {
      padding-top: 0;
    }

  }

  &:nth-child(even) {
    padding-top: 50px;

    @include laptop {
      padding: 0;
      padding-left: 60px;
    }

    @include mobile {
      padding: 0;
      padding-bottom: 70px;
      padding-top: 70px;
    }
  }

  &:nth-child(odd) {
    @include laptop {
      padding-right: 75px;
    }

    @include mobile {
      padding: 0;
      padding-bottom: 70px;
      padding-top: 70px;
    }
  }

  &:nth-child(3) {
    padding-left: 65px;

    @include laptop {
      padding-left: 0;
      padding-right: 75px;
    }

    @include mobile {
      padding: 0;
      padding-bottom: 70px;
      padding-top: 70px;
    }
  }

  &:nth-child(4) {
    padding-left: 65px;

    @include laptop {
      padding: 0;
      padding-left: 60px;
    }

    @include mobile {
      padding: 0;
      padding-bottom: 70px;
      padding-top: 70px;
    }
  }

  h4 {
    color: #0b3757;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 24px;
    margin-top: 30px;
  }

  p {
    margin: 0;
    color: #0b3757;
    line-height: 24px;
  }


}

.work-item-top {
  display: flex;
  align-items: flex-end;

  span {
    color: #98a2a8;
    font-size: 70px;
    font-weight: 700;
    margin-right: 30px;
  }
}

/* section-why */
.section-why {
  background-color: #edf0f1;

  @include mobile {
    background-color: #fff;
  }

  .btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.why-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  margin-top: 50px;
  margin-bottom: 70px;

  @include laptop {
    margin-left: 0;
    margin-right: 0;
  }

  @include mobile {
    margin-top: 15px;
    margin-bottom: 20px;
  }
}

.why-item {
  width: calc(50% - 30px);
  margin: 15px;
  padding: 30px;
  display: flex;
  background-color: #fff;

  @include laptop {
    width: 100%;
    min-height: 205px;
    margin: 15px 0;

    &:last-child {
      margin-bottom: 0;
   
    }
  }

  &:last-child {
    @include mobile {
      border-bottom: 0;
    }
  }

  @include mobile {
    padding: 50px 0;
    border-bottom: 2px solid #d1dbe3;
    flex-direction: column;
    margin: 0;
  }

  svg {
    flex-shrink: 0;
    margin-right: 44px;

    @include mobile {
      margin-right: 0;
      margin-bottom: 25px;
    }
  }

  p {
    margin-top: 0;
    margin-bottom: 15px;
    color: #0e3f67;
    font-size: 20px;
    line-height: 26px;
  }

  span {
    font-size: 16px;
    color: #0e3f67;
    opacity: 0.7;
    letter-spacing: -0.44px;
    line-height: 20px;
  }
}
