.news-block {
    background-color: #0e3f67;
    padding-bottom: 70px;

    .bredcrumbs ul li a {
        color: #fff;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .btn-empty {
        margin: auto;
    }
}

.list-news {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    margin-bottom: 50px;


}

.item-news {
    width: calc(33.3% - 30px);
    margin: 15px;
    display: flex;
    flex-direction: column;
    background-color: #fff;

    &:first-child {
        width: 100%;
        min-height: 200px;
        flex-direction: row;

        @include tablet {
            flex-direction: column;
        }
    }

    @include laptop {
        width: 100%;
        min-height: 200px;
        flex-direction: row;
    }

    @include tablet {
        flex-direction: column;
    }
}

.item-news-main {
    padding: 30px;

    a {
        text-decoration: none;
        color: #0e3f67;
    }

    @include tablet {
        padding: 20px;
    }
}

.item-news-img-wrapp {
    width: 370px;
    max-width: 100%;
    flex-shrink: 0;

    @include tablet {
        width: 100%;
       
    }

    a {
        display: block;
        width: 100%;
        height: 100%;

        @include tablet {
            height: initial;
        }
    }

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;

        @include tablet {
            height: auto;
        }
    }
}

