.archive-page {
    .bredcrumbs {
        background-color: #edf0f1;
    }


    .bredcrumbs ul li a {
        color: #0b3757;
    }

    .bredcrumbs ul li span {
        color: #0b3757;
    }
}


.archive-block {
    background-color: #edf0f1;
    padding-top: 70px;
    padding-bottom: 30px;

    .section__header {
        text-align: left; 

    }
}

.archive-list {
    margin: 50px 0;
}

.archive-item {
    display: flex;
    background-color: #fff;
    margin-bottom: 30px;
    min-height: 220px;

    @include tablet {
        flex-direction: column;
    }
}

.archive-img-wrapp {
    display: block;
    width: 370px;

    @include tablet {
        width: 100%;
    }

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;

        @include tablet {
            height: auto;
            object-fit: initial;
        }
    }
}

.archive-main {
    position: relative;
    flex: 1;
    padding: 30px;

    p {
        margin-top: 0;
    }
}

.archive-date {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background-color: #0e3f67;
    padding: 5px 8px;
    font-size: 13px;
}

.archive__title {
    display: inline-block;
    text-decoration: none;
    color: #0e3f67;

    h3 {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 20px;
    }
}

.archive__more {
    position: absolute;
    bottom: 20px;
    color: #44BA17;
}