.section-projects-slider {
  background-color: $headerBlue;

  .section__desc {
    color: #edf0f1;
  }

}


.section-projects-slider {
  .projects-item {
    margin: 0;

    @include tablet {
      margin-bottom: 10px;
    }
  }

  .slick-slide {
    margin: 15px;

    @include tablet {
      margin: 8px;
      margin-top: 0;
      margin-bottom: 0;
    }

    @include mobile {
      margin: 5px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.projects-slider-dots {
    margin-top: rem(25px);
}

.projects-slider-wrapp {
  position: relative;
  margin: rem(70px) 0;

  .slick-dots {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;

    li {
      cursor: pointer;
      margin-right: rem(30px);

      @include mobile {
        margin-right: 15px;
      }

      &.slick-active {
          button {
              opacity: 1;
          }
      }

      &:last-child {
          margin-right: 0;
      }

      button {
        font-size: 0;
        width: rem(70px);
        height: rem(7px);
        background-color: transparent;
        border: none;
        border-bottom: rem(2px) solid #edf0f1;
        cursor: pointer;
        opacity: 0.4;
        outline: none;
        transition: .2s;

        @include mobile {
          width: 30px;
          height: 10px;
        }

        &:hover {
            opacity: 1;
        }
      }
    }
  }
}

.projects-list-slider {
  position: relative;
  .slick-arrow {
    position: absolute;
    top: calc(50% - 11px);
    font-size: 0;
    width: rem(22px);
    height: rem(22px);
    background-color: transparent;
    border: none;
    border-bottom: rem(3px) solid #3e6585;
    border-left: rem(3px) solid #3e6585;
    cursor: pointer;
    outline: none;
    transition: 0.2s;

    &:hover {
      border-color: #fff;
    }
  }

  .slick-prev {
    transform: rotate(45deg);
    left: rem(-30px);
  }

  .slick-next {
    transform: rotate(225deg);
    right: rem(-30px);
  }
}
