.services-hero {
  position: relative;
  padding-top: rem(115px);
  padding-bottom: rem(115px);
  background-image: linear-gradient(to right, $headerBlue 65%, rgba(7, 32, 52, 0) 100%), url(./images/services-bg.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;

  @include tablet {
    background-image: url(./images/services-bg.jpg);
    background-size: cover;
  }

  @include mobile {
    padding: 40px 0;
    min-height: calc(100vh - 115px);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $headerBlue;
    opacity: 0.26;
    z-index: -1;

    @include tablet {
      background-color: rgba(14, 63, 103, 0.85);
      opacity: 1;
      z-index: 0;
    }
  }
}

.services-header {
  font-size: rem(50px);
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  line-height: rem(53px);
  margin: 0;

  br {
    display: none;

    @include laptop {
      display: block;
    }
  }

  @include desktop {
    font-size: 2.525rem;
    line-height: 1.2;
  }

  @include laptop {
    font-size: 50px;
  }

  @include mobile {
    font-size: 40px;
  }

  span {
    font-size: 30px;
    color: $green;
    
    @include desktop {
      font-size: 1.475rem;
    }

    @include laptop {
      display: block;
      margin-top: 20px;
      font-size: 30px;
      line-height: 40px;
    }

    @include tablet {
      display: block;
      margin-top: 15px;
      line-height: 1.3;
      font-size: 1.375rem;
    }

    @include mobile {
      margin-top: 24px;
      font-size: 18px;
      line-height: 30px;
    }
  }
}

.services__description {
  width: 74%;
  font-size: rem(24px);
  color: #ffffff;
  line-height: rem(30px);
  margin: 0;
  margin-top: rem(24px);
  opacity: 0.7;

  @include desktop {
    width: 90%;
  }

  @include laptop {
    font-size: 1.25rem;
  }

  @include tablet {
    opacity: 1;
    width: 100%;
    font-size: 18px;
    line-height: 24px;
  }
}

.services-hero-main {
  width: 70%;

  @include desktop {
    width: 67%;
  }

  @include laptop {
    width: 80%;
  }

  @include tablet {
    width: 100%;
    position: relative;
    z-index: 10;
  }
}
