.services-main {
  background-color: #edf0f1;

  @include mobile {
    background-color: #fff;
    
  }
}

.sevices-list {
  position: relative;
  width: 100%;
  margin: rem(100px) 0;

  @include tablet {
    margin: 40px 0;
  }

  @include mobile {
    margin: 0;
  }

  &::after {
    content: "";
    position: absolute;
    left: rem(-450px);
    top: 15%;
    display: block;
    width: rem(400px);
    height: rem(450px);
    background-image: url(./images/gears.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  &::before {
    content: "";
    position: absolute;
    right: rem(-450px);
    bottom: 25%;
    display: block;
    width: rem(350px);
    height: rem(420px);
    background-image: url(./images/gears.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.services-item {
  display: flex;
  background-color: #fff;
  margin-bottom: rem(30px);
  padding-top: rem(70px);
  padding-bottom: rem(64px);
  padding-left: rem(50px);
  padding-right: rem(60px);
  border: rem(1px) solid #d1dbe3;

  &.wide {
    @include desktop {
      .services-item-icon {
        margin-left: 0 !important;
      }
    }
  }

  @include tablet {
    padding: 70px 60px;
    flex-direction: column;
    align-items: flex-start;
  }

  @include mobile {
    padding: 70px 0;
    border-width: 0 0 1px 0;
    margin: 0;
  }

  &:nth-child(even) {
    padding-left: rem(100px);
    flex-direction: row-reverse;

    @include tablet {
      padding-left: 40px;
      flex-direction: column;
    }

    @include mobile {
      padding-left: 0;
    }

    .services-item-icon {
      margin-right: 0;
      margin-left: rem(70px);

      @include tablet {
        margin-left: 0;
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  .services-item-icon {
    margin-right: rem(70px);
    width: 25%;
    max-width: 258px;

    @include tablet {
      width: 40%;
      margin-right: 0;
    }

    @include mobile {
      width: initial;
    }

    svg {
      width: 100%;

      @include tablet {
        height: 150px;
        margin-bottom: 15px;
      }

      @include mobile {
        width: initial;
        height: 200px;
        margin-bottom: 25px;
      }
    }
  }
}

.services-item-main {
  flex: 1;
}

.services-item__header {
  font-family: Arial;
  color: $headerBlue;
  font-weight: normal;
  font-size: rem(34px);
  letter-spacing: -0.1px;
  line-height: rem(46px);
  margin-top: 0;
  margin-bottom: rem(20px);

  @include tablet {
    font-size: 30px;
  }

  @include mobile {
    line-height: 1.875rem;
  }
}

.services-item__desc {
  font-family: Arial;
  color: rgba($color: $headerBlue, $alpha: 0.7);
  font-size: rem(24px);
  letter-spacing: -0.67px;
  line-height: rem(30px);

  @include tablet {
    font-size: 20px;
  }
}

.services-item__list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    position: relative;
    font-size: rem(18px);
    letter-spacing: -0.5px;
    line-height: rem(26px);
    color: rgba($color: $headerBlue, $alpha: 0.7);
    margin-bottom: rem(6px);
    padding-left: rem(30px);

    @include mobile {
      font-size: 18px;
      line-height: 26px;
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 5px;
      display: block;
      height: rem(10px);
      width: rem(10px);
      border-radius: 50%;
      background-color: $headerBlue;
    }
  }
}

