.page-about {
  .to-top {
    @include mobile {
      top: -40px;
    }
  }
  .about-hero {
    position: relative;
    padding-top: 115px;
    padding-bottom: 115px;
    background-image: linear-gradient(to right, #0e3f67 55%, rgba(7, 32, 52, 0) 100%), url(./images/about-bg.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;

    br.tablet {
      display: none;

      @include laptop {
        display: block;
      }
    }

    @include laptop {
      background-image: url(./images/about-bg.jpg);
      padding-top: 95px;
      padding-bottom: 125px;

      &:before {
        position: absolute;
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: #0e3f67;
        opacity: 0.8;
      }

      .container {
        position: relative;
        z-index: 10;
      }
    }

    @include mobile {
      padding-top: 65px;
      padding-bottom: 164px;
    }
  }
}
.container--about {
  max-width: 900px;
  padding: 0;

  @include laptop {
    max-width: 608px;
  }

  @include mobile {
    padding: 0 9%;
  }
}

.about-header {
  font-size: rem(50px);
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  line-height: rem(70px);
  margin: 0;

  span {
    color: $green;
    display: block;

    @include mobile {
      font-size: rem(30px);
      line-height: rem(40px);
      margin-top: 21px;
      margin-bottom: 24px;
    }
  }

  @include mobile {
    font-size: rem(40px);
    line-height: rem(50px);
  }
}
.about__description {
  width: 74%;
  font-size: rem(24px);
  color: #ffffff;
  line-height: 30px;
  margin: 0;
  margin-top: 24px;
  opacity: 0.7;

  @include desktop {
    width: 90%;
  }

  @include laptop {
    font-size: 18px;
    line-height: 24px;
    opacity: 1;
  }

  @include tablet {
    width: 100%;
  }

  @include mobile {
    font-size: 18px;
    line-height: 24px;
    opacity: 0.9;
  }
}
.about-main {
  position: relative;

  &:before {
    display: block;
    position: absolute;
    width: 402px;
    height: 450px;
    content: '';
    background-image: url("./images/about-bg.svg");
    left: -5%;
    top: 50%;
    transform: translateY(-50%);

    @include laptop {
      width: 196px;
      height: 219px;
      left: 12px;
      top: auto;
      bottom: 118px;
      transform: none;
      background-size: cover;
    }

    @include mobile {
      display: none;
    }
  }
}
.about-main-header {
  margin-top: 99px;
  margin-bottom: 24px;
  text-align: center;
  font-size: rem(40px);
  line-height: rem(50px);
  font-weight: bold;
  text-transform: uppercase;

  @include laptop {
    margin-top: 95px;
  }

  span {
    color: $green;
  }

  @include mobile {
    margin-top: 67px;
    font-size: rem(30px);
    line-height: rem(40px);
  }
}
.about-main-description {
  margin-bottom: 100px;
  font-size: rem(24px);
  text-align: center;
  line-height: rem(30px);
  color: $textBlue;

  @include laptop {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  @include mobile {
    max-width: 100%;
    margin-bottom: 70px;
    font-size: 18px;
    line-height: rem(26px);
  }
}
.about-team-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 96px;

  @include laptop {
    justify-content: space-between;
  }

  @include mobile {
    display: block;
    margin-bottom: 70px;
  }

  .about-team-item {
    max-width: 150px;
    margin-right: 93px;
    text-align: center;

    &:nth-of-type(4) {
      margin-right: 0;
    }

    &:nth-of-type(-n+4) {
      margin-bottom: 70px;

      @include laptop {
        margin-bottom: 50px;
      }
    }

    &:nth-of-type(5) {
      margin-left: auto;
      margin-right: 0;
    }

    &:nth-of-type(6) {
      max-width: 200px;
      margin-left: 70px;
      margin-right: 70px;

      @include desktop {
        margin-left: 74px;
        margin-right: 74px;
      }
    }

    &:nth-of-type(7) {
      margin-right: auto;
    }

    @include laptop {
      margin-right: 0!important;
      margin-left: 0!important;
      max-width: 30%;

      &:nth-of-type(7) {
        margin: 0 auto!important;
        max-width: 100%;

        .team-item-duty {
          max-width: 80%;
        }
      }

      .team-item-duty {
        margin: 0 auto;

        @include mobile {
          font-size: 18px;

        }
      }
    }
    
    @include mobile {
      max-width: 100%!important;
      margin: 0 auto 70px!important;
    }
  }

  .team-item-img-wrapper {
    max-width: 150px;
    margin: 0 auto;
  }

  .team-item-name {
    font-size: rem(24px);
    font-weight: bold;
    line-height: rem(30px);
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .team-item-name span {
    display: block;
  }

  .team-item-duty {
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    font-family: Arial, serif;
  }
}
.section-principles {
  background-color: $bggrey;
  position: relative;

  &:after {
    position: absolute;
    content: '';
    display: block;
    width: 375px;
    height: 420px;
    background-image: url("./images/about-bg.svg");
    background-size: cover;
    right: -5%;
    top: 50%;
    transform: translateY(-50%);

    @include laptop {
      display: none;
    }
  }

  &-header {
    margin-top: 0;
    margin-bottom: 100px;
    font-size: rem(40px);
    text-transform: uppercase;
    text-align: center;

    span {
      color: $green;
    }

    @include mobile {
      font-size: rem(30px);
      line-height: rem(40px);
      margin-bottom: 67px;
    }
  }

  .principle-item-list {
    padding-left: 0;
    list-style: none;
  }

  .principle-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 70px 63px 63px 58px;
    background-color: #fff;
    border: 1px solid #D1DBE3;
    z-index: 10;

    &:first-of-type {
      margin-top: 0;
    }

    @include laptop {
      display: block;
    }

    @include mobile {
      margin-top: 70px;
      padding: 0 0 70px;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid #D1DBE3;

      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        padding: 0;
        border-bottom: none;
      }
    }
  }

  .principle-item-icon-wrapper {
    flex:  0 1 100%;
    max-width: 260px;
    text-align: center;

    @include laptop {
      margin: 0 auto 30px;
    }

    @include mobile {
      margin: 0 auto 25px;
    }

    img {
      position: relative;
      width: 100%;
      height: 100%;
      top: 50%;
      transform: translateY(-50%);

      @include laptop {
        top: auto;
        transform: none;
      }

      @include mobile {
        max-width: 210px;
      }
    }
  }

  .principle-item-desc {
    flex: 0 1 100%;
    max-width: 735px;



    .principle-item-header {
      margin-top: 0;
      margin-bottom: 30px;
      font-family: Arial, sans-serif;
      font-size: rem(34px);
      font-weight: 400;
      color: $headerBlue;

      @include laptop {
        text-align: center;
      }

      @include mobile {
        font-size: rem(30px);
        line-height: rem(40px);
        margin-bottom: 25px;
      }
    }

    .principle-item-list-spot span {
      display: block;
      color: $headerBlue;
      font-size: rem(18px);
      line-height: rem(26px);
      margin-top: 30px;
      font-weight: 200;
      opacity: 0.7;

      @include mobile {
        font-size: 18px;
        line-height: 24px;
      }
    }

    .principle-item-list-spot {
      position: relative;
      padding-left: 31px;

      &:before {
        position: absolute;
        display: block;
        width: 10px;
        height: 10px;
        content: '';
        border-radius: 50%;
        left: 0;
        top: 8px;
        background-color: #0E3F67;
        opacity: 1;
      }
    }
  }
}
.section-address {
  padding-top: 0;
  padding-bottom: 0;

  .section-address-row {
    display: flex;
    max-height: 425px;

    &--msc {
      background-color: #00243B;
      color: #fff;

      .section-address-image  {
        flex: 0 1 42.5%;
        margin-right: 8%;
        background-image: url("./images/moscow-office.jpg");
        background-size: cover;
        background-position: 35% 100%;
        background-repeat: no-repeat;

        @include laptop {
          margin-right: 4%;
        }

        @include mobile {
          min-height: 254px;
          background-position: 50% 100%;
          margin-right: 0;
        }
      }

      .section-address-desc {
        margin-bottom: 99px;
      }

      .desc-address-text {
        max-width: 450px;
        line-height: rem(30px);

        @include mobile {
          font-size: 20px;
          line-height: 30px;
        }
      }
    }

    &--spb {
      background-color: #EDEFF1;
      color: $headerBlue;

      .section-address-image  {
        flex: 0 1 42.5%;
        margin-left: 12%;
        background-image: url("./images/spb-office.jpg");
        background-size: cover;
        background-repeat: no-repeat;

        @include laptop {
          margin-left: 5%;
        }

        @include mobile {
          min-height: 254px;
          margin-left: 0;
        }
      }

      .section-address-desc {
        margin-left: auto;
        margin-bottom: 96px;
      }

      @include mobile {
        flex-direction: column-reverse!important;
      }
    }

    .desc-address-header {
      margin-top: 95px;
      font-size: rem(40px);
      font-weight: bold;

      @include laptop {
        font-size: rem(30px);
      }

      @include mobile {
        margin-top: 67px;
      }
    }

    .desc-address-text,
    .desc-address-phone {
      font-size: rem(24px);
      line-height: rem(30px);

      @include laptop {
        font-size: rem(20px);
      }

      @include mobile {
        br {
          display: none;
        }
      }
    }
    .desc-address-phone {
      margin-bottom: 0;
    }
    .desc-address-header {
      margin-bottom: 26px;
    }

    .section-address-desc {
      @include mobile {
        padding: 0 9%;
        margin-bottom: 70px;
      }
    }

    @include mobile {
      flex-direction: column;
      max-height: 100%;
    }
  }
}
