<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
</head>

<body class="page-about">
    <div class="wrapper">
        <%= require('html-loader?attrs[]=!./components/header.html') %>
        <div class="about-hero">
            <div class="container">
                <div class="about-hero-main">
                    <h1 class="about-header">
                        E-ngineers<br class="tablet"> с 2007 года Создает
                        <span>инновационные<br class="tablet"> решения</span>
                    </h1>
                    <p class="about__description">
                        Мы помогаем заказчикам превратить идею в бизнес и получать устойчивые конкурентные преимущества в цифровую эпоху.
                        <br>Мы фокусируемся на заказной разработке программного обеспечения, используя передовые технологии и подходы.
                    </p>
                </div>
            </div>
        </div>
        <div class="about-main">
            <div class="container container--about">
                <h3 class="about-main-header">
                    E-ngineers команда <span>профессионалов</span>
                </h3>
                <p class="about-main-description">
                    Наш отраслевой опыт и технологическая экспертиза, усиленная собственными акселераторами разработки, позволяют решать бизнес-задачи любого уровня сложности.
                </p>
                <div class="about-team-wrapper">
                    <div class="about-team-item">
                        <div class="team-item-img-wrapper">
                            <img src="./images/anna.jpg" alt="team-member-photo" class="team-item-img">
                        </div>
                        <div class="team-item-name">
                            <span class="item-name-first">Анна</span>
                            <span class="item-name-last">Шемякина</span>
                        </div>
                        <div class="team-item-duty">Генеральный директор</div>
                    </div>
                    <div class="about-team-item">
                        <div class="team-item-img-wrapper">
                            <img src="./images/benj.jpg" alt="team-member-photo" class="team-item-img">
                        </div>
                        <div class="team-item-name">
                            <span class="item-name-first">Вениамин</span>
                            <span class="item-name-last">Медведев</span>
                        </div>
                        <div class="team-item-duty">Директор по информационным технологиям</div>
                    </div>
                    <div class="about-team-item">
                        <div class="team-item-img-wrapper">
                            <img src="./images/mary.jpg" alt="team-member-photo" class="team-item-img">
                        </div>
                        <div class="team-item-name">
                            <span class="item-name-first">Мария</span>
                            <span class="item-name-last">Гусева</span>
                        </div>
                        <div class="team-item-duty">Управляющий директор</div>
                    </div>
                    <div class="about-team-item">
                        <div class="team-item-img-wrapper">
                            <img src="./images/nat.jpg" alt="team-member-photo" class="team-item-img">
                        </div>
                        <div class="team-item-name">
                            <span class="item-name-first">Наталья</span>
                            <span class="item-name-last">Гончарова</span>
                        </div>
                        <div class="team-item-duty">Директор по развитию бизнеса в РФ</div>
                    </div>
                    <div class="about-team-item">
                        <div class="team-item-img-wrapper">
                            <img src="./images/alex.jpg" alt="team-member-photo" class="team-item-img">
                        </div>
                        <div class="team-item-name">
                            <span class="item-name-first">Алексей</span>
                            <span class="item-name-last">Смирнов</span>
                        </div>
                        <div class="team-item-duty">IT Консультант</div>
                    </div>
                    <div class="about-team-item">
                        <div class="team-item-img-wrapper">
                            <img src="./images/anton.jpg" alt="team-member-photo" class="team-item-img">
                        </div>
                        <div class="team-item-name">
                            <span class="item-name-first">Антон</span>
                            <span class="item-name-last">Андреев</span>
                        </div>
                        <div class="team-item-duty">Руководитель направления e-commerce и визуализации</div>
                    </div>
                    <div class="about-team-item">
                        <div class="team-item-img-wrapper">
                            <img src="./images/jishu.jpg" alt="team-member-photo" class="team-item-img">
                        </div>
                        <div class="team-item-name">
                            <span class="item-name-first">Джишу</span>
                            <span class="item-name-last">Шарма</span>
                        </div>
                        <div class="team-item-duty">Руководитель направления тестирования</div>
                    </div>
                </div>
            </div>
        </div>
        <section class="section section-principles">
            <div class="container">
                <h3 class="section-principles-header">Наши <span>принципы </span></h3>
                <article class="principle-item">
                    <div class="principle-item-icon-wrapper">
                        <img src="./images/tech-lead.svg" alt="principle-item-icon">
                    </div>
                    <div class="principle-item-desc">
                        <h4 class="principle-item-header">Технологическое лидерство и компетенции</h4>
                        <ul class="principle-item-list">
                            <li class="principle-item-list-spot">
                                <span>Мы работаем на острие современных информационных технологий, предлагаем нашим заказчикам наиболее инновационные и актуальные ИТ-решения.</span>
                            </li>
                            <li class="principle-item-list-spot">
                                <span>Стремимся быть лучшими в своем деле.</span>
                            </li>
                            <li class="principle-item-list-spot">
                                <span>Постоянно осваиваем новые технологии и инструменты, развиваем методологию своей деятельности для того, чтобы обеспечить максимально качественный результат для заказчика.</span>
                            </li>
                        </ul>
                    </div>
                </article>
                <article class="principle-item">
                    <div class="principle-item-icon-wrapper">
                        <img src="./images/social-resp.svg" alt="principle-item-icon">
                    </div>
                    <div class="principle-item-desc">
                        <h4 class="principle-item-header">Ориентированность на клиента</h4>
                        <ul class="principle-item-list">
                            <li class="principle-item-list-spot">
                                <span>Мы ценим наших заказчиков и их доверие, так как понимаем, что именно их выбор дает нам возможность принимать участие в инновационных проектах.</span>
                            </li>
                            <li class="principle-item-list-spot">
                                <span>Стремимся быть на пике инновационных технологий и помогать нашим клиентам в цифровой трансформации бизнеса, сочетая накопленный опыт, профессиональный талант, новаторство, признанные мировые стандарты качества, и создавая прорывные программные продукты для удовлетворения потребностей постоянно меняющегося рынка.</span>
                            </li>
                            <li class="principle-item-list-spot">
                                <span>Мы убеждены, что только партнерские отношения с клиентом и слаженная совместная работа позволят создать действительно качественный продукт.</span>
                            </li>
                        </ul>
                    </div>
                </article>
                <article class="principle-item">
                    <div class="principle-item-icon-wrapper">
                        <img src="./images/prof-resp.svg" alt="principle-item-icon">
                    </div>
                    <div class="principle-item-desc">
                        <h4 class="principle-item-header">Профессиональная ответственность</h4>
                        <ul class="principle-item-list">
                            <li class="principle-item-list-spot">
                                <span>Мы ответственно берем на себя обязательства, наши оценки, рекомендации, мнения и суждения основаны на опыте успешных проектов, выполненных нами
                                в российских и иностранных компаниях.</span>
                            </li>
                            <li class="principle-item-list-spot">
                                <span>Мы вы выполняем взятые на себя обязательства, доводим до конца начатые проекты. Создаем высокофункциональные и простые в использовании решения, применяя самые современные технологии, принципы и методологии разработки.</span>
                            </li>
                        </ul>
                    </div>
                </article>
                <article class="principle-item">
                    <div class="principle-item-icon-wrapper">
                        <img src="./images/client-orient.svg" alt="principle-item-icon">
                    </div>
                    <div class="principle-item-desc">
                        <h4 class="principle-item-header">Социальная ответственность</h4>
                        <ul class="principle-item-list">
                            <li class="principle-item-list-spot">
                                <span>Главная ценность компания — это прежде всего люди, которые в ней работают.</span>
                            </li>
                            <li class="principle-item-list-spot">
                                <span>Мы обеспечиваем развитие интеллектуального потенциала компании, способствуем профессиональному росту сотрудников через обеспечение возможности развития деловых и личностных компетенций в ходе участия в инновационных технологических проектах.</span>
                            </li>
                            <li class="principle-item-list-spot">
                                <span>Мы создаем достойные условия труда для сотрудников и широкие возможности, позволяющие полностью раскрыть их потенциал, что позволяет сформировать команду высоко замотивированных и подготовленных профессионалов в области ИТ.</span>
                            </li>
                        </ul>
                    </div>
                </article>
                <article class="principle-item">
                    <div class="principle-item-icon-wrapper">
                        <img src="./images/high-qlty.svg" alt="principle-item-icon">
                    </div>
                    <div class="principle-item-desc">
                        <h4 class="principle-item-header">Высокое качество разработки</h4>
                        <ul class="principle-item-list">
                            <li class="principle-item-list-spot">
                                <span>Мы уделяем особое внимание контролю качества разрабатываемых решений.</span>
                            </li>
                            <li class="principle-item-list-spot">
                                <span>Качество для E-ngineers означает решение задач клиента в рамках запланированных сроков и бюджета, а также выполнение всех контрактных обязательств.</span>
                            </li>
                            <li class="principle-item-list-spot">
                                <span>Опыт и профессионализм специалистов E-ngineers позволяют обеспечить высокое качество реализации проектов, соблюсти согласованные сроки и рамки бюджета,
                                в полной мере справиться с задачами заказчика, благодаря системе управления проектами и выбору наиболее оптимальных технологий и платформ.  </span>
                            </li>
                        </ul>
                    </div>
                </article>
            </div>
        </section>
        <section class="section section-address">
            <div class="section-address-row section-address-row--msc">
                <div class="section-address-image"></div>
                <div class="section-address-desc">
                    <h5 class="desc-address-header">Московский офис</h5>
                    <p class="desc-address-text">
                        Москва-Сити, Пресненская наб. 12,<br>
                        Башня Федерация-Восток, оф. Б2,<br>
                        123100, Москва, Россия<br>
                    </p>
                    <p class="desc-address-phone" x-ms-format-detection="none">+7 929 905 08 07</p>
                </div>
            </div>
            <div class="section-address-row section-address-row--spb">
                <div class="section-address-desc">
                    <h5 class="desc-address-header">Центр разработки</h5>
                    <p class="desc-address-text">
                        БЦ “Граффити”,<br>
                        Кондратьевский пр. 15, корп. 5, оф. 310,<br>
                        195197, Санкт-Петербург, Россия<br>
                    </p>
                    <p class="desc-address-phone" x-ms-format-detection="none">+7 812 414 92 86</p>
                </div>
                <div class="section-address-image"></div>
            </div>
        </section>
    </div>
    <%= require('html-loader?attrs[]=!./components/footer.html') %>
</body>

</html>
