<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News</title>
</head>

<body class="archive-page">
    <div class="wrapper">
        <%= require('html-loader?attrs[]=!./components/header.html') %>
        <!-- <div class="bredcrumbs">
            <div class="container">
                <ul>
                    <li>
                        <a href="/">Главная</a>
                    </li>
                    <li>
                        <span>Блог и новости</span>
                    </li>
                </ul>
            </div>
        </div> -->
        <div class="page-content">
            <div class="archive-block">
                <div class="container">
                    <h1 class="section__header section__header--blue">БЛОГ и НОВОСТИ</h1>
                    <div class="archive-list">
                        <div class="archive-item">
                            <a href="./post.html" class="archive-img-wrapp">
                                <img src="./images/news-1.jpg" alt="">
                            </a>
                            <div class="archive-main">
                                <div class="archive-date">
                                    <span>07.11.2019</span>
                                </div>
                                <a href="#" class="archive__title">
                                    <h3>Компания месяца</h3>
                                </a>
                                <p>
                                    E-ngineers - компания месяца по рейтингу Гаагского делового агентства
                                </p>
                                <a href="#" class="archive__more">Читать...</a>
                            </div>

                        </div>
                        <div class="archive-item">

                            <a href="#" class="archive-img-wrapp">
                                <img src="./images/news-1.jpg" alt="">
                            </a>
                            <div class="archive-main">
                                <div class="archive-date">
                                    <span>07.11.2019</span>
                                </div>
                                <a href="#" class="archive__title">
                                    <h3>Компания месяца</h3>
                                </a>
                                <p>
                                    E-ngineers - компания месяца по рейтингу Гаагского делового агентства
                                </p>
                                <a href="#" class="archive__more">Читать...</a>
                            </div>

                        </div>
                        <div class="archive-item">

                            <a href="#" class="archive-img-wrapp">
                                <img src="./images/news-1.jpg" alt="">
                            </a>
                            <div class="archive-main">
                                <div class="archive-date">
                                    <span>07.11.2019</span>
                                </div>
                                <a href="#" class="archive__title">
                                    <h3>Компания месяца</h3>
                                </a>
                                <p>
                                    E-ngineers - компания месяца по рейтингу Гаагского делового агентства
                                </p>
                                <a href="#" class="archive__more">Читать...</a>
                            </div>

                        </div>
                        <div class="archive-item">

                            <a href="#" class="archive-img-wrapp">
                                <img src="./images/news-1.jpg" alt="">
                            </a>
                            <div class="archive-main">
                                <div class="archive-date">
                                    <span>07.11.2019</span>
                                </div>
                                <a href="#" class="archive__title">
                                    <h3>Компания месяца</h3>
                                </a>
                                <p>
                                    E-ngineers - компания месяца по рейтингу Гаагского делового агентства
                                </p>
                                <a href="#" class="archive__more">Читать...</a>
                            </div>

                        </div>
                    </div>
                    <div class="pagination-wrapp">
                        <div class="pagination">
                            <ul>
                                <li class="inactive">
                                    <a href="#"></a>
                                </li>
                                <li class="inactive">
                                    <a href="#">1</a>
                                </li>
                                <li>
                                    <a href="#">2</a>
                                </li>
                                <li>
                                    <a href="#">3</a>
                                </li>
                                <li>
                                    <a href="#"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%= require('html-loader?attrs[]=!./components/footer.html') %>
    </div>
</body>