<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contacts</title>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
</head>

<body>
<div class="wrapper wrapper--contacts">
    <%= require('html-loader?attrs[]=!./components/header.html') %>
    <div class="contacts-hero">
        <div class="container">
            <div class="contacts-hero-main">
                <h1 class="contacts-header">Связаться с <span>нами</span></h1>
                <form action="" class="contacts-form">
                    <div class="contacts-grid">
                        <div class="contacts-form-group">
                            <label>
                                <div class="contacts-label-text">Ваше имя*</div>
                                <input type="text" name="name" required>
                            </label>
                        </div>
                        <div class="contacts-form-group">
                            <label>
                                <div class="contacts-label-text">Ваше e-mail*</div>
                                <input type="email" name="email" required>
                            </label>
                        </div>
                        <div class="contacts-form-group">
                            <label>
                                <div class="contacts-label-text">Ваше номер телефона</div>
                                <input type="tel" name="phone">
                            </label>
                        </div>
                        <div class="contacts-form-group">
                            <label>
                                <div class="contacts-label-text">Название Вашей Компании</div>
                                <input type="text" name="company-name">
                            </label>
                        </div>
                        <div class="contacts-form-group">
                            <label>
                                <div class="contacts-label-text">Текст Вашего сообщения*</div>
                                <textarea name="message" required></textarea>
                            </label>
                        </div>
                    </div>
                    <div class="contact-form-group contact-form-group--agreement">
                        <label>
                            <input type="checkbox" name="privacy-policy">
                            <span>Отправляя свои данные через эту форму, я принимаю условия <a href="#">соглашения об обработке персональных данных</a></span>
                        </label>
                    </div>
                    <button type="submit">Отправить</button>
                </form>
            </div>
        </div>
    </div>
    <div class="contacts-main">
        <div class="container">
            <div class="offices-list">
                <div class="offices-list-row">
                    <div class="office-item">
                        <div class="item-map-container"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1122.747738921363!2d37.53683475835093!3d55.749894604703215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54bdc198ab1eb%3A0x79f71cdd516bc059!2z0JHQsNGI0L3RjyDQpNC10LTQtdGA0LDRhtC40Y8sINCf0YDQtdGB0L3QtdC90YHQutCw0Y8g0L3QsNCxLiwgMTIsINCc0L7RgdC60LLQsCwgMTIzMzE3!5e0!3m2!1sru!2sru!4v1582624339172!5m2!1sru!2sru" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe></div>
                        <div class="item-address">
                            <div class="item-img-wrapper">
                                <img src="./images/msc-office.jpg" alt="office-image">
                            </div>
                            <div class="item-address-desc">
                                <h4 class="address-desc-header">Московский офис</h4>
                                <p class="address-desc-text">
                                    Москва-Сити, Пресненская наб.12,<br>
                                    Башня Федерация-Восток, оф. Б2,<br>
                                    123100, Москва, Россия<br>
                                </p>
                                <p class="address-desc-contacts">
                                    <a href="tel:+74951396980" x-ms-format-detection="none">+7 495 139 69 80</a>
                                    <a href="mailto:sales@e-ngineers.com">sales@e-ngineers.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="office-item">
                        <div class="item-map-container"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1997.0895231064644!2d30.381670216211983!3d59.96383846702751!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696322b3eb8e7c1%3A0xb5ed15876c121dfa!2z0JHQpiAiR3JhZmZpdGkiIHwg0JHQpiDQk9GA0LDRhNGE0LjRgtC4fCDQmtC-0L3QtNGA0LDRgtGM0LXQstGB0LrQuNC5INC60LLQsNGA0YLQsNC7!5e0!3m2!1sru!2sru!4v1582624399145!5m2!1sru!2sru" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe></div>
                        <div class="item-address">
                            <div class="item-img-wrapper">
                                <img src="./images/spb-office-contacts.jpg" alt="office-image">
                            </div>
                            <div class="item-address-desc">
                                <h4 class="address-desc-header">Центр разработки</h4>
                                <p class="address-desc-text">
                                    БЦ “Граффити”,<br>
                                    Кондратьевский пр. 15,<br class="mobile"> корп. 5, оф. 310,<br>
                                    195197, Санкт-Петербург, Россия<br>
                                </p>
                                <p class="address-desc-contacts">
                                    <a href="tel:+78124149286" x-ms-format-detection="none">+7 812 414 92 86</a>
                                    <a href="mailto:dev@e-ngineers.com">dev@e-ngineers.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offices-list-row">
                    <div class="office-item">
                        <div class="item-map-container"><iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2452.040905166542!2d4.334936165987121!3d52.07898522657027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1zV29ybGQgVHJhZGUgQ2VudHJlIFRoZSBIYWd1ZSDQo9C7LiDQn9GA0LjQvdGB0LXRgSDQnNCw0YDQs9GA0LjQtdGC0L_Qu9Cw0L3RgtGB0YPQvSwgMzMs!5e0!3m2!1sru!2sru!4v1582624460098!5m2!1sru!2sru" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe></div>
                        <div class="item-address">
                            <div class="item-img-wrapper">
                                <img src="./images/hag-office.jpg" alt="office-image">
                            </div>
                            <div class="item-address-desc">
                                <h4 class="address-desc-header">Dedicated<br class="mobile"> Engineers B.V.</h4>
                                <p class="address-desc-text">
                                    World Trade Centre<br>
                                    Ул. Принсес Маргриетплантсун 33,<br>
                                    2595AM, Гаага, Нидерланды<br>
                                </p>
                                <p class="address-desc-contacts">
                                    <a href="tel:+31651245088" x-ms-format-detection="none">+ 31 6 5124 50 88</a>
                                    <a href="mailto:info@e-ngineers.com">info@e-ngineers.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="office-item">
                        <div class="item-map-container"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2352.066126855243!2d27.542202516036184!3d53.87725234251201!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbd0245ed39101%3A0x4869230150cbd036!2z0YPQuy4g0JDQstCw0LrRj9C90LAgMjEsINCc0LjQvdGB0LosINCR0LXQu9Cw0YDRg9GB0Yw!5e0!3m2!1sru!2sru!4v1582624511224!5m2!1sru!2sru" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe></div>
                        <div class="item-address">
                            <div class="item-img-wrapper">
                                <img src="./images/mnsk-office.jpg" alt="office-image">
                            </div>
                            <div class="item-address-desc">
                                <h4 class="address-desc-header">Центр разработки</h4>
                                <p class="address-desc-text">
                                    Ул. Авакяна, 21, 4 этаж<br>
                                    220039, Минск, Беларусь
                                </p>
                                <p class="address-desc-contacts">
                                    <a href="tel:+375296787009" x-ms-format-detection="none">+3 752 967 87 009</a>
                                    <a href="mailto:minsk@e-ngineers.com">minsk@e-ngineers.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= require('html-loader?attrs[]=!./components/footer.html') %>
</div>

</body>

</html>
