<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News & Blog</title>
</head>

<body class="newsblog">
    <div class="wrapper">
        <%= require('html-loader?attrs[]=!./components/header.html') %>
        <div class="bredcrumbs">
            <div class="container">
                <ul>
                    <li>
                        <a href="/">Главная</a>
                    </li>
                    <li>
                        <span>Блог и новости</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="page-content">
            <div class="news-block">
                <div class="container">
                    <h1 class="section__header">Новости</h1>
                    <div class="list-news">
                        <div class="item-news">
                            <div class="item-news-img-wrapp">
                                <a href="./post.html">
                                    <img src="./images/news-1.jpg" alt="">
                                </a>

                            </div>
                            <div class="item-news-main">
                                <a href="./post.html">
                                    <h3>Company of the Month</h3>
                                </a>
                                <p>E-ngineers is a Company of the month by The Hague Business Agency</p>
                            </div>
                        </div>
                        <div class="item-news">
                            <div class="item-news-img-wrapp">
                                <a href="#">
                                    <img src="./images/news-1.jpg" alt="">
                                </a>
                            </div>
                            <div class="item-news-main">
                                <a href="#">
                                    <h3>Company of the Month</h3>
                                </a>
                                <p>E-ngineers is a Company of the month by The Hague Business Agency</p>
                            </div>
                        </div>
                        <div class="item-news">
                            <div class="item-news-img-wrapp">
                                <a href="#">
                                    <img src="./images/news-1.jpg" alt="">
                                </a>
                            </div>
                            <div class="item-news-main">
                                <a href="#">
                                    <h3>Company of the Month</h3>
                                </a>
                                <p>E-ngineers is a Company of the month by The Hague Business Agency</p>
                            </div>
                        </div>
                        <div class="item-news">
                            <div class="item-news-img-wrapp">
                                <a href="#">
                                    <img src="./images/news-1.jpg" alt="">
                                </a>
                            </div>
                            <div class="item-news-main">
                                <a href="#">
                                    <h3>Company of the Month</h3>
                                </a>
                                <p>E-ngineers is a Company of the month by The Hague Business Agency</p>
                            </div>
                        </div>
                    </div>
                    <a href="./archive.html" class="btn-empty">Все новости</a>
                </div>
            </div>
            <section class="section section-news">
                <div class="container">
                    <h3 class="section__header section__header--blue">
                        Блог
                    </h3>
                    <div class="news-list">
                        <div class="news-item">
                            <div class="news-item-img-wrapp">
                                <img src="./images/news-1.jpg" alt="">
                            </div>
                            <div class="news-item-text">
                                <a href="#" class="news-item__header">
                                    <h5>E-ngineers
                                        компания месяца</h5>
                                </a>
                                <p class="news-item-text">
                                    Реализуем ИТ-проекты различной сложности и масштаба для автоматизации и планирования
                                    бизнес-процессов компании, предоставляя оптимальные решения задач, стоящих перед вашей
                                    организацией.
                                </p>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="news-item-img-wrapp">
                                <img src="./images/news-2.jpg" alt="">
                            </div>
                            <div class="news-item-text">
                                <a href="#" class="news-item__header">
                                    <h5>Представительский офис
                                        В Москве начал работу</h5>
                                </a>
                                <p class="news-item-text">
                                    Реализуем ИТ-проекты различной сложности и масштаба для автоматизации и планирования
                                    бизнес-процессов компании, предоставляя оптимальные решения задач, стоящих перед вашей
                                    организацией.
                                </p>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="news-item-img-wrapp">
                                <img src="./images/news-3.jpg" alt="">
                            </div>
                            <div class="news-item-text">
                                <a href="#" class="news-item__header">
                                    <h5>Открытие нового офиса в
                                        The Hague World Trade Center</h5>
                                </a>
                                <p class="news-item-text">
                                    Реализуем ИТ-проекты различной сложности и масштаба для автоматизации и планирования
                                    бизнес-процессов компании, предоставляя оптимальные решения задач, стоящих перед вашей
                                    организацией.
                                </p>
                            </div>
                        </div>
                    </div>
                    <a href="./archive.html" class="btn">Весь блог</a>
                </div>
            </section>
        </div>
        <%= require('html-loader?attrs[]=!./components/footer.html') %>
    </div>
</body>