<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Single post</title>
</head>

<body class="single-post">
    <div class="wrapper">
        <%= require('html-loader?attrs[]=!./components/header.html') %>
        <div class="bredcrumbs">
            <div class="container">
                <ul>
                    <li>
                        <a href="#">Блог и новости</a>
                    </li>
                    <li>
                        <span>Компания месяца</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="page-content">
            <div class="container">
                <div class="post">
                    <div class="post-date">
                        <span>21.08.2019</span>
                    </div>
                    <div class="post-main">
                        <h1>Компания месяца</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto nisi autem aspernatur
                            repudiandae enim officia, natus odit id sint ea cum, esse velit dolore eligendi aliquid est?
                            Eos, minima dicta.
                        </p>
                        <img src="./images/news-1.jpg" alt="">
                        <h2>Header #2</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque perferendis magni nam rem
                            accusantium doloribus a voluptate iste temporibus sunt maiores voluptates hic explicabo
                            eligendi quibusdam eveniet, tenetur voluptatem culpa.</p>
                        <h3>Header #3</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit autem esse dicta ratione
                            nulla, necessitatibus expedita! Repellendus ipsa quam reprehenderit sunt enim, blanditiis
                            facere possimus perferendis! Itaque rem numquam maxime?</p>
                    </div>

                </div>
                <a href="./newsblog.html" class="btn-empty post-btn">Вернуться</a>
            </div>
           <!--  <div class="interested-posts">
                <div class="container">
                    <h2 class="section__header">Другие новости</h2>
                    <div class="interested-list">
                        <a href="#" class="interested-item">
                            <img src="./images/news-2.jpg" alt="">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error cumque fuga dolor labore
                                neque. Quaerat expedita, pariatur dolores fugit illum aliquid earum optio perspiciatis
                                a. Voluptatum iusto praesentium voluptatem dolor.</p>
                        </a>
                        <a href="#" class="interested-item">
                            <img src="./images/news-2.jpg" alt="">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error cumque fuga dolor labore
                                neque. Quaerat expedita, pariatur dolores fugit illum aliquid earum optio perspiciatis
                                a. Voluptatum iusto praesentium voluptatem dolor.</p>
                        </a>
                    </div>
                </div>

            </div> -->
        </div>
        <%= require('html-loader?attrs[]=!./components/footer.html') %>
    </div>
</body>