<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projects</title>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
</head>

<body class="page-projects">
<div class="wrapper">
    <%= require('html-loader?attrs[]=!./components/header.html') %>
    <div class="projects-hero">
        <div class="container">
            <div class="projects-hero-main">
                <h1 class="projects-header">Проекты и <span>решения</span></h1>
                <div class="projects-description">Реализуем ИТ-проекты различной сложности и масштаба для автоматизации и планирования бизнес-процессов. Оказываем услуги по проектированию, разработке, модернизации, внедрению и сопровождению ИТ- решений</div>
            </div>
        </div>
    </div>
    <div class="projects-main">
        <div class="container">
            <div class="projects-page-list">
                <a href="./spr-page.html" class="project-item">
                    <div class="project-img-container"  style="background-image: url('./images/project1-img.jpg')">

                    </div>
                    <div class="project-desc">
                        <h4 class="project-desc-header">Скоринговая система</h4>
                        <p class="project-desc-text">Заемщик загружает в систему корпоративные документы, такие как годовые отчеты, финансовые отчеты, уставные и прочие юридические документы. </p>
                    </div>
                    <div class="project-link-icon"></div>
                </a>
                <a href="./spr-page-risk.html" class="project-item">
                    <div class="project-img-container"  style="background-image: url('./images/project2-img.jpg')">

                    </div>
                    <div class="project-desc">
                        <h4 class="project-desc-header">Риск менеджмент</h4>
                        <p class="project-desc-text">Визуализатор для оперативного анализа и оценки рисков кредитных организаций внедрен в российском банке.</p>
                    </div>
                    <div class="project-link-icon"></div>
                </a>
                <a href="./spr-page-top.html" class="project-item">
                    <div class="project-img-container"  style="background-image: url('./images/project3-img.jpg')">

                    </div>
                    <div class="project-desc">
                        <h4 class="project-desc-header">Аналитика для ТОП-Менеджеров</h4>
                        <p class="project-desc-text">Инструмент для управления бизнес-единицами с распределенной структурой финансовых показателей разработан для инвестиционно-консалтинговой компании.</p>
                    </div>
                    <div class="project-link-icon"></div>
                </a>
                <a href="./spr-page-workplace.html" class="project-item">
                    <div class="project-img-container"  style="background-image: url('./images/project4-img.jpg')">

                    </div>
                    <div class="project-desc">
                        <h4 class="project-desc-header">Рабочее место кредитного агента и менеджера</h4>
                        <p class="project-desc-text">Позволяет отображать информацию на карте и разметить полигонами деление города или региона на зоны обслуживания.</p>
                    </div>
                    <div class="project-link-icon"></div>
                </a>
                <a href="./spr-page-cms.html" class="project-item">
                    <div class="project-img-container"  style="background-image: url('./images/project5-img.jpg')">

                    </div>
                    <div class="project-desc">
                        <h4 class="project-desc-header">Оптимизация системы управления контентом (CMS)</h4>
                        <p class="project-desc-text">Деятельность форда “Открытая коллекция” предполагает работу с большим количеством информации об объектах искусства и событиях.</p>
                    </div>
                    <div class="project-link-icon"></div>
                </a>
                <a href="./spr-page-ip.html" class="project-item">
                    <div class="project-img-container"  style="background-image: url('./images/project6-img.jpg')">

                    </div>
                    <div class="project-desc">
                        <h4 class="project-desc-header">Мобильная платформа для экспертных консультаций с IP-телефонией</h4>
                        <p class="project-desc-text">Для голландского технического стартапа была разработана мобильная платформа, которая объединяет пользователей и экспертов.</p>
                    </div>
                    <div class="project-link-icon"></div>
                </a>
                <a href="./spr-page-ats.html" class="project-item">
                    <div class="project-img-container"  style="background-image: url('./images/project7-img.jpg')">

                    </div>
                    <div class="project-desc">
                        <h4 class="project-desc-header">Управление виртуальной АТС</h4>
                        <p class="project-desc-text">Приложение для редактирования и управления виртуальной системой УАТС на уровне сервис-провайдера и арендатора через веб-портал.</p>
                    </div>
                    <div class="project-link-icon"></div>
                </a>
                <a href="./spr-page-travel.html" class="project-item">
                    <div class="project-img-container"  style="background-image: url('./images/project8-img.jpg')">

                    </div>
                    <div class="project-desc">
                        <h4 class="project-desc-header">Мобильное приложение для путешественников</h4>
                        <p class="project-desc-text">Аудио путеводитель по городам. Дает возможность различным гидам записать аудио туры и загрузить в приложение через отдельный веб интерфейс.</p>
                    </div>
                    <div class="project-link-icon"></div>
                </a>
                <a href="./spr-page-calendar.html" class="project-item">
                    <div class="project-img-container"  style="background-image: url('./images/project9-img.jpg')">

                    </div>
                    <div class="project-desc">
                        <h4 class="project-desc-header">Служба синхронизации календаря</h4>
                        <p class="project-desc-text">Облачная служба позволяет синхронизировать систему Microsoft Exchange и АТС на основе push-subscriptions</p>
                    </div>
                    <div class="project-link-icon"></div>
                </a>
                <a href="./spr-page-web.html" class="project-item">
                    <div class="project-img-container"  style="background-image: url('./images/project10-img.jpg')">

                    </div>
                    <div class="project-desc">
                        <h4 class="project-desc-header">Веб портал для поиска работы и реализации удаленных проектов</h4>
                        <p class="project-desc-text">Портал для владельцев проектов - с целью нахождения и сотрудничества с удаленными специалистами, для фрилансеров – с целью поиска и выполнения работы.</p>
                    </div>
                    <div class="project-link-icon"></div>
                </a>
            </div>
        </div>
    </div>
    <div class="projects-adds">
        <div class="container">
            <h2 class="adds-header">Вам может быть <span>интересно</span></h2>
            <div class="adds-wrapper">
                <div class="adds-item">
                    <p class="adds-item-img">
                        <img src="./images/option1.svg" alt="option-img">
                    </p>
                    <h4 class="adds-item-header">Интернет проекты</h4>
                    <p class="adds-item-text">Разрабатываем многофункциональные веб-приложения
                        для B2B, B2C бизнеса, корпоративные, партнерские  и клиентские порталы, решения для электронной коммерции и системы онлайн-платежей. Проектируем, разрабатываем
                        и поддерживаем облачные сервисы.</p>
                    <a href="#" class="adds-item-link">Подробнее</a>
                </div>
                <div class="adds-item">
                    <p class="adds-item-img">
                        <img src="./images/option2.svg" alt="option-img">
                    </p>
                    <h4 class="adds-item-header">Мобильные приложения</h4>
                    <p class="adds-item-text">Создаем нативные и кросс-платформенные приложения для iOS, Android, Windows Phone для быстрого доступа к услугам и продукции вашей компании или для предоставления удаленного доступа к корпоративным системам вашим сотрудникам.</p>
                    <a href="#" class="adds-item-link">Подробнее</a>
                </div>

            </div>
        </div>
    </div>
</div>
<%= require('html-loader?attrs[]=!./components/footer.html') %>
</body>

</html>
