<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ru-extra_2</title>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
</head>

<body class="page-web-app">
    <div class="wrapper">
        <%= require('html-loader?attrs[]=!./components/header.html') %>
        <div class="services-hero">
            <div class="container">
                <div class="services-hero-main">
                    <h1 class="services-header">
                        Проектирование <br>
                        и разработка веб приложений <br>
                        <span>
                            С глубоким погружением в бизнес-процессы
                        </span>

                    </h1>
                    <p class="services__description">Создаем решения с широким функционалом и интеграциями
                    </p>
                </div>

            </div>
        </div>
        <section class="section section-offer">
            <div class="container">
                <h3 class="section__header section__header--blue">
                    УСЛУГИ РАЗРАБОТКИ <br> ВЕБ ПРИЛОЖЕНИЙ
                    <span>ОТ E-NGINEERS</span>
                </h3>
                <p class="section__desc">
                    Полный цикл разработки под ключ от идеи, технического задания, проектирования до внедрения,
                    тестирования, сопровождения и поддержки.
                </p>
                <div class="offer-list">
                    <div class="offer-item">
                        <svg id="Group_823" data-name="Group 823" xmlns="http://www.w3.org/2000/svg" width="227"
                            height="167.283" viewBox="0 0 227 167.283">
                            <g id="modeling_1_" data-name="modeling (1)" transform="translate(4.244 11)">
                                <g id="Group_740" data-name="Group 740" transform="translate(0 0)">
                                    <path id="Path_1519" data-name="Path 1519"
                                        d="M147.523,102.5V54.973a14.163,14.163,0,1,0-13.286-22.956L79.685.6,25.134,32.018A14.174,14.174,0,1,0,11.846,54.973V102.5a14.163,14.163,0,1,0,13.287,22.961L79.684,156.88l54.551-31.421a14.173,14.173,0,1,0,13.287-22.96Zm-2.339-70.975a9.49,9.49,0,1,1-9.513,9.49,9.5,9.5,0,0,1,9.513-9.49ZM4.674,41.017A9.513,9.513,0,1,1,14.186,50.5,9.5,9.5,0,0,1,4.674,41.017Zm9.513,84.934a9.49,9.49,0,1,1,9.513-9.49A9.5,9.5,0,0,1,14.187,125.951Zm116.8-9.49a14.085,14.085,0,0,0,.9,4.957L82.028,150.143V123.5H77.349v26.642L27.481,121.421A14.149,14.149,0,0,0,16.53,102.5V54.973a14.2,14.2,0,0,0,8.6-4.957L39.659,58.38,42,54.338,27.477,45.974a14.1,14.1,0,0,0,0-9.921L79.685,5.986l52.208,30.068a14.1,14.1,0,0,0,0,9.921l-14.517,8.361,2.339,4.042,14.526-8.364a14.2,14.2,0,0,0,8.6,4.959V102.5a14.189,14.189,0,0,0-11.852,13.963Zm14.192,9.49a9.49,9.49,0,1,1,9.513-9.49,9.5,9.5,0,0,1-9.513,9.49Zm0,0"
                                        transform="translate(0.012 -0.597)" fill="#0e3f67" />
                                    <path id="Path_1528" data-name="Path 1528"
                                        d="M244.238,172.313l-33.4-19.294-33.4,19.294V210.9l33.4,19.294,33.4-19.294ZM208.5,223.437,182.113,208.2V177.716l26.384,15.24Zm-24.045-49.774,26.384-15.241,26.384,15.243L210.837,188.9ZM239.56,208.2l-26.384,15.24V192.956l26.384-15.24Zm0,0"
                                        transform="translate(-131.139 -113.467)" fill="#44ba17" />
                                    <path id="Path_1536" data-name="Path 1536" d="M502.744,291.9h4.678v4.68h-4.678Zm0,0"
                                        transform="translate(-371.584 -216.097)" fill="#44ba17" opacity="0.8" />
                                    <path id="Path_1537" data-name="Path 1537" d="M466.877,291.9h4.678v4.68h-4.678Zm0,0"
                                        transform="translate(-345.073 -216.097)" fill="#44ba17" opacity="0.8" />
                                    <path id="Path_1538" data-name="Path 1538" d="M126.135,291.9h4.678v4.68h-4.678Zm0,0"
                                        transform="translate(-93.222 -216.097)" fill="#44ba17" opacity="0.8" />
                                    <path id="Path_1539" data-name="Path 1539" d="M90.267,291.9h4.678v4.68H90.267Zm0,0"
                                        transform="translate(-66.711 -216.097)" fill="#44ba17" opacity="0.8" />
                                </g>
                            </g>
                            <g id="Group_814" data-name="Group 814" transform="translate(189.709 57.231)"
                                opacity="0.34">
                                <g id="Group_812" data-name="Group 812" transform="translate(0 0)">
                                    <path id="Path_1317" data-name="Path 1317"
                                        d="M114.552,210.012H132.8v1.922H114.552Zm0,0"
                                        transform="translate(-114.552 -210.012)" fill="#0e3f67" />
                                    <path id="Path_1318" data-name="Path 1318" d="M152.736,248.2h14.4v1.922h-14.4Zm0,0"
                                        transform="translate(-148.895 -244.353)" fill="#0e3f67" />
                                    <path id="Path_1319" data-name="Path 1319"
                                        d="M114.552,248.2h1.921v1.922h-1.921Zm0,0"
                                        transform="translate(-114.552 -244.353)" fill="#0e3f67" />
                                    <path id="Path_1320" data-name="Path 1320"
                                        d="M114.552,286.379H132.8V288.3H114.552Zm0,0"
                                        transform="translate(-114.552 -278.694)" fill="#0e3f67" />
                                    <path id="Path_1321" data-name="Path 1321"
                                        d="M114.552,324.563H132.8v1.922H114.552Zm0,0"
                                        transform="translate(-114.552 -313.035)" fill="#0e3f67" />
                                </g>
                                <g id="Group_813" data-name="Group 813" transform="translate(0 0)">
                                    <path id="Path_1317-2" data-name="Path 1317"
                                        d="M114.552,210.012h37.282v1.922H114.552Zm0,0"
                                        transform="translate(-114.552 -210.012)" fill="#0e3f67" />
                                    <path id="Path_1318-2" data-name="Path 1318"
                                        d="M152.736,248.2h14.4v1.922h-14.4Zm0,0"
                                        transform="translate(-129.858 -244.353)" fill="#0e3f67" />
                                    <path id="Path_1319-2" data-name="Path 1319"
                                        d="M114.552,248.2h1.921v1.922h-1.921Zm0,0"
                                        transform="translate(-114.552 -244.353)" fill="#0e3f67" />
                                    <path id="Path_1320-2" data-name="Path 1320"
                                        d="M114.552,286.379h37.282V288.3H114.552Zm0,0"
                                        transform="translate(-114.552 -278.694)" fill="#0e3f67" />
                                    <path id="Path_1321-2" data-name="Path 1321"
                                        d="M114.552,324.563h37.282v1.922H114.552Zm0,0"
                                        transform="translate(-114.552 -313.035)" fill="#0e3f67" />
                                </g>
                            </g>
                            <g id="Group_814-2" data-name="Group 814" transform="translate(0)" opacity="0.2">
                                <g id="Group_812-2" data-name="Group 812">
                                    <path id="Path_1317-3" data-name="Path 1317"
                                        d="M114.552,210.012H132.8v1.922H114.552Zm0,0"
                                        transform="translate(-114.552 -210.012)" fill="#0e3f67" />
                                    <path id="Path_1318-3" data-name="Path 1318"
                                        d="M152.736,248.2h14.4v1.922h-14.4Zm0,0"
                                        transform="translate(-148.895 -244.353)" fill="#0e3f67" />
                                    <path id="Path_1319-3" data-name="Path 1319"
                                        d="M114.552,248.2h1.921v1.922h-1.921Zm0,0"
                                        transform="translate(-114.552 -244.353)" fill="#0e3f67" />
                                    <path id="Path_1320-3" data-name="Path 1320"
                                        d="M114.552,286.379H132.8V288.3H114.552Zm0,0"
                                        transform="translate(-114.552 -278.694)" fill="#0e3f67" />
                                    <path id="Path_1321-3" data-name="Path 1321"
                                        d="M114.552,324.563H132.8v1.922H114.552Zm0,0"
                                        transform="translate(-114.552 -313.035)" fill="#0e3f67" />
                                </g>
                                <g id="Group_813-2" data-name="Group 813">
                                    <path id="Path_1317-4" data-name="Path 1317"
                                        d="M114.552,210.012h37.282v1.922H114.552Zm0,0"
                                        transform="translate(-114.552 -210.012)" fill="#0e3f67" />
                                    <path id="Path_1318-4" data-name="Path 1318"
                                        d="M152.736,248.2h14.4v1.922h-14.4Zm0,0"
                                        transform="translate(-129.858 -244.353)" fill="#0e3f67" />
                                    <path id="Path_1319-4" data-name="Path 1319"
                                        d="M114.552,248.2h1.921v1.922h-1.921Zm0,0"
                                        transform="translate(-114.552 -244.353)" fill="#0e3f67" />
                                    <path id="Path_1320-4" data-name="Path 1320"
                                        d="M114.552,286.379h37.282V288.3H114.552Zm0,0"
                                        transform="translate(-114.552 -278.694)" fill="#0e3f67" />
                                    <path id="Path_1321-4" data-name="Path 1321"
                                        d="M114.552,324.563h37.282v1.922H114.552Zm0,0"
                                        transform="translate(-114.552 -313.035)" fill="#0e3f67" />
                                </g>
                            </g>
                            <g id="Group_822" data-name="Group 822" transform="translate(189.718 40.574)" opacity="0.3">
                                <g id="Group_812-3" data-name="Group 812" transform="translate(0 0)">
                                    <path id="Path_1317-5" data-name="Path 1317"
                                        d="M114.552,210.012H132.8v1.922H114.552Zm0,0"
                                        transform="translate(-114.552 -210.012)" fill="#0e3f67" />
                                    <path id="Path_1318-5" data-name="Path 1318"
                                        d="M152.736,248.2h14.4v1.922h-14.4Zm0,0"
                                        transform="translate(-148.895 -244.353)" fill="#0e3f67" />
                                    <path id="Path_1319-5" data-name="Path 1319"
                                        d="M114.552,248.2h1.921v1.922h-1.921Zm0,0"
                                        transform="translate(-114.552 -244.353)" fill="#0e3f67" />
                                    <path id="Path_1320-5" data-name="Path 1320"
                                        d="M114.552,286.379H132.8V288.3H114.552Zm0,0"
                                        transform="translate(-114.552 -278.694)" fill="#0e3f67" />
                                    <path id="Path_1321-5" data-name="Path 1321"
                                        d="M114.552,324.563H132.8v1.922H114.552Zm0,0"
                                        transform="translate(-114.552 -313.035)" fill="#0e3f67" />
                                </g>
                                <g id="Group_813-3" data-name="Group 813" transform="translate(0 0)">
                                    <path id="Path_1317-6" data-name="Path 1317"
                                        d="M114.552,210.012h37.282v1.922H114.552Zm0,0"
                                        transform="translate(-114.552 -210.012)" fill="#0e3f67" />
                                    <path id="Path_1318-6" data-name="Path 1318"
                                        d="M152.736,248.2h14.4v1.922h-14.4Zm0,0"
                                        transform="translate(-129.858 -244.353)" fill="#0e3f67" />
                                    <path id="Path_1319-6" data-name="Path 1319"
                                        d="M114.552,248.2h1.921v1.922h-1.921Zm0,0"
                                        transform="translate(-114.552 -244.353)" fill="#0e3f67" />
                                    <path id="Path_1320-6" data-name="Path 1320"
                                        d="M114.552,286.379h37.282V288.3H114.552Zm0,0"
                                        transform="translate(-114.552 -278.694)" fill="#0e3f67" />
                                    <path id="Path_1321-6" data-name="Path 1321"
                                        d="M114.552,324.563h37.282v1.922H114.552Zm0,0"
                                        transform="translate(-114.552 -313.035)" fill="#0e3f67" />
                                </g>
                            </g>
                        </svg>
                        <div class="offer-item-text">
                            <h3 class="offer-item__title">
                                Комплексная
                                разработка
                            </h3>
                            <p class="offer-item_-desc">
                                Мы создаем веб приложения и сервисы такие как многофункциональные порталы, сервисные платформы, интернет-магазины, маркетплейсы, корпоративные порталов 
                                и пользовательские интерфейсы для интернет-ресурсов. Используя современные технологии, мы выполним проекты по разработке веб приложений любой сложности, качественно реализуем требуемую функциональность, создадим удобный, красивый и современный дизайн, обеспечим высокое быстродействие 
                                и надежность системы.
                            </p>
                        </div>
                    </div>
                    <div class="offer-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="205.547" height="168.267" viewBox="0 0 205.547 168.267">
                            <g id="Group_2532" data-name="Group 2532" transform="translate(-776 -977.733)">
                              <g id="Group_2531" data-name="Group 2531" transform="translate(10.5 -933)">
                                <path id="Path_1981" data-name="Path 1981" d="M84.961,150H65.039a5.866,5.866,0,0,1-5.859-5.859v-8.747a61.894,61.894,0,0,1-15.692-6.507l-6.19,6.19a5.867,5.867,0,0,1-8.287,0L14.923,120.989a5.866,5.866,0,0,1,0-8.286l6.19-6.191A61.892,61.892,0,0,1,14.606,90.82H5.859A5.866,5.866,0,0,1,0,84.961V65.039A5.866,5.866,0,0,1,5.859,59.18h8.727a61.892,61.892,0,0,1,6.5-15.72L14.923,37.3a5.866,5.866,0,0,1,0-8.286L29.011,14.923a5.867,5.867,0,0,1,8.287,0l6.142,6.143a61.891,61.891,0,0,1,15.74-6.535V5.859A5.866,5.866,0,0,1,65.039,0H84.961A5.866,5.866,0,0,1,90.82,5.859v8.653a61.921,61.921,0,0,1,15.767,6.527l6.117-6.116a5.866,5.866,0,0,1,8.286,0l14.088,14.088a5.867,5.867,0,0,1,0,8.287l-6.116,6.116a61.921,61.921,0,0,1,6.527,15.767h8.653A5.866,5.866,0,0,1,150,65.039V84.961a5.866,5.866,0,0,1-5.859,5.859h-8.672a61.934,61.934,0,0,1-6.535,15.74l6.142,6.143a5.866,5.866,0,0,1,0,8.286l-14.087,14.088a5.867,5.867,0,0,1-8.287,0l-6.163-6.164a61.926,61.926,0,0,1-15.72,6.5v8.727A5.866,5.866,0,0,1,84.961,150ZM43.048,122.253a2.926,2.926,0,0,1,1.576.46,56.1,56.1,0,0,0,18.118,7.514,2.93,2.93,0,0,1,2.3,2.861v11.053H84.961V133.1a2.929,2.929,0,0,1,2.3-2.861,56.14,56.14,0,0,0,18.146-7.5,2.93,2.93,0,0,1,3.646.4l7.793,7.793,14.087-14.087-7.776-7.776a2.93,2.93,0,0,1-.4-3.651A56.134,56.134,0,0,0,130.3,87.258a2.929,2.929,0,0,1,2.86-2.3H144.14V65.039H133.178a2.929,2.929,0,0,1-2.861-2.3,56.1,56.1,0,0,0-7.53-18.189,2.931,2.931,0,0,1,.4-3.648l7.748-7.748L116.846,19.067,109.1,26.815a2.931,2.931,0,0,1-3.648.4,56.127,56.127,0,0,0-18.189-7.53,2.929,2.929,0,0,1-2.3-2.861V5.859H65.039V16.838a2.93,2.93,0,0,1-2.3,2.861A56.127,56.127,0,0,0,44.58,27.239a2.928,2.928,0,0,1-3.65-.4l-7.777-7.776L19.067,33.154l7.793,7.795a2.928,2.928,0,0,1,.4,3.645,56.14,56.14,0,0,0-7.5,18.146,2.929,2.929,0,0,1-2.861,2.3H5.859V84.961H16.912a2.931,2.931,0,0,1,2.861,2.3,56.112,56.112,0,0,0,7.514,18.118,2.93,2.93,0,0,1-.4,3.648l-7.822,7.822,14.087,14.088,7.822-7.823a2.93,2.93,0,0,1,2.073-.858Zm0,0" transform="translate(765.5 1929)" fill="#0e3f67"/>
                                <path id="Path_1982" data-name="Path 1982" d="M75,117.754a42.766,42.766,0,1,1,20.908-80.08,2.929,2.929,0,1,1-2.866,5.11A36.914,36.914,0,1,0,108.036,58.5a2.93,2.93,0,1,1,5.241-2.618A42.759,42.759,0,0,1,75,117.754Zm0,0" transform="translate(765.5 1929)" fill="#0e3f67"/>
                                <path id="Path_1983" data-name="Path 1983" d="M103.814,50.394a2.932,2.932,0,1,1,2.071-.859A2.947,2.947,0,0,1,103.814,50.394Zm0,0" transform="translate(765.5 1929)" fill="#44ba17"/>
                                <path id="Path_1984" data-name="Path 1984" d="M70.865,96.582a2.93,2.93,0,0,1-2.071-.858L50.267,77.2a2.929,2.929,0,0,1,0-4.143L60.775,62.544a2.933,2.933,0,0,1,4.144,0l5.946,5.947L85.082,54.276a2.929,2.929,0,0,1,4.143,0L99.734,64.785a2.931,2.931,0,0,1,0,4.143l-26.8,26.8a2.934,2.934,0,0,1-2.073.858ZM56.481,75.125,70.865,89.509,93.519,66.856l-6.365-6.365L72.938,74.707a2.93,2.93,0,0,1-4.144,0L62.846,68.76Zm0,0" transform="translate(765.5 1929)" fill="#44ba17"/>
                              </g>
                              <g id="Group_687" data-name="Group 687" transform="translate(863.243 850.653)">
                                <path id="Path_1371" data-name="Path 1371" d="M87.849,436.036H81.757v2.03h6.091Zm0,0" transform="translate(30.455 -222.255)" fill="#cbd0d3"/>
                                <path id="Path_1372" data-name="Path 1372" d="M192.8,436.036h-2.03v2.03h2.03Zm0,0" transform="translate(-82.613 -222.255)" fill="#cbd0d3"/>
                                <path id="Path_1373" data-name="Path 1373" d="M247.3,436.036h-2.03v2.03h2.03Zm0,0" transform="translate(-141.18 -222.255)" fill="#cbd0d3"/>
                                <path id="Path_1374" data-name="Path 1374" d="M387.626,490.543h-6.091v2.03h6.091Zm0,0" transform="translate(-291.657 -272.7)" fill="#cbd0d3"/>
                                <path id="Path_1375" data-name="Path 1375" d="M492.573,490.543h-2.03v2.03h2.03Zm0,0" transform="translate(-404.725 -272.7)" fill="#cbd0d3"/>
                                <path id="Path_1376" data-name="Path 1376" d="M547.08,490.543h-2.031v2.03h2.031Zm0,0" transform="translate(-463.292 -272.7)" fill="#cbd0d3"/>
                                <path id="Path_1377" data-name="Path 1377" d="M305.869,545.049h-6.091v2.03h6.091Zm0,0" transform="translate(-203.808 -323.146)" fill="#cbd0d3"/>
                                <path id="Path_1378" data-name="Path 1378" d="M410.816,545.049h-2.03v2.03h2.03Zm0,0" transform="translate(-316.876 -323.146)" fill="#cbd0d3"/>
                                <path id="Path_1379" data-name="Path 1379" d="M465.322,545.049h-2.03v2.03h2.03Zm0,0" transform="translate(-375.444 -323.146)" fill="#cbd0d3"/>
                                <path id="Path_1380" data-name="Path 1380" d="M87.849,490.543H81.757v2.03h6.091Zm0,0" transform="translate(30.455 -272.7)" fill="#cbd0d3"/>
                                <path id="Path_1381" data-name="Path 1381" d="M253.392,490.543h-8.121v2.03h8.121Zm0,0" transform="translate(-147.271 -272.7)" fill="#cbd0d3"/>
                                <path id="Path_1382" data-name="Path 1382" d="M192.8,490.543h-2.03v2.03h2.03Zm0,0" transform="translate(-82.613 -272.7)" fill="#cbd0d3"/>
                                <path id="Path_1383" data-name="Path 1383" d="M521.854,545.049h-4.061v2.03h4.061Zm0,0" transform="translate(-436.036 -323.146)" fill="#cbd0d3"/>
                                <path id="Path_1384" data-name="Path 1384" d="M146.415,545.049H136.264v2.03h10.151Zm0,0" transform="translate(-32.172 -323.146)" fill="#cbd0d3"/>
                                <path id="Path_1385" data-name="Path 1385" d="M83.788,545.049h-2.03v2.03h2.03Zm0,0" transform="translate(34.516 -323.146)" fill="#cbd0d3"/>
                                <path id="Path_1386" data-name="Path 1386" d="M471.413,436.036h-8.121v2.03h8.121Zm0,0" transform="translate(-381.535 -222.255)" fill="#cbd0d3"/>
                                <path id="Path_1387" data-name="Path 1387" d="M309.929,436.036H299.778v2.03h10.151Zm0,0" transform="translate(-207.868 -222.255)" fill="#cbd0d3"/>
                                <path id="Path_1388" data-name="Path 1388" d="M282.276,207.533l-6.092-10.151-1.741,1.045,6.092,10.151Zm0,0" transform="translate(-178.328 -1.381)" fill="#cbd0d3"/>
                                <path id="Path_1389" data-name="Path 1389" d="M429.681,207.31l-4.061-5.076a1.016,1.016,0,0,1,0-1.268l4.061-5.076,1.586,1.268-3.554,4.441,3.554,4.441Zm0,0" transform="translate(-338.565)" fill="#cbd0d3"/>
                                <path id="Path_1390" data-name="Path 1390" d="M151.473,207.31l-1.586-1.267,3.554-4.443-3.554-4.441,1.586-1.268,4.061,5.076a1.016,1.016,0,0,1,0,1.268Zm0,0" transform="translate(-42.529 0)" fill="#cbd0d3"/>
                                <path id="Path_1391" data-name="Path 1391" d="M95.969,381.535H81.757v2.03H95.969Zm0,0" transform="translate(22.334 -171.814)" fill="#cbd0d3"/>
                                <path id="Path_1392" data-name="Path 1392" d="M301.808,381.535h-2.03v2.03h2.03Zm0,0" transform="translate(-199.747 -171.814)" fill="#cbd0d3"/>
                                <path id="Path_1393" data-name="Path 1393" d="M356.31,381.535h-2.03v2.03h2.03Zm0,0" transform="translate(-258.31 -171.814)" fill="#cbd0d3"/>
                              </g>
                              <g id="Layer_2_16_" transform="translate(935.088 977.733)">
                                <g id="Group_1006" data-name="Group 1006" transform="translate(0 0)">
                                  <path id="Path_1755" data-name="Path 1755" d="M196.756,326.227c-.282.07-.573.134-.86.188a1.383,1.383,0,1,0,.5,2.72c.342-.064.686-.139,1.024-.223a1.383,1.383,0,1,0-.668-2.683Z" transform="translate(-176.086 -295.024)" fill="#98a2a8"/>
                                  <path id="Path_1756" data-name="Path 1756" d="M318.345,107.727a1.383,1.383,0,1,0,2.625-.869q-.164-.494-.364-.984a1.383,1.383,0,1,0-2.566,1.026C318.151,107.172,318.253,107.45,318.345,107.727Z" transform="translate(-287.451 -95.057)" fill="#98a2a8"/>
                                  <path id="Path_1757" data-name="Path 1757" d="M248.778,303.871c-.243.161-.5.317-.752.462a1.383,1.383,0,1,0,1.382,2.4c.3-.174.6-.36.892-.551a1.383,1.383,0,1,0-1.525-2.308Z" transform="translate(-223.615 -274.642)" fill="#98a2a8"/>
                                  <path id="Path_1758" data-name="Path 1758" d="M332.4,161.132a1.383,1.383,0,1,0-2.763.109c.011.291.015.587.008.879a1.383,1.383,0,1,0,2.764.061C332.417,161.832,332.415,161.48,332.4,161.132Z" transform="translate(-298.022 -144.6)" fill="#98a2a8"/>
                                  <path id="Path_1759" data-name="Path 1759" d="M293.232,265.5a1.382,1.382,0,0,0-1.936.273c-.176.234-.364.465-.546.687a1.383,1.383,0,0,0,.156,1.948c.033.028.066.054.1.078a1.383,1.383,0,0,0,1.848-.234c.226-.265.446-.542.658-.819A1.383,1.383,0,0,0,293.232,265.5Z" transform="translate(-262.565 -239.907)" fill="#98a2a8"/>
                                  <path id="Path_1760" data-name="Path 1760" d="M321.05,215.4a1.383,1.383,0,0,0-1.73.91c-.091.282-.188.558-.289.832a1.383,1.383,0,1,0,2.584.984c.124-.325.239-.658.343-.99a1.383,1.383,0,0,0-.9-1.73Z" transform="translate(-288.349 -194.805)" fill="#98a2a8"/>
                                  <path id="Path_1761" data-name="Path 1761" d="M14.638,32.7a14.277,14.277,0,0,1-3.547-1.12c-.013-.006-.025-.015-.039-.022-.265-.125-.529-.259-.786-.4h0a14.748,14.748,0,0,1-1.375-.86A14.427,14.427,0,0,1,8.948,6.661L9,6.626a14.452,14.452,0,0,1,16.2-.129l-1.081,1.56c-.3.434-.116.752.41.7l4.692-.42a.773.773,0,0,0,.7-1.012L28.655,2.789c-.141-.509-.5-.57-.8-.136L26.766,4.219A17.074,17.074,0,0,0,14.259,1.558q-.664.115-1.309.282h-.008l-.05.014A17.048,17.048,0,0,0,3.438,8.189c-.02.024-.04.047-.059.072q-.117.158-.232.321c-.125.177-.248.359-.364.541a.715.715,0,0,0-.038.066A17.045,17.045,0,0,0,.018,19.246c0,.011,0,.024,0,.036.016.347.043.7.081,1.044a.4.4,0,0,0,.01.066q.057.522.147,1.046a17.063,17.063,0,0,0,4.812,9.253l.018.018.006.005a17.42,17.42,0,0,0,2.2,1.84,17.047,17.047,0,0,0,6.855,2.869,1.385,1.385,0,1,0,.488-2.726Z" transform="translate(0 -1.299)" fill="#44ba17"/>
                                  <path id="Path_1762" data-name="Path 1762" d="M159.9,64.133a1.12,1.12,0,0,0-1.12,1.119V76.395l10.2,5.269a1.119,1.119,0,1,0,1.027-1.987l-8.982-4.643V65.25A1.119,1.119,0,0,0,159.9,64.133Z" transform="translate(-143.555 -58.104)" fill="#44ba17"/>
                                </g>
                              </g>
                            </g>
                          </svg>
                          
                        <div class="offer-item-text">
                            <h3 class="offer-item__title">
                                Технический аудит
                                и спасение проекта
                            </h3>
                            <p class="offer-item_-desc">
                                Проведем экспертный анализ текущего 
                                состояния вашего решения, выполним независимое тестирование. Мы подготовим варианты по автоматизации процессов, увеличению их скорости и гибкости. Если проект разработки вашего веб-приложения заморожен, или качество его не соответствует требованиям сегодняшнего дня, наши эксперты при помощи современных технологий вернут его к жизни.
                            </p>
                        </div>
                    </div>
                    <div class="offer-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="219" height="168.001" viewBox="0 0 219 168.001">
                            <g id="Group_2537" data-name="Group 2537" transform="translate(-1175 -961.105)">
                              <g id="Group_530" data-name="Group 530" transform="translate(1175 1094.797) rotate(-90)">
                                <g id="process">
                                  <g id="Group_413" data-name="Group 413" transform="translate(0 0)">
                                    <g id="Group_412" data-name="Group 412">
                                      <path id="Path_1091" data-name="Path 1091" d="M42.911,16.805H39.2a17.592,17.592,0,0,0-.962-2.334l2.614-2.627h0a1.867,1.867,0,0,0,0-2.64L35.572,3.911a1.909,1.909,0,0,0-2.638,0L30.318,6.546a17.566,17.566,0,0,0-2.332-.963V1.866A1.865,1.865,0,0,0,26.113,0H18.657a1.865,1.865,0,0,0-1.864,1.866V5.584a17.565,17.565,0,0,0-2.336.963L11.836,3.922a1.909,1.909,0,0,0-2.638,0L3.919,9.2a1.867,1.867,0,0,0,0,2.64l2.622,2.628a17.6,17.6,0,0,0-.962,2.334H1.864A1.865,1.865,0,0,0,0,18.671v3.734H1.864V18.671h4.4a.933.933,0,0,0,.9-.675A15.825,15.825,0,0,1,8.5,14.75a.934.934,0,0,0-.16-1.113l-3.1-3.114,5.277-5.281,3.1,3.109a.932.932,0,0,0,1.111.16,15.821,15.821,0,0,1,3.251-1.339.933.933,0,0,0,.674-.9V1.862h7.463V6.274a.933.933,0,0,0,.67.9,15.821,15.821,0,0,1,3.254,1.339.932.932,0,0,0,1.111-.16l3.1-3.11,5.277,5.281-3.1,3.106a.934.934,0,0,0-.16,1.113,15.824,15.824,0,0,1,1.337,3.249.933.933,0,0,0,.9.675h4.4V22.4h1.867V18.671a1.865,1.865,0,0,0-1.862-1.863Z" fill="#44ba17"/>
                                    </g>
                                  </g>
                                  <g id="Group_415" data-name="Group 415" transform="translate(13.06 12.136)">
                                    <g id="Group_414" data-name="Group 414">
                                      <path id="Path_1092" data-name="Path 1092" d="M9.328,0A9.332,9.332,0,0,0,0,9.336v.934H1.864V9.336a7.464,7.464,0,1,1,14.927,0v.934h1.866V9.336A9.332,9.332,0,0,0,9.328,0Z" fill="#44ba17"/>
                                    </g>
                                  </g>
                                  <g id="Group_417" data-name="Group 417" transform="translate(21.456 3.734)">
                                    <g id="Group_416" data-name="Group 416">
                                      <rect id="Rectangle_1546" data-name="Rectangle 1546" width="1.864" height="1.866" fill="#44ba17"/>
                                    </g>
                                  </g>
                                  <g id="Group_419" data-name="Group 419" transform="translate(9.328 9.336)">
                                    <g id="Group_418" data-name="Group 418">
                                      <rect id="Rectangle_1547" data-name="Rectangle 1547" width="1.864" height="1.866" fill="#44ba17"/>
                                    </g>
                                  </g>
                                  <g id="Group_421" data-name="Group 421" transform="translate(3.731 20.54)">
                                    <g id="Group_420" data-name="Group 420">
                                      <rect id="Rectangle_1548" data-name="Rectangle 1548" width="1.864" height="1.866" fill="#44ba17"/>
                                    </g>
                                  </g>
                                  <g id="Group_423" data-name="Group 423" transform="translate(39.18 20.54)">
                                    <g id="Group_422" data-name="Group 422">
                                      <rect id="Rectangle_1549" data-name="Rectangle 1549" width="1.864" height="1.866" fill="#44ba17"/>
                                    </g>
                                  </g>
                                  <g id="Group_425" data-name="Group 425" transform="translate(33.583 9.336)">
                                    <g id="Group_424" data-name="Group 424">
                                      <rect id="Rectangle_1550" data-name="Rectangle 1550" width="1.864" height="1.866" fill="#44ba17"/>
                                    </g>
                                  </g>
                                  <g id="Group_449" data-name="Group 449" transform="translate(17.725 16.805)">
                                    <g id="Group_448" data-name="Group 448">
                                      <path id="Path_1097" data-name="Path 1097" d="M4.664,0A4.666,4.666,0,0,0,0,4.668V5.6H1.864V4.668a2.8,2.8,0,1,1,5.6,0V5.6H9.328V4.668A4.666,4.666,0,0,0,4.664,0Z" fill="#44ba17"/>
                                    </g>
                                  </g>
                                </g>
                                <path id="Path_1736" data-name="Path 1736" d="M129.643,37.244a22.974,22.974,0,0,0-22.741-19.9,22.709,22.709,0,0,0-5.425.662,43.189,43.189,0,0,0-73.465,5.365,31.607,31.607,0,0,0-9.019,60.382,2.71,2.71,0,1,0,2.167-4.967,26.2,26.2,0,0,1,8.778-50.171,2.71,2.71,0,0,0,2.271-1.544A37.777,37.777,0,0,1,98.08,22.627a2.707,2.707,0,0,0,3.148,1.084,17.492,17.492,0,0,1,23.18,15.534,2.705,2.705,0,0,0,1.694,2.35,20.417,20.417,0,0,1-2.5,38.74,2.708,2.708,0,0,0,.675,5.327,2.744,2.744,0,0,0,.676-.087,25.835,25.835,0,0,0,4.7-48.332Zm0,0" transform="translate(116.692 44.17) rotate(90)" fill="#cbd0d3"/>
                              </g>
                              <g id="laptop" transform="translate(1191.643 1028.271)">
                                <g id="Path_1743" data-name="Path 1743" transform="translate(12.38 6.667)">
                                  <path id="Path_1798" data-name="Path 1798" d="M150.639,164.1H43.691a5.033,5.033,0,0,1-5.029-5.025V95.9a5.033,5.033,0,0,1,5.029-5.025H150.639a5.033,5.033,0,0,1,5.029,5.025v63.172A5.032,5.032,0,0,1,150.639,164.1Zm-105.8-6.167H149.5V97.049H44.834Z" transform="translate(-37.059 -89.281)" fill="#0e3f67"/>
                                  <path id="Path_1799" data-name="Path 1799" d="M44.345,93.136a3.428,3.428,0,0,0-3.425,3.422V159.73a3.428,3.428,0,0,0,3.425,3.422H151.293a3.428,3.428,0,0,0,3.425-3.422V96.556a3.428,3.428,0,0,0-3.425-3.422H44.345m106.948,67.054H44.345a.46.46,0,0,1-.46-.459V96.556a.46.46,0,0,1,.46-.459H151.293a.46.46,0,0,1,.459.459v63.172a.46.46,0,0,1-.459.459M44.345,89.933H151.293a6.637,6.637,0,0,1,6.637,6.623v63.172a6.637,6.637,0,0,1-6.632,6.627H44.345a6.637,6.637,0,0,1-6.632-6.627V96.556A6.637,6.637,0,0,1,44.345,89.933ZM148.552,99.3H47.092v57.683H148.545Z" transform="translate(-37.713 -89.933)" fill="#edeff1"/>
                                </g>
                                <g id="Path_1744" data-name="Path 1744" transform="translate(0 0)">
                                  <path id="Path_1800" data-name="Path 1800" d="M132.014,167.163H7.853a8.807,8.807,0,0,1-8.8-8.789v-6.106a3.83,3.83,0,0,1,3.828-3.825h1.88V79.6A10.089,10.089,0,0,1,14.833,69.532h110.2A10.089,10.089,0,0,1,135.108,79.6v68.84h1.88a3.825,3.825,0,0,1,3.828,3.825v6.11A8.807,8.807,0,0,1,132.014,167.163Zm-52.576-7.654h52.577a1.148,1.148,0,0,0,1.147-1.146v-2.282H81.009a5.49,5.49,0,0,1-1.572,3.428ZM6.71,156.087v2.282a1.148,1.148,0,0,0,1.147,1.146H60.43a5.491,5.491,0,0,1-1.573-3.428Zm5.707-7.649H127.457V79.6a2.423,2.423,0,0,0-2.421-2.419H14.833A2.423,2.423,0,0,0,12.412,79.6Z" transform="translate(2.552 -67.93)" fill="#0e3f67"/>
                                  <path id="Path_1801" data-name="Path 1801" d="M132.668,166.212a7.2,7.2,0,0,0,7.2-7.193v-6.106a2.223,2.223,0,0,0-2.224-2.222h-3.483V80.252a8.478,8.478,0,0,0-8.473-8.466H15.489a8.478,8.478,0,0,0-8.473,8.466v70.441H3.533a2.223,2.223,0,0,0-2.224,2.222v6.111a7.2,7.2,0,0,0,7.2,7.185H132.668M5.753,155.137H61.1V156.3a3.909,3.909,0,0,0,3.911,3.908H76.17A3.909,3.909,0,0,0,80.08,156.3v-1.162h55.334v3.89h0a2.752,2.752,0,0,1-2.75,2.748H8.507a2.752,2.752,0,0,1-2.75-2.748v-3.884m58.3,0h13.05v1.162a.945.945,0,0,1-.944.943H65.007a.945.945,0,0,1-.944-.943v-1.162M15.493,76.231h110.2a4.027,4.027,0,0,1,4.023,4.02v70.441H11.465V80.251a4.027,4.027,0,0,1,4.023-4.02m117.18,93.187H8.507A10.413,10.413,0,0,1-1.9,159.027v-6.106A5.435,5.435,0,0,1,3.527,147.5H3.8V80.252A11.688,11.688,0,0,1,15.481,68.583H125.688a11.688,11.688,0,0,1,11.678,11.669V147.49h.276a5.423,5.423,0,0,1,5.425,5.427v6.11a10.413,10.413,0,0,1-10.4,10.391ZM82.915,158.566h49.3v-.223H82.986q-.034.112-.071.223Zm-73.951,0h49.3q-.038-.111-.071-.223H8.964Zm5.707-11.077H126.5V80.252a.817.817,0,0,0-.818-.817H15.488a.817.817,0,0,0-.817.817Z" transform="translate(1.898 -68.583)" fill="#fff"/>
                                </g>
                                <path id="Rectangle_1639" data-name="Rectangle 1639" d="M0,0H107.419V62.478H0Z" transform="translate(18.309 12.319)" fill="#fff"/>
                                <g id="Group_613" data-name="Group 613" transform="translate(32.913 27.399)">
                                  <path id="Path_1256" data-name="Path 1256" d="M85.673,157.067h28.091v2.955H85.673Zm0,0" transform="translate(-72.846 -155.59)" fill="#44ba17"/>
                                  <path id="Path_1257" data-name="Path 1257" d="M114.231,185.625h22.177v2.955H114.231Zm0,0" transform="translate(-95.49 -178.238)" fill="#44ba17"/>
                                  <path id="Path_1258" data-name="Path 1258" d="M85.673,185.625H88.63v2.955H85.673Zm0,0" transform="translate(-72.846 -178.238)" fill="#44ba17"/>
                                  <path id="Path_1260" data-name="Path 1260" d="M85.673,242.74h28.091v2.955H85.673Zm0,0" transform="translate(-72.846 -223.535)" fill="#44ba17"/>
                                  <path id="Path_1261" data-name="Path 1261" d="M207.043,271.3H210v2.955h-2.957Zm0,0" transform="translate(-169.082 -246.183)" fill="#44ba17"/>
                                  <path id="Path_1262" data-name="Path 1262" d="M85.673,271.3H107.85v2.955H85.673Zm0,0" transform="translate(-72.846 -246.183)" fill="#44ba17"/>
                                  <path id="Path_1263" data-name="Path 1263" d="M85.673,299.856h28.091v2.955H85.673Zm0,0" transform="translate(-72.846 -268.831)" fill="#44ba17"/>
                                  <g id="Group_2536" data-name="Group 2536">
                                    <path id="Path_1254" data-name="Path 1254" d="M31.515,154.36v1.478a2.959,2.959,0,0,1-2.957,2.954v2.955a2.959,2.959,0,0,1,2.957,2.955v1.478a4.44,4.44,0,0,0,4.436,4.432h1.479v-2.954H35.95a1.48,1.48,0,0,1-1.479-1.478V164.7a5.893,5.893,0,0,0-2.006-4.432,5.893,5.893,0,0,0,2.006-4.432v-1.478a1.48,1.48,0,0,1,1.479-1.478h1.479v-2.954H35.95A4.44,4.44,0,0,0,31.515,154.36Zm0,0" transform="translate(-28.558 -149.928)" fill="#44ba17"/>
                                    <path id="Path_1255" data-name="Path 1255" d="M241.515,220.092v-1.478a4.44,4.44,0,0,0-4.435-4.432H235.6v2.955h1.479a1.48,1.48,0,0,1,1.479,1.478v1.478a5.893,5.893,0,0,0,2.006,4.432,5.893,5.893,0,0,0-2.006,4.432v1.478a1.48,1.48,0,0,1-1.479,1.478H235.6v2.955h1.479a4.44,4.44,0,0,0,4.436-4.432v-1.478A2.959,2.959,0,0,1,244.472,226v-2.955a2.959,2.959,0,0,1-2.958-2.956Zm0,0" transform="translate(-165.753 -200.886)" fill="#44ba17"/>
                                    <path id="Path_1256-2" data-name="Path 1256" d="M85.673,157.067h28.091v2.955H85.673Zm0,0" transform="translate(-47.873 -155.59)" fill="#44ba17"/>
                                    <path id="Path_1257-2" data-name="Path 1257" d="M114.231,185.625h22.177v2.955H114.231Zm0,0" transform="translate(-70.516 -178.238)" fill="#44ba17"/>
                                    <path id="Path_1258-2" data-name="Path 1258" d="M85.673,185.625H88.63v2.955H85.673Zm0,0" transform="translate(-47.873 -178.238)" fill="#44ba17"/>
                                    <path id="Path_1259" data-name="Path 1259" d="M85.673,214.183h28.091v2.955H85.673Zm0,0" transform="translate(-72.846 -200.886)" fill="#44ba17"/>
                                    <path id="Path_1259-2" data-name="Path 1259" d="M85.673,214.183h28.091v2.955H85.673Zm0,0" transform="translate(-47.873 -200.886)" fill="#44ba17"/>
                                    <path id="Path_1260-2" data-name="Path 1260" d="M85.673,242.74h28.091v2.955H85.673Zm0,0" transform="translate(-47.873 -223.535)" fill="#44ba17"/>
                                    <path id="Path_1261-2" data-name="Path 1261" d="M207.043,271.3H210v2.955h-2.957Zm0,0" transform="translate(-144.108 -246.183)" fill="#44ba17"/>
                                    <path id="Path_1262-2" data-name="Path 1262" d="M85.673,271.3H107.85v2.955H85.673Zm0,0" transform="translate(-47.873 -246.183)" fill="#44ba17"/>
                                    <path id="Path_1263-2" data-name="Path 1263" d="M85.673,299.856h28.091v2.955H85.673Zm0,0" transform="translate(-47.873 -268.831)" fill="#44ba17"/>
                                  </g>
                                </g>
                              </g>
                              <g id="Group_683" data-name="Group 683" transform="translate(1368.841 1045.665) rotate(-90)">
                                <path id="Path_1337" data-name="Path 1337" d="M0,0H3.623V3.62H0ZM0,0" transform="translate(3.62 14.385) rotate(90)" fill="#44ba17"/>
                                <path id="Path_1338" data-name="Path 1338" d="M0,0H3.623V3.62H0ZM0,0" transform="translate(10.859 14.385) rotate(90)" fill="#44ba17"/>
                                <path id="Path_1339" data-name="Path 1339" d="M0,17.6H7.146V48.363h3.623V13.978H7.043L12.58,6.234l5.537,7.744H14.39v56.1h3.623V17.6h7.146L12.585,0Zm0,0" transform="translate(84.56 0) rotate(90)" fill="#44ba17"/>
                                <path id="Path_1340" data-name="Path 1340" d="M0,0H3.623V32.576H0ZM0,0" transform="translate(32.576 7.141) rotate(90)" fill="#44ba17"/>
                              </g>
                            </g>
                          </svg>
                          
                        <div class="offer-item-text">
                            <h3 class="offer-item__title">
                                Модернизация 
                                веб приложений
                            </h3>
                            <p class="offer-item_-desc">
                                Мы модернизируем или расширим текущий функционал (создание серверных / клиентских модулей веб приложений). 
                                Поможем с редизайном, рефакторингом кода, переходом на новые высокотехнологичные системы или предложим улучшения устаревшей.  Мы выведем ваше веб решение 
                                на новый уровень. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-do">
            <div class="container">
                <h3 class="section__header section__header--blue">
                    Цифровые решения <br>
                    на основе
                    <span>веб-технологий</span>
                </h3>
                <p class="section__desc">
                    Создаем индивидуальные высокотехнологичные 
                    веб приложения и сервисы.
                    
                </p>
                <div class="section-do-list">
                    <div class="section-do-item">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="115" height="90" viewBox="0 0 115 90">
                            <defs>
                              <clipPath id="clip-path">
                                <rect id="Rectangle_1674" data-name="Rectangle 1674" width="115" height="90" transform="translate(1519 3656)" fill="#0e3f67" stroke="#d1dbe3" stroke-width="1"/>
                              </clipPath>
                            </defs>
                            <g id="Mask_Group_78" data-name="Mask Group 78" transform="translate(-1519 -3656)" clip-path="url(#clip-path)">
                              <g id="website" transform="translate(1531.444 3656)">
                                <path id="Path_1985" data-name="Path 1985" d="M7,35h3v3H7Zm0,0" transform="translate(-0.993 -5)" fill="#0e3f67"/>
                                <path id="Path_1986" data-name="Path 1986" d="M14,35h3v3H14Zm0,0" transform="translate(-1.985 -5)" fill="#0e3f67"/>
                                <path id="Path_1987" data-name="Path 1987" d="M21,35h3v3H21Zm0,0" transform="translate(-2.978 -5)" fill="#0e3f67"/>
                                <path id="Path_2000" data-name="Path 2000" d="M85.606,48H60.075V42H70.588a4.5,4.5,0,0,0,4.506-4.5V4.5A4.5,4.5,0,0,0,70.588,0H34.543a4.5,4.5,0,0,0-4.506,4.5v21H4.506A4.5,4.5,0,0,0,0,30V75a4.5,4.5,0,0,0,4.506,4.5h40.55v6A4.5,4.5,0,0,0,49.562,90H85.606a4.5,4.5,0,0,0,4.506-4.5v-33A4.5,4.5,0,0,0,85.606,48Zm0,3a1.5,1.5,0,0,1,1.5,1.5V57H60.075V51ZM34.543,3H70.588a1.5,1.5,0,0,1,1.5,1.5V9H33.041V4.5A1.5,1.5,0,0,1,34.543,3Zm-1.5,9H72.09V37.5a1.5,1.5,0,0,1-1.5,1.5H60.075V30a4.5,4.5,0,0,0-4.506-4.5H33.041ZM4.506,28.5H55.569a1.5,1.5,0,0,1,1.5,1.5v4.5H3V30A1.5,1.5,0,0,1,4.506,28.5ZM3,75V37.5H57.071V75a1.5,1.5,0,0,1-1.5,1.5H4.506A1.5,1.5,0,0,1,3,75Zm82.6,12H49.562a1.5,1.5,0,0,1-1.5-1.5v-6h7.509A4.5,4.5,0,0,0,60.075,75V60H87.108V85.5A1.5,1.5,0,0,1,85.606,87Zm0,0" fill="#0e3f67"/>
                                <path id="Path_2001" data-name="Path 2001" d="M42,5.25h3v3H42Zm0,0" transform="translate(-5.955 -0.75)" fill="#0e3f67"/>
                                <path id="Path_2002" data-name="Path 2002" d="M47.25,5.25h3v3h-3Zm0,0" transform="translate(-6.7 -0.75)" fill="#0e3f67"/>
                                <path id="Path_2003" data-name="Path 2003" d="M52.5,5.25h3v3h-3Zm0,0" transform="translate(-7.444 -0.75)" fill="#0e3f67"/>
                                <g id="Group_681" data-name="Group 681" transform="translate(8.556 42.803)">
                                  <path id="Path_1254" data-name="Path 1254" d="M40.849,205.509v1.218a2.42,2.42,0,0,1-2.4,2.435V211.6a2.42,2.42,0,0,1,2.4,2.435v1.218a3.631,3.631,0,0,0,3.6,3.652h1.2v-2.435h-1.2a1.21,1.21,0,0,1-1.2-1.218v-1.218a4.888,4.888,0,0,0-1.628-3.652,4.888,4.888,0,0,0,1.628-3.652V205.51a1.21,1.21,0,0,1,1.2-1.218h1.2v-2.435h-1.2A3.631,3.631,0,0,0,40.849,205.509Zm0,0" transform="translate(-38.449 -201.857)" fill="#44ba17"/>
                                  <path id="Path_1255" data-name="Path 1255" d="M322,293.236v-1.218a3.631,3.631,0,0,0-3.6-3.652h-1.2V290.8h1.2a1.21,1.21,0,0,1,1.2,1.218v1.218a4.888,4.888,0,0,0,1.628,3.652,4.888,4.888,0,0,0-1.628,3.652v1.218a1.21,1.21,0,0,1-1.2,1.218h-1.2v2.435h1.2a3.631,3.631,0,0,0,3.6-3.652v-1.218a2.42,2.42,0,0,1,2.4-2.435v-2.435A2.42,2.42,0,0,1,322,293.236Zm0,0" transform="translate(-282.404 -277.411)" fill="#44ba17"/>
                                  <path id="Path_1256" data-name="Path 1256" d="M115.347,211.469h22.8V213.9h-22.8Zm0,0" transform="translate(-105.747 -210.252)" fill="#44ba17"/>
                                  <path id="Path_1257" data-name="Path 1257" d="M153.8,249.918h18v2.435h-18Zm0,0" transform="translate(-139.396 -243.831)" fill="#44ba17"/>
                                  <path id="Path_1258" data-name="Path 1258" d="M115.347,249.918h2.4v2.435h-2.4Zm0,0" transform="translate(-105.747 -243.831)" fill="#44ba17"/>
                                  <path id="Path_1259" data-name="Path 1259" d="M115.347,288.367h22.8V290.8h-22.8Zm0,0" transform="translate(-105.747 -277.411)" fill="#44ba17"/>
                                  <path id="Path_1260" data-name="Path 1260" d="M115.347,326.816h22.8v2.435h-22.8Zm0,0" transform="translate(-105.747 -310.991)" fill="#44ba17"/>
                                  <path id="Path_1261" data-name="Path 1261" d="M278.755,365.265h2.4V367.7h-2.4Zm0,0" transform="translate(-248.755 -344.57)" fill="#44ba17"/>
                                  <path id="Path_1262" data-name="Path 1262" d="M115.347,365.265h18V367.7h-18Zm0,0" transform="translate(-105.747 -344.57)" fill="#44ba17"/>
                                  <path id="Path_1263" data-name="Path 1263" d="M115.347,403.714h22.8v2.434h-22.8Zm0,0" transform="translate(-105.747 -378.15)" fill="#44ba17"/>
                                </g>
                              </g>
                            </g>
                          </svg>
                          
                        <h4>
                            Решение сложных <br>
                            бизнес-задач на основе 
                            веб-технологий 
                        </h4>
                        <p>Мы глубоко погружаемся во внутренние и внешние бизнес-процессы и проблематику заказчика, внимательны к деталям. 
                            Мы создаем цифровые решения на основе веб-технологий, таких как ReactJS, Angular, JavaScript, VueJS, и пр. Разработанные нами веб приложения и сервисы сочетают 
                            в себе удобный и современный дизайн
                            с высокой производительностью, надежностью и устойчивостью к большим нагрузкам.</p>
                    </div>
                    <div class="section-do-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="90" height="88.854" viewBox="0 0 90 88.854">
                            <g id="servers" transform="translate(-0.002)">
                              <g id="Group_2541" data-name="Group 2541" transform="translate(0.002)">
                                <g id="Group_2540" data-name="Group 2540" transform="translate(0)">
                                  <path id="Path_2004" data-name="Path 2004" d="M345.085,220.518v-5.31a1.875,1.875,0,0,0-3.75,0v5.31a1.875,1.875,0,1,0,3.75,0Z" transform="translate(-281.335 -175.833)" fill="#0e3f67"/>
                                  <path id="Path_2005" data-name="Path 2005" d="M385.877,220.7a1.876,1.876,0,0,0,1.875-1.875v-3.615a1.875,1.875,0,0,0-3.75,0v3.615A1.876,1.876,0,0,0,385.877,220.7Z" transform="translate(-316.502 -175.833)" fill="#0e3f67"/>
                                  <path id="Path_2006" data-name="Path 2006" d="M302.418,222.708v-7.5a1.875,1.875,0,0,0-3.75,0v7.5a1.875,1.875,0,1,0,3.75,0Z" transform="translate(-246.168 -175.833)" fill="#0e3f67"/>
                                  <path id="Path_2009" data-name="Path 2009" d="M80.627,26.25A9.388,9.388,0,0,0,90,16.875v-7.5A9.388,9.388,0,0,0,80.627,0H9.377A9.383,9.383,0,0,0,0,9.375v7.5A9.383,9.383,0,0,0,9.377,26.25H33.752V30H9.377A9.383,9.383,0,0,0,0,39.375v7.5A9.383,9.383,0,0,0,9.377,56.25H33.752V60H31.877A1.876,1.876,0,0,0,30,61.875V63.75H28.127a1.876,1.876,0,0,0-1.875,1.875V67.5H9.377a1.875,1.875,0,1,0,0,3.75H26.252v1.875A1.876,1.876,0,0,0,28.127,75h15A1.876,1.876,0,0,0,45,73.125v-7.5a1.876,1.876,0,0,0-1.875-1.875H41.252V61.875A1.876,1.876,0,0,0,39.376,60H37.5V56.25h9.458a1.875,1.875,0,0,0-.011-3.75H9.37a5.632,5.632,0,0,1-5.625-5.625v-7.5A5.632,5.632,0,0,1,9.37,33.75h71.25a5.632,5.632,0,0,1,5.625,5.625v7.5a5.556,5.556,0,0,1-.773,2.786,1.875,1.875,0,1,0,3.255,1.864A9.27,9.27,0,0,0,90,46.875v-7.5A9.388,9.388,0,0,0,80.626,30H37.5V26.25H80.627ZM39.377,67.5h1.875v3.75H30V67.5h1.875a1.876,1.876,0,0,0,1.875-1.875V63.75H37.5v1.875A1.876,1.876,0,0,0,39.377,67.5Zm-30-45a5.629,5.629,0,0,1-5.625-5.625v-7.5A5.629,5.629,0,0,1,9.377,3.75h71.25a5.634,5.634,0,0,1,5.625,5.625v7.5A5.634,5.634,0,0,1,80.626,22.5Z" transform="translate(-0.002)" fill="#0e3f67"/>
                                  <path id="Path_2010" data-name="Path 2010" d="M428.543,42.667a1.876,1.876,0,0,0-1.875,1.875v7.5a1.875,1.875,0,0,0,3.75,0v-7.5A1.876,1.876,0,0,0,428.543,42.667Z" transform="translate(-351.668 -35.167)" fill="#44ba17"/>
                                  <path id="Path_2011" data-name="Path 2011" d="M430.418,220.518v-5.31a1.875,1.875,0,0,0-3.75,0v5.31a1.875,1.875,0,1,0,3.75,0Z" transform="translate(-351.668 -175.833)" fill="#0e3f67"/>
                                  <path id="Path_2012" data-name="Path 2012" d="M42.669,218.958a5.625,5.625,0,1,0,5.625-5.625A5.629,5.629,0,0,0,42.669,218.958Zm7.5,0a1.875,1.875,0,1,1-1.875-1.875A1.881,1.881,0,0,1,50.169,218.958Z" transform="translate(-35.169 -175.833)" fill="#0e3f67"/>
                                  <path id="Path_2013" data-name="Path 2013" d="M385.877,42.667A1.876,1.876,0,0,0,384,44.542v7.5a1.875,1.875,0,1,0,3.75,0v-7.5A1.876,1.876,0,0,0,385.877,42.667Z" transform="translate(-316.502 -35.167)" fill="#44ba17"/>
                                  <path id="Path_2014" data-name="Path 2014" d="M343.21,42.667a1.876,1.876,0,0,0-1.875,1.875v7.5a1.875,1.875,0,1,0,3.75,0v-7.5A1.876,1.876,0,0,0,343.21,42.667Z" transform="translate(-281.335 -35.167)" fill="#44ba17"/>
                                  <path id="Path_2015" data-name="Path 2015" d="M48.294,42.667a5.625,5.625,0,1,0,5.625,5.625A5.629,5.629,0,0,0,48.294,42.667Zm0,7.5a1.875,1.875,0,1,1,1.875-1.875A1.876,1.876,0,0,1,48.294,50.167Z" transform="translate(-35.169 -35.167)" fill="#44ba17"/>
                                  <path id="Path_2016" data-name="Path 2016" d="M300.543,42.667a1.876,1.876,0,0,0-1.875,1.875v7.5a1.875,1.875,0,1,0,3.75,0v-7.5A1.876,1.876,0,0,0,300.543,42.667Z" transform="translate(-246.168 -35.167)" fill="#44ba17"/>
                                  <g id="Group_844" data-name="Group 844" transform="translate(90 49.189) rotate(90)">
                                    <g id="Group_686" data-name="Group 686">
                                      <g id="Group_688" data-name="Group 688">
                                        <path id="Path_1424" data-name="Path 1424" d="M25.049,4.364,24.321,0H15.345l-.728,4.364a15.964,15.964,0,0,0-2.04.839L8.983,2.634,2.635,8.982l2.562,3.6a16.429,16.429,0,0,0-.839,2.039L0,15.343v8.978l4.363.726A16.259,16.259,0,0,0,5.2,27.086l-2.562,3.6L8.983,37.03l3.6-2.567a16.019,16.019,0,0,0,2.039.839l.726,4.364H24.32l.728-4.364a15.9,15.9,0,0,0,2.04-.839l3.6,2.567,6.347-6.346-2.567-3.6a16.427,16.427,0,0,0,.839-2.039l4.363-.726V15.345L35.3,14.618a16.253,16.253,0,0,0-.839-2.039l2.567-3.6-6.347-6.35L27.088,5.2a16,16,0,0,0-2.039-.841Zm5.382,1.319,3.551,3.552-2.263,3.172.359.65a13.9,13.9,0,0,1,1.2,2.921l.2.708,3.85.642v5.02l-3.848.642-.2.708a13.911,13.911,0,0,1-1.2,2.921l-.359.65,2.265,3.172-3.551,3.552-3.17-2.266-.65.36a13.9,13.9,0,0,1-2.92,1.2l-.709.2-.637,3.842H17.321l-.642-3.85-.708-.2a13.973,13.973,0,0,1-2.92-1.2l-.65-.36-3.17,2.266L5.684,30.429l2.265-3.173-.359-.65a13.912,13.912,0,0,1-1.2-2.921l-.2-.708-3.845-.63V17.321l3.848-.642.2-.708a13.911,13.911,0,0,1,1.2-2.921l.359-.65L5.683,9.234,9.234,5.682,12.4,7.948l.65-.36a13.9,13.9,0,0,1,2.92-1.2l.708-.2.642-3.85h5.024l.642,3.85.708.2a13.977,13.977,0,0,1,2.92,1.2l.65.36Zm0,0" fill="#44ba17"/>
                                        <path id="Path_1423" data-name="Path 1423" d="M7,14A7,7,0,1,0,0,7a7,7,0,0,0,7,7ZM7,2.332a4.663,4.663,0,1,0,0,.005Zm0,0" transform="translate(12.833 12.834)" fill="#44ba17"/>
                                      </g>
                                    </g>
                                  </g>
                                </g>
                              </g>
                            </g>
                          </svg>
                          
                        <h4>
                            Разработка веб <br>
                            и корпоративных порталов
                        </h4>
                        <p>Мы создаем веб-порталы под требования заказчика: внутрикорпоративный, партнерский, медиатеки, для дистанционного и онлайн обучения и пр. Мы разрабатываем высокотехнологичные и легко масштабируемые порталы, выполним интеграцию с сервисами и системами других вендоров, которые установлены у заказчика. У нас большой опыт разработки веб и корпоративных порталов любой сложности, от узкоспециализированных решений до многофункциональных порталов и облачных сервисов.
                        </p>
                    </div>
                    <div class="section-do-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="121" height="90" viewBox="0 0 121 90">
                            <g id="Group_2544" data-name="Group 2544" transform="translate(0.1 -18.688)">
                              <path id="Path_1908" d="M118.891,92.884h-4.042V32.526a9.933,9.933,0,0,0-10.093-9.744h-12.1v3.9h12.1a5.961,5.961,0,0,1,6.051,5.842h0V92.884H9.97V32.526a5.961,5.961,0,0,1,6.051-5.842h12.1v-3.9h-12.1A9.948,9.948,0,0,0,5.928,32.526V92.884H1.91A1.974,1.974,0,0,0-.1,94.824h0v7.782a5.961,5.961,0,0,0,6.051,5.842h108.9a5.961,5.961,0,0,0,6.051-5.842h0V94.824a1.974,1.974,0,0,0-2.009-1.94Zm-2.009,9.744a1.974,1.974,0,0,1-2.009,1.94H5.928a1.974,1.974,0,0,1-2.009-1.94h0V96.786H116.882Z" transform="translate(0 0.241)" fill="#0e3f67"/>
                              <path id="Path_1909" d="M73.559,133.3H97.554v3.018H73.559V133.3Z" transform="translate(-25.156 -33.6)" fill="#0e3f67"/>
                              <g id="Group_2542" data-name="Group 2542" transform="translate(29.775 18.688)">
                                <g id="Group_2166" data-name="Group 2166">
                                  <g id="Group_2165" data-name="Group 2165">
                                    <path id="Path_1822" data-name="Path 1822" d="M32.385,35A32.107,32.107,0,1,0,64.771,67.106,32.247,32.247,0,0,0,32.385,35Zm0,60.2A28.094,28.094,0,1,1,60.722,67.106,28.216,28.216,0,0,1,32.385,95.2Z" transform="translate(0 -35)" fill="#44ba17"/>
                                  </g>
                                </g>
                                <g id="Group_2178" data-name="Group 2178" transform="translate(23.707 16.555)">
                                  <g id="Group_2177" data-name="Group 2177" transform="translate(0 0)">
                                    <path id="Path_1823" data-name="Path 1823" d="M70.308,67.031a3.7,3.7,0,1,1,4.224-3.659,1.92,1.92,0,1,0,3.84,0,7.645,7.645,0,0,0-6.144-7.287v-1a1.92,1.92,0,1,0-3.84,0v1a7.645,7.645,0,0,0-6.144,7.287,7.808,7.808,0,0,0,8.064,7.5,3.7,3.7,0,1,1-4.224,3.66,1.92,1.92,0,1,0-3.84,0,7.645,7.645,0,0,0,6.144,7.287v.83a1.92,1.92,0,1,0,3.84,0v-.83a7.645,7.645,0,0,0,6.144-7.287A7.808,7.808,0,0,0,70.308,67.031Z" transform="translate(-62.243 -53.164)" fill="#44ba17"/>
                                  </g>
                                </g>
                                <g id="Group_2180" data-name="Group 2180" transform="translate(39.83 9.748)">
                                  <g id="Group_2179" data-name="Group 2179" transform="translate(0 0)">
                                    <path id="Path_1824" data-name="Path 1824" d="M92.639,55.057A25.025,25.025,0,0,0,82.42,46.005a1.921,1.921,0,0,0-1.664,3.464,21.169,21.169,0,0,1,9.521,28.979,1.92,1.92,0,1,0,3.39,1.805,25.031,25.031,0,0,0-1.028-25.2Z" transform="translate(-79.668 -45.815)" fill="#44ba17"/>
                                  </g>
                                </g>
                                <g id="Group_2182" data-name="Group 2182" transform="translate(32.74 7.483)">
                                  <g id="Group_2181" data-name="Group 2181" transform="translate(0 0)">
                                    <path id="Path_1825" data-name="Path 1825" d="M74.055,43.37h-.129a1.922,1.922,0,0,0,0,3.844h.12a1.922,1.922,0,0,0,.009-3.844Z" transform="translate(-72.006 -43.37)" fill="#44ba17"/>
                                  </g>
                                </g>
                                <g id="Group_2184" data-name="Group 2184" transform="translate(6.819 19.727)">
                                  <g id="Group_2183" data-name="Group 2183" transform="translate(0 0)">
                                    <path id="Path_1826" data-name="Path 1826" d="M59.815,88.394a21.169,21.169,0,0,1-9.52-28.979A1.92,1.92,0,1,0,46.9,57.61,25,25,0,0,0,58.151,91.859a1.922,1.922,0,0,0,1.664-3.464Z" transform="translate(-43.992 -56.59)" fill="#44ba17"/>
                                  </g>
                                </g>
                                <g id="Group_2186" data-name="Group 2186" transform="translate(26.86 53.607)">
                                  <g id="Group_2185" data-name="Group 2185" transform="translate(0 0)">
                                    <path id="Path_1827" data-name="Path 1827" d="M67.691,93.172H67.58a1.922,1.922,0,0,0-.017,3.844h.129a1.922,1.922,0,0,0,0-3.844Z" transform="translate(-65.651 -93.172)" fill="#44ba17"/>
                                  </g>
                                </g>
                              </g>
                            </g>
                          </svg>
                          
                        <h4>
                            Решения <br>
                            для электронной коммерции
                        </h4>
                        <p>
                            Наши решения покрывают весь спектр задач для электронного бизнеса, от интернет-магазина, маркетплейса и интернет-аукциона до платформ для онлайн сервисов, таких как бронирование или в области медиа и развлечений. Мы создаем решения под ключ с нуля или разработаем отдельный модуль и обеспечим его интеграцию с системами управления контентом (WordPress, Magento, Salesforce и пр.)
                        </p>
                    </div>
                </div>
            </div>

        </section>
        <section class="section section-projects section-projects-slider">
            <div class="container">
                <h3 class="section__header">
                    Проекты и <span>решения</span>
                </h3>
                <p class="section__desc">
                    Реализуем ИТ-проекты различной сложности и масштаба для автоматизации и планирования
                    бизнес-процессов
                </p>
                <div class="projects-slider-wrapp">
                    <div class="projects-list-slider">
                        <a href="#" class="projects-item">
                            <img src="./images/projects-1.jpg" alt="">
                        </a>
                        <a href="#" class="projects-item">
                            <img src="./images/projects-2.jpg" alt="">
                        </a>
                        <a href="#" class="projects-item">
                            <img src="./images/projects-4.jpg" alt="">
                        </a>
                        <a href="#" class="projects-item">
                            <img src="./images/projects-2.jpg" alt="">
                        </a>
                        <a href="#" class="projects-item">
                            <img src="./images/projects-1.jpg" alt="">
                        </a>
                        <a href="#" class="projects-item">
                            <img src="./images/projects-3.jpg" alt="">
                        </a>
                        <a href="#" class="projects-item">
                            <img src="./images/projects-2.jpg" alt="">
                        </a>
                        <a href="#" class="projects-item">
                            <img src="./images/projects-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="projects-slider-dots">

                    </div>
                </div>
                <a href="#" class="btn">Все проекты</a>
            </div>
        </section>
        <section class="section section-process section-process--white">
            <div class="container">
                <svg class="process-icon" id="Group_823" data-name="Group 823" xmlns="http://www.w3.org/2000/svg" width="246.038" height="182.497" viewBox="0 0 246.038 182.497">
                    <g id="modeling_1_" data-name="modeling (1)" transform="translate(4.599 12.693)">
                      <g id="Group_740" data-name="Group 740" transform="translate(0 0)">
                        <path id="Path_1519" data-name="Path 1519" d="M159.9,111.316V59.678a15.38,15.38,0,1,0-14.4-24.942L86.369.6,27.243,34.736a15.378,15.378,0,1,0-14.4,24.942v51.636a15.38,15.38,0,1,0,14.4,24.948L86.367,170.4l59.126-34.139a15.378,15.378,0,1,0,14.4-24.946ZM157.36,34.2a10.311,10.311,0,1,1-10.311,10.311A10.311,10.311,0,0,1,157.36,34.2ZM5.067,44.514a10.311,10.311,0,1,1,10.31,10.308A10.311,10.311,0,0,1,5.067,44.514ZM15.378,136.8a10.311,10.311,0,1,1,10.311-10.311A10.311,10.311,0,0,1,15.378,136.8Zm126.6-10.311a15.337,15.337,0,0,0,.977,5.386L88.908,163.081V134.133H83.837v28.947L29.786,131.874a15.376,15.376,0,0,0-11.869-20.558V59.678a15.383,15.383,0,0,0,9.325-5.386l15.744,9.088,2.535-4.392L29.782,49.9a15.351,15.351,0,0,0,0-10.78L86.369,6.453l56.586,32.669a15.352,15.352,0,0,0,0,10.78L127.22,58.986l2.535,4.392L145.5,54.29a15.388,15.388,0,0,0,9.325,5.388v51.636a15.406,15.406,0,0,0-12.846,15.171ZM157.36,136.8a10.311,10.311,0,1,1,10.311-10.311A10.311,10.311,0,0,1,157.36,136.8Zm0,0" transform="translate(0.012 -0.597)" fill="#0e3f67" opacity="0.3"/>
                        <path id="Path_1528" data-name="Path 1528" d="M249.841,173.921l-36.2-20.9-36.2,20.9v41.8l36.2,20.9,36.2-20.9ZM211.1,229.3l-28.6-16.51V179.774l28.6,16.51Zm-26.061-53.922,28.6-16.511,28.6,16.514-28.6,16.51ZM244.77,212.8l-28.6,16.51V196.284l28.6-16.51Zm0,0" transform="translate(-127.257 -109.922)" fill="#0e3f67" opacity="0.8"/>
                        <path id="Path_1536" data-name="Path 1536" d="M502.744,291.9h5.07v5.07h-5.07Zm0,0" transform="translate(-360.584 -209.532)" fill="#0e3f67" opacity="0.8"/>
                        <path id="Path_1537" data-name="Path 1537" d="M466.877,291.9h5.071v5.07h-5.071Zm0,0" transform="translate(-334.858 -209.532)" fill="#0e3f67" opacity="0.8"/>
                        <path id="Path_1538" data-name="Path 1538" d="M126.135,291.9h5.07v5.07h-5.07Zm0,0" transform="translate(-90.461 -209.532)" fill="#0e3f67" opacity="0.8"/>
                        <path id="Path_1539" data-name="Path 1539" d="M90.267,291.9h5.07v5.07h-5.07Zm0,0" transform="translate(-64.736 -209.532)" fill="#0e3f67" opacity="0.8"/>
                      </g>
                    </g>
                    <g id="Group_814" data-name="Group 814" transform="translate(205.619 62.184)" opacity="0.34">
                      <g id="Group_812" data-name="Group 812" transform="translate(0 0)">
                        <path id="Path_1317" data-name="Path 1317" d="M114.552,210.012h19.774v2.082H114.552Zm0,0" transform="translate(-114.552 -210.012)" fill="#0e3f67"/>
                        <path id="Path_1318" data-name="Path 1318" d="M152.736,248.2h15.611v2.082H152.736Zm0,0" transform="translate(-148.573 -244.033)" fill="#0e3f67"/>
                        <path id="Path_1319" data-name="Path 1319" d="M114.552,248.2h2.082v2.082h-2.082Zm0,0" transform="translate(-114.552 -244.033)" fill="#0e3f67"/>
                        <path id="Path_1320" data-name="Path 1320" d="M114.552,286.379h19.774v2.082H114.552Zm0,0" transform="translate(-114.552 -278.053)" fill="#0e3f67"/>
                        <path id="Path_1321" data-name="Path 1321" d="M114.552,324.563h19.774v2.082H114.552Zm0,0" transform="translate(-114.552 -312.074)" fill="#0e3f67"/>
                      </g>
                      <g id="Group_813" data-name="Group 813" transform="translate(0 0)">
                        <path id="Path_1317-2" data-name="Path 1317" d="M114.552,210.012H154.96v2.082H114.552Zm0,0" transform="translate(-114.552 -210.012)" fill="#0e3f67"/>
                        <path id="Path_1318-2" data-name="Path 1318" d="M152.736,248.2h15.611v2.082H152.736Zm0,0" transform="translate(-127.939 -244.033)" fill="#0e3f67"/>
                        <path id="Path_1319-2" data-name="Path 1319" d="M114.552,248.2h2.082v2.082h-2.082Zm0,0" transform="translate(-114.552 -244.033)" fill="#0e3f67"/>
                        <path id="Path_1320-2" data-name="Path 1320" d="M114.552,286.379H154.96v2.082H114.552Zm0,0" transform="translate(-114.552 -278.053)" fill="#0e3f67"/>
                        <path id="Path_1321-2" data-name="Path 1321" d="M114.552,324.563H154.96v2.082H114.552Zm0,0" transform="translate(-114.552 -312.074)" fill="#0e3f67"/>
                      </g>
                    </g>
                    <g id="Group_814-2" data-name="Group 814" transform="translate(0)" opacity="0.2">
                      <g id="Group_812-2" data-name="Group 812">
                        <path id="Path_1317-3" data-name="Path 1317" d="M114.552,210.012h19.774v2.082H114.552Zm0,0" transform="translate(-114.552 -210.012)" fill="#0e3f67"/>
                        <path id="Path_1318-3" data-name="Path 1318" d="M152.736,248.2h15.611v2.082H152.736Zm0,0" transform="translate(-148.573 -244.033)" fill="#0e3f67"/>
                        <path id="Path_1319-3" data-name="Path 1319" d="M114.552,248.2h2.082v2.082h-2.082Zm0,0" transform="translate(-114.552 -244.033)" fill="#0e3f67"/>
                        <path id="Path_1320-3" data-name="Path 1320" d="M114.552,286.379h19.774v2.082H114.552Zm0,0" transform="translate(-114.552 -278.053)" fill="#0e3f67"/>
                        <path id="Path_1321-3" data-name="Path 1321" d="M114.552,324.563h19.774v2.082H114.552Zm0,0" transform="translate(-114.552 -312.074)" fill="#0e3f67"/>
                      </g>
                      <g id="Group_813-2" data-name="Group 813">
                        <path id="Path_1317-4" data-name="Path 1317" d="M114.552,210.012H154.96v2.082H114.552Zm0,0" transform="translate(-114.552 -210.012)" fill="#0e3f67"/>
                        <path id="Path_1318-4" data-name="Path 1318" d="M152.736,248.2h15.611v2.082H152.736Zm0,0" transform="translate(-127.939 -244.033)" fill="#0e3f67"/>
                        <path id="Path_1319-4" data-name="Path 1319" d="M114.552,248.2h2.082v2.082h-2.082Zm0,0" transform="translate(-114.552 -244.033)" fill="#0e3f67"/>
                        <path id="Path_1320-4" data-name="Path 1320" d="M114.552,286.379H154.96v2.082H114.552Zm0,0" transform="translate(-114.552 -278.053)" fill="#0e3f67"/>
                        <path id="Path_1321-4" data-name="Path 1321" d="M114.552,324.563H154.96v2.082H114.552Zm0,0" transform="translate(-114.552 -312.074)" fill="#0e3f67"/>
                      </g>
                    </g>
                    <g id="Group_822" data-name="Group 822" transform="translate(205.629 44.086)" opacity="0.3">
                      <g id="Group_812-3" data-name="Group 812" transform="translate(0 0)">
                        <path id="Path_1317-5" data-name="Path 1317" d="M114.552,210.012h19.774v2.082H114.552Zm0,0" transform="translate(-114.552 -210.012)" fill="#0e3f67"/>
                        <path id="Path_1318-5" data-name="Path 1318" d="M152.736,248.2h15.611v2.082H152.736Zm0,0" transform="translate(-148.573 -244.033)" fill="#0e3f67"/>
                        <path id="Path_1319-5" data-name="Path 1319" d="M114.552,248.2h2.082v2.082h-2.082Zm0,0" transform="translate(-114.552 -244.033)" fill="#0e3f67"/>
                        <path id="Path_1320-5" data-name="Path 1320" d="M114.552,286.379h19.774v2.082H114.552Zm0,0" transform="translate(-114.552 -278.053)" fill="#0e3f67"/>
                        <path id="Path_1321-5" data-name="Path 1321" d="M114.552,324.563h19.774v2.082H114.552Zm0,0" transform="translate(-114.552 -312.074)" fill="#0e3f67"/>
                      </g>
                      <g id="Group_813-3" data-name="Group 813" transform="translate(0 0)">
                        <path id="Path_1317-6" data-name="Path 1317" d="M114.552,210.012H154.96v2.082H114.552Zm0,0" transform="translate(-114.552 -210.012)" fill="#0e3f67"/>
                        <path id="Path_1318-6" data-name="Path 1318" d="M152.736,248.2h15.611v2.082H152.736Zm0,0" transform="translate(-127.939 -244.033)" fill="#0e3f67"/>
                        <path id="Path_1319-6" data-name="Path 1319" d="M114.552,248.2h2.082v2.082h-2.082Zm0,0" transform="translate(-114.552 -244.033)" fill="#0e3f67"/>
                        <path id="Path_1320-6" data-name="Path 1320" d="M114.552,286.379H154.96v2.082H114.552Zm0,0" transform="translate(-114.552 -278.053)" fill="#0e3f67"/>
                        <path id="Path_1321-6" data-name="Path 1321" d="M114.552,324.563H154.96v2.082H114.552Zm0,0" transform="translate(-114.552 -312.074)" fill="#0e3f67"/>
                      </g>
                    </g>
                </svg>
                <svg class="process-icon2" xmlns="http://www.w3.org/2000/svg" width="206.124" height="129.508" viewBox="0 0 206.124 129.508">
                    <g id="Group_2192" data-name="Group 2192" transform="translate(-1474.282 -3644.807)" opacity="0.4">
                      <g id="feature" transform="translate(1545 3644.807)" opacity="0.8">
                        <path id="Path_1241" data-name="Path 1241" d="M111.553,183.848a6.552,6.552,0,0,0,6.552,6.552h72.072a6.552,6.552,0,0,0,6.552-6.552v-65.52a6.552,6.552,0,0,0-6.552-6.552H118.106a6.552,6.552,0,0,0-6.552,6.552Zm3.276-65.52a3.276,3.276,0,0,1,3.276-3.276h72.072a3.276,3.276,0,0,1,3.276,3.276v65.52a3.276,3.276,0,0,1-3.276,3.276H118.106a3.276,3.276,0,0,1-3.276-3.276Zm0,0" transform="translate(-98.449 -98.673)" fill="#0e3f67"/>
                        <path id="Path_1247" data-name="Path 1247" d="M177.158,352.1Zm-9.828-3.276" transform="translate(-147.674 -307.879)" fill="#0e3f67"/>
                        <g id="Group_616" data-name="Group 616" transform="translate(0 0)">
                          <path id="Path_1237" data-name="Path 1237" d="M6.552,78.847H9.828V75.57H6.552a3.276,3.276,0,0,1-3.276-3.276V6.775A3.276,3.276,0,0,1,6.553,3.5H78.624A3.276,3.276,0,0,1,81.9,6.774V10.05h3.273V6.775A6.552,6.552,0,0,0,78.624.223H6.552A6.552,6.552,0,0,0,0,6.775v65.52a6.552,6.552,0,0,0,6.552,6.552Zm0,0" transform="translate(0 -0.223)" fill="#0e3f67" opacity="0.5"/>
                          <path id="Path_1238" data-name="Path 1238" d="M55.777,56h3.276v3.276H55.777Zm0,0" transform="translate(-49.225 -49.448)" fill="#0e3f67" opacity="0.5"/>
                          <path id="Path_1239" data-name="Path 1239" d="M111.553,56h3.276v3.276h-3.276Zm0,0" transform="translate(-98.449 -49.448)" fill="#0e3f67" opacity="0.5"/>
                          <path id="Path_1240" data-name="Path 1240" d="M167.33,56h3.276v3.276H167.33Zm0,0" transform="translate(-147.674 -49.448)" fill="#0e3f67" opacity="0.5"/>
                          <path id="Path_1242" data-name="Path 1242" d="M167.33,167.553h3.276v3.276H167.33Zm0,0" transform="translate(-147.674 -147.897)" fill="#0e3f67"/>
                          <path id="Path_1243" data-name="Path 1243" d="M223.107,167.553h3.276v3.276h-3.276Zm0,0" transform="translate(-196.9 -147.897)" fill="#0e3f67"/>
                          <path id="Path_1244" data-name="Path 1244" d="M278.884,167.553h3.276v3.276h-3.276Zm0,0" transform="translate(-246.124 -147.897)" fill="#0e3f67"/>
                          <path id="Path_1245" data-name="Path 1245" d="M167.33,223.33H239.4v3.276H167.33Zm0,0" transform="translate(-147.674 -197.123)" fill="#0e3f67" opacity="0.5"/>
                          <path id="Path_1250" data-name="Path 1250" d="M697.209,697.432h9.828v3.276h-9.828Zm0,0" transform="translate(-615.31 -615.533)" fill="#0e3f67" opacity="0.5"/>
                          <g id="Group_613" data-name="Group 613" transform="translate(24.031 35.599)">
                            <path id="Path_1254" data-name="Path 1254" d="M31.945,155.009V156.7a3.39,3.39,0,0,1-3.387,3.386v3.387a3.39,3.39,0,0,1,3.387,3.387v1.694a5.087,5.087,0,0,0,5.081,5.081H38.72v-3.386H37.026a1.7,1.7,0,0,1-1.694-1.694v-1.694a6.758,6.758,0,0,0-2.3-5.081,6.758,6.758,0,0,0,2.3-5.081v-1.694a1.7,1.7,0,0,1,1.694-1.694H38.72v-3.386H37.026A5.087,5.087,0,0,0,31.945,155.009Zm0,0" transform="translate(-28.558 -149.928)" fill="#0e3f67"/>
                            <path id="Path_1255" data-name="Path 1255" d="M242.375,220.957v-1.694a5.087,5.087,0,0,0-5.08-5.08H235.6v3.387h1.694a1.7,1.7,0,0,1,1.694,1.694v1.694a6.758,6.758,0,0,0,2.3,5.081,6.758,6.758,0,0,0-2.3,5.081v1.694a1.7,1.7,0,0,1-1.694,1.694H235.6v3.387h1.694a5.087,5.087,0,0,0,5.081-5.081V231.12a3.39,3.39,0,0,1,3.387-3.387v-3.387a3.39,3.39,0,0,1-3.388-3.389Zm0,0" transform="translate(-186.486 -198.94)" fill="#0e3f67"/>
                            <path id="Path_1256" data-name="Path 1256" d="M85.673,157.067h32.178v3.387H85.673Zm0,0" transform="translate(-72.125 -155.373)" fill="#0e3f67"/>
                            <path id="Path_1257" data-name="Path 1257" d="M114.231,185.625h25.4v3.387h-25.4Zm0,0" transform="translate(-93.907 -177.157)" fill="#0e3f67"/>
                            <path id="Path_1258" data-name="Path 1258" d="M85.673,185.625H89.06v3.387H85.673Zm0,0" transform="translate(-72.125 -177.157)" fill="#0e3f67"/>
                            <path id="Path_1259" data-name="Path 1259" d="M85.673,214.183h32.178v3.387H85.673Zm0,0" transform="translate(-72.125 -198.94)" fill="#0e3f67"/>
                            <path id="Path_1260" data-name="Path 1260" d="M85.673,242.74h32.178v3.387H85.673Zm0,0" transform="translate(-72.125 -220.724)" fill="#0e3f67"/>
                            <path id="Path_1261" data-name="Path 1261" d="M207.043,271.3h3.387v3.387h-3.387Zm0,0" transform="translate(-164.703 -242.507)" fill="#0e3f67"/>
                            <path id="Path_1262" data-name="Path 1262" d="M85.673,271.3h25.4v3.387h-25.4Zm0,0" transform="translate(-72.125 -242.507)" fill="#0e3f67"/>
                            <path id="Path_1263" data-name="Path 1263" d="M85.673,299.856h32.178v3.387H85.673Zm0,0" transform="translate(-72.125 -264.29)" fill="#0e3f67"/>
                          </g>
                        </g>
                      </g>
                      <g id="binary-code" transform="translate(1610.484 3746.966)" opacity="0.5">
                        <g id="Group_620" data-name="Group 620" transform="translate(0 0)">
                          <path id="rect34754" d="M8.2,2.426a.546.546,0,0,0-.37.16L6.195,4.225a.546.546,0,1,0,.764.781L6.968,5l.706-.706V8.984H6.581a.547.547,0,0,0-.015,1.093H8.131a.543.543,0,0,0,.177,0H9.314a.547.547,0,1,0,.015-1.093H8.765V2.972a.546.546,0,0,0-.547-.546Zm6.028,0a.546.546,0,0,0-.37.16l-1.64,1.639a.547.547,0,0,0,.757.789L13,5l.707-.707V8.984H12.609a.547.547,0,0,0-.015,1.093h1.565a.548.548,0,0,0,.177,0h1.005a.547.547,0,1,0,.015-1.093h-.561V2.972a.546.546,0,0,0-.547-.546Zm-12.313,0A1.92,1.92,0,0,0,.007,4.342V8.168a1.913,1.913,0,1,0,3.826,0V4.342A1.92,1.92,0,0,0,1.92,2.429ZM20,2.429A1.92,1.92,0,0,0,18.09,4.342V8.168a1.913,1.913,0,1,0,3.826,0V4.342A1.92,1.92,0,0,0,20,2.429Zm6.028,0a1.92,1.92,0,0,0-1.913,1.913V8.168a1.913,1.913,0,1,0,3.826,0V4.342A1.92,1.92,0,0,0,26.03,2.429ZM1.92,3.523a.806.806,0,0,1,.82.82V8.168a.806.806,0,0,1-.82.82.806.806,0,0,1-.82-.82V4.342a.806.806,0,0,1,.82-.82ZM20,3.523a.806.806,0,0,1,.82.82V8.168a.82.82,0,1,1-1.64,0V4.342a.806.806,0,0,1,.82-.82Zm6.028,0a.806.806,0,0,1,.82.82V8.168a.82.82,0,1,1-1.64,0V4.342a.806.806,0,0,1,.82-.82ZM2.177,12.269a.546.546,0,0,0-.37.16L.166,14.071a.547.547,0,0,0,.773.773l.706-.706V18.83H.554a.547.547,0,1,0-.015,1.093H2.1a.548.548,0,0,0,.177,0H3.286A.547.547,0,0,0,3.3,18.83H2.74V12.819a.546.546,0,0,0-.547-.549Zm12.055,0a.546.546,0,0,0-.37.16l-1.64,1.64a.547.547,0,1,0,.764.782L13,14.842l.707-.707V18.83H12.609a.547.547,0,0,0-.015,1.093h1.565a.548.548,0,0,0,.177,0h1.005a.547.547,0,0,0,.015-1.093h-.561V12.819a.546.546,0,0,0-.547-.546Zm6.028,0a.546.546,0,0,0-.37.16l-1.64,1.64a.547.547,0,0,0,.764.782l.009-.009.707-.707V18.83H18.636a.547.547,0,0,0-.015,1.093h1.566a.548.548,0,0,0,.177,0h1.005a.547.547,0,0,0,.015-1.093h-.561V12.819a.546.546,0,0,0-.547-.546Zm-12.314,0A1.92,1.92,0,0,0,6.035,14.19v3.826a1.913,1.913,0,1,0,3.826,0V14.19a1.92,1.92,0,0,0-1.913-1.915Zm18.083,0a1.92,1.92,0,0,0-1.911,1.916v3.826a1.913,1.913,0,1,0,3.826,0V14.19a1.92,1.92,0,0,0-1.913-1.915ZM7.948,13.368a.806.806,0,0,1,.818.821v3.826a.82.82,0,0,1-1.64,0V14.19a.806.806,0,0,1,.822-.822Zm18.083,0a.806.806,0,0,1,.82.822v3.826a.82.82,0,1,1-1.64,0V14.19a.806.806,0,0,1,.82-.822ZM2.177,22.117a.546.546,0,0,0-.37.16L.166,23.916a.547.547,0,0,0,.773.773l.707-.706v4.692H.554a.547.547,0,1,0-.016,1.094H2.1a.548.548,0,0,0,.177,0H3.286A.547.547,0,1,0,3.3,28.674H2.74V22.663a.546.546,0,0,0-.547-.546Zm6.028,0a.546.546,0,0,0-.37.16l-1.64,1.639a.547.547,0,0,0,.773.773l.706-.706v4.692H6.581a.547.547,0,1,0-.015,1.093H8.131a.543.543,0,0,0,.177,0H9.314a.547.547,0,1,0,.015-1.093H8.765V22.663a.546.546,0,0,0-.547-.546Zm6.028,0a.546.546,0,0,0-.37.16l-1.64,1.639a.547.547,0,1,0,.764.782L13,24.689l.707-.707v4.692H12.609a.547.547,0,0,0-.015,1.093h1.565a.548.548,0,0,0,.177,0h1.005a.547.547,0,1,0,.016-1.093h-.562V22.663a.546.546,0,0,0-.547-.546Zm6.028,0a.546.546,0,0,0-.37.16l-1.64,1.639a.547.547,0,1,0,.764.782l.009-.009.707-.707v4.692H18.636a.547.547,0,0,0-.015,1.093h1.566a.548.548,0,0,0,.177,0h1.005a.547.547,0,1,0,.016-1.093h-.562V22.663a.546.546,0,0,0-.547-.546Zm5.77,0a1.92,1.92,0,0,0-1.913,1.913V27.86a1.913,1.913,0,1,0,3.826,0V24.033A1.92,1.92,0,0,0,26.03,22.121Zm0,1.093a.806.806,0,0,1,.82.82V27.86a.82.82,0,1,1-1.64,0V24.033a.806.806,0,0,1,.82-.82Z" transform="translate(30.473 -2.426)" fill="#0e3f67"/>
                          <path id="rect34754-2" data-name="rect34754" d="M8.2,2.426a.546.546,0,0,0-.37.16L6.195,4.225a.546.546,0,1,0,.764.781L6.968,5l.706-.706V8.984H6.581a.547.547,0,0,0-.015,1.093H8.131a.543.543,0,0,0,.177,0H9.314a.547.547,0,1,0,.015-1.093H8.765V2.972a.546.546,0,0,0-.547-.546Zm6.028,0a.546.546,0,0,0-.37.16l-1.64,1.639a.547.547,0,0,0,.757.789L13,5l.707-.707V8.984H12.609a.547.547,0,0,0-.015,1.093h1.565a.548.548,0,0,0,.177,0h1.005a.547.547,0,1,0,.015-1.093h-.561V2.972a.546.546,0,0,0-.547-.546Zm-12.313,0A1.92,1.92,0,0,0,.007,4.342V8.168a1.913,1.913,0,1,0,3.826,0V4.342A1.92,1.92,0,0,0,1.92,2.429ZM20,2.429A1.92,1.92,0,0,0,18.09,4.342V8.168a1.913,1.913,0,1,0,3.826,0V4.342A1.92,1.92,0,0,0,20,2.429Zm6.028,0a1.92,1.92,0,0,0-1.913,1.913V8.168a1.913,1.913,0,1,0,3.826,0V4.342A1.92,1.92,0,0,0,26.03,2.429ZM1.92,3.523a.806.806,0,0,1,.82.82V8.168a.806.806,0,0,1-.82.82.806.806,0,0,1-.82-.82V4.342a.806.806,0,0,1,.82-.82ZM20,3.523a.806.806,0,0,1,.82.82V8.168a.82.82,0,1,1-1.64,0V4.342a.806.806,0,0,1,.82-.82Zm6.028,0a.806.806,0,0,1,.82.82V8.168a.82.82,0,1,1-1.64,0V4.342a.806.806,0,0,1,.82-.82ZM2.177,12.269a.546.546,0,0,0-.37.16L.166,14.071a.547.547,0,0,0,.773.773l.706-.706V18.83H.554a.547.547,0,1,0-.015,1.093H2.1a.548.548,0,0,0,.177,0H3.286A.547.547,0,0,0,3.3,18.83H2.74V12.819a.546.546,0,0,0-.547-.549Zm12.055,0a.546.546,0,0,0-.37.16l-1.64,1.64a.547.547,0,1,0,.764.782L13,14.842l.707-.707V18.83H12.609a.547.547,0,0,0-.015,1.093h1.565a.548.548,0,0,0,.177,0h1.005a.547.547,0,0,0,.015-1.093h-.561V12.819a.546.546,0,0,0-.547-.546Zm6.028,0a.546.546,0,0,0-.37.16l-1.64,1.64a.547.547,0,0,0,.764.782l.009-.009.707-.707V18.83H18.636a.547.547,0,0,0-.015,1.093h1.566a.548.548,0,0,0,.177,0h1.005a.547.547,0,0,0,.015-1.093h-.561V12.819a.546.546,0,0,0-.547-.546Zm-12.314,0A1.92,1.92,0,0,0,6.035,14.19v3.826a1.913,1.913,0,1,0,3.826,0V14.19a1.92,1.92,0,0,0-1.913-1.915Zm18.083,0a1.92,1.92,0,0,0-1.911,1.916v3.826a1.913,1.913,0,1,0,3.826,0V14.19a1.92,1.92,0,0,0-1.913-1.915ZM7.948,13.368a.806.806,0,0,1,.818.821v3.826a.82.82,0,0,1-1.64,0V14.19a.806.806,0,0,1,.822-.822Zm18.083,0a.806.806,0,0,1,.82.822v3.826a.82.82,0,1,1-1.64,0V14.19a.806.806,0,0,1,.82-.822ZM2.177,22.117a.546.546,0,0,0-.37.16L.166,23.916a.547.547,0,0,0,.773.773l.707-.706v4.692H.554a.547.547,0,1,0-.016,1.094H2.1a.548.548,0,0,0,.177,0H3.286A.547.547,0,1,0,3.3,28.674H2.74V22.663a.546.546,0,0,0-.547-.546Zm6.028,0a.546.546,0,0,0-.37.16l-1.64,1.639a.547.547,0,0,0,.773.773l.706-.706v4.692H6.581a.547.547,0,1,0-.015,1.093H8.131a.543.543,0,0,0,.177,0H9.314a.547.547,0,1,0,.015-1.093H8.765V22.663a.546.546,0,0,0-.547-.546Zm6.028,0a.546.546,0,0,0-.37.16l-1.64,1.639a.547.547,0,1,0,.764.782L13,24.689l.707-.707v4.692H12.609a.547.547,0,0,0-.015,1.093h1.565a.548.548,0,0,0,.177,0h1.005a.547.547,0,1,0,.016-1.093h-.562V22.663a.546.546,0,0,0-.547-.546Zm6.028,0a.546.546,0,0,0-.37.16l-1.64,1.639a.547.547,0,1,0,.764.782l.009-.009.707-.707v4.692H18.636a.547.547,0,0,0-.015,1.093h1.566a.548.548,0,0,0,.177,0h1.005a.547.547,0,1,0,.016-1.093h-.562V22.663a.546.546,0,0,0-.547-.546Zm5.77,0a1.92,1.92,0,0,0-1.913,1.913V27.86a1.913,1.913,0,1,0,3.826,0V24.033A1.92,1.92,0,0,0,26.03,22.121Zm0,1.093a.806.806,0,0,1,.82.82V27.86a.82.82,0,1,1-1.64,0V24.033a.806.806,0,0,1,.82-.82Z" transform="translate(0.001 -2.426)" fill="#0e3f67"/>
                        </g>
                      </g>
                      <g id="Group_814" data-name="Group 814" transform="translate(1657.272 3661.97)" opacity="0.34">
                        <g id="Group_812" data-name="Group 812" transform="translate(0 0)">
                          <path id="Path_1317" data-name="Path 1317" d="M114.552,210.012h11.321V211.2H114.552Zm0,0" transform="translate(-114.552 -210.012)" fill="#0e3f67"/>
                          <path id="Path_1318" data-name="Path 1318" d="M152.736,248.2h8.937v1.192h-8.937Zm0,0" transform="translate(-150.352 -245.812)" fill="#0e3f67"/>
                          <path id="Path_1319" data-name="Path 1319" d="M114.552,248.2h1.192v1.192h-1.192Zm0,0" transform="translate(-114.552 -245.812)" fill="#0e3f67"/>
                          <path id="Path_1320" data-name="Path 1320" d="M114.552,286.379h11.321v1.192H114.552Zm0,0" transform="translate(-114.552 -281.613)" fill="#0e3f67"/>
                          <path id="Path_1321" data-name="Path 1321" d="M114.552,324.563h11.321v1.192H114.552Zm0,0" transform="translate(-114.552 -317.413)" fill="#0e3f67"/>
                        </g>
                        <g id="Group_813" data-name="Group 813" transform="translate(0 0)">
                          <path id="Path_1317-2" data-name="Path 1317" d="M114.552,210.012h23.134V211.2H114.552Zm0,0" transform="translate(-114.552 -210.012)" fill="#0e3f67"/>
                          <path id="Path_1318-2" data-name="Path 1318" d="M152.736,248.2h8.937v1.192h-8.937Zm0,0" transform="translate(-138.54 -245.812)" fill="#0e3f67"/>
                          <path id="Path_1319-2" data-name="Path 1319" d="M114.552,248.2h1.192v1.192h-1.192Zm0,0" transform="translate(-114.552 -245.812)" fill="#0e3f67"/>
                          <path id="Path_1320-2" data-name="Path 1320" d="M114.552,286.379h23.134v1.192H114.552Zm0,0" transform="translate(-114.552 -281.613)" fill="#0e3f67"/>
                          <path id="Path_1321-2" data-name="Path 1321" d="M114.552,324.563h23.134v1.192H114.552Zm0,0" transform="translate(-114.552 -317.413)" fill="#0e3f67"/>
                        </g>
                      </g>
                      <g id="Group_822" data-name="Group 822" transform="translate(1474.282 3655.873)" opacity="0.3">
                        <g id="Group_812-2" data-name="Group 812" transform="translate(0 0)">
                          <path id="Path_1317-3" data-name="Path 1317" d="M114.552,210.012h19.774v2.082H114.552Zm0,0" transform="translate(-114.552 -210.012)" fill="#0e3f67"/>
                          <path id="Path_1318-3" data-name="Path 1318" d="M152.736,248.2h15.611v2.082H152.736Zm0,0" transform="translate(-148.573 -244.033)" fill="#0e3f67"/>
                          <path id="Path_1319-3" data-name="Path 1319" d="M114.552,248.2h2.082v2.082h-2.082Zm0,0" transform="translate(-114.552 -244.033)" fill="#0e3f67"/>
                          <path id="Path_1320-3" data-name="Path 1320" d="M114.552,286.379h19.774v2.082H114.552Zm0,0" transform="translate(-114.552 -278.053)" fill="#0e3f67"/>
                          <path id="Path_1321-3" data-name="Path 1321" d="M114.552,324.563h19.774v2.082H114.552Zm0,0" transform="translate(-114.552 -312.074)" fill="#0e3f67"/>
                        </g>
                        <g id="Group_813-2" data-name="Group 813" transform="translate(0 0)">
                          <path id="Path_1317-4" data-name="Path 1317" d="M114.552,210.012H154.96v2.082H114.552Zm0,0" transform="translate(-114.552 -210.012)" fill="#0e3f67"/>
                          <path id="Path_1318-4" data-name="Path 1318" d="M152.736,248.2h15.611v2.082H152.736Zm0,0" transform="translate(-127.939 -244.033)" fill="#0e3f67"/>
                          <path id="Path_1319-4" data-name="Path 1319" d="M114.552,248.2h2.082v2.082h-2.082Zm0,0" transform="translate(-114.552 -244.033)" fill="#0e3f67"/>
                          <path id="Path_1320-4" data-name="Path 1320" d="M114.552,286.379H154.96v2.082H114.552Zm0,0" transform="translate(-114.552 -278.053)" fill="#0e3f67"/>
                          <path id="Path_1321-4" data-name="Path 1321" d="M114.552,324.563H154.96v2.082H114.552Zm0,0" transform="translate(-114.552 -312.074)" fill="#0e3f67"/>
                        </g>
                      </g>
                      <g id="Group_822-2" data-name="Group 822" transform="translate(1474.282 3672.873)" opacity="0.3">
                        <g id="Group_812-3" data-name="Group 812" transform="translate(0 0)">
                          <path id="Path_1317-5" data-name="Path 1317" d="M114.552,210.012h19.774v2.082H114.552Zm0,0" transform="translate(-114.552 -210.012)" fill="#0e3f67"/>
                          <path id="Path_1318-5" data-name="Path 1318" d="M152.736,248.2h15.611v2.082H152.736Zm0,0" transform="translate(-148.573 -244.033)" fill="#0e3f67"/>
                          <path id="Path_1319-5" data-name="Path 1319" d="M114.552,248.2h2.082v2.082h-2.082Zm0,0" transform="translate(-114.552 -244.033)" fill="#0e3f67"/>
                          <path id="Path_1320-5" data-name="Path 1320" d="M114.552,286.379h19.774v2.082H114.552Zm0,0" transform="translate(-114.552 -278.053)" fill="#0e3f67"/>
                          <path id="Path_1321-5" data-name="Path 1321" d="M114.552,324.563h19.774v2.082H114.552Zm0,0" transform="translate(-114.552 -312.074)" fill="#0e3f67"/>
                        </g>
                        <g id="Group_813-3" data-name="Group 813" transform="translate(0 0)">
                          <path id="Path_1317-6" data-name="Path 1317" d="M114.552,210.012H154.96v2.082H114.552Zm0,0" transform="translate(-114.552 -210.012)" fill="#0e3f67"/>
                          <path id="Path_1318-6" data-name="Path 1318" d="M152.736,248.2h15.611v2.082H152.736Zm0,0" transform="translate(-127.939 -244.033)" fill="#0e3f67"/>
                          <path id="Path_1319-6" data-name="Path 1319" d="M114.552,248.2h2.082v2.082h-2.082Zm0,0" transform="translate(-114.552 -244.033)" fill="#0e3f67"/>
                          <path id="Path_1320-6" data-name="Path 1320" d="M114.552,286.379H154.96v2.082H114.552Zm0,0" transform="translate(-114.552 -278.053)" fill="#0e3f67"/>
                          <path id="Path_1321-6" data-name="Path 1321" d="M114.552,324.563H154.96v2.082H114.552Zm0,0" transform="translate(-114.552 -312.074)" fill="#0e3f67"/>
                        </g>
                      </g>
                    </g>
                  </svg>
                  
                  <h3 class="section__header section__header--blue">
                    Что мы предлагаем и<span> гарантируем?</span>
                </h3>
                <div class="process-list">
                    <div class="process-item">
                        <h5 class="process-item__header">
                            Глубокое погружение в бизнес-процессы

                        </h5>
                        <span>и проблематику заказчика, индивидуальный подход к выполнению поставленных задач.</span>
                    </div>
                    <div class="process-item">
                        <h5 class="process-item__header">
                            Составление грамотного технического задания

                        </h5>
                        <span>которое соответствует бизнес-требованиям заказчика.</span>
                    </div>
                    <div class="process-item">
                        <h5 class="process-item__header">
                            Расширяемость и масштабируемость

                        </h5>
                        <span>предусматривается при разработке веб приложений и сервисов </span>
                    </div>
                    <div class="process-item">
                        <h5 class="process-item__header">
                            С целью оптимизации бизнес-процессов

                        </h5>
                        <span>при создании веб приложений и сервисов мы интегрируем их 
                            с имеющимися у заказчика сервисами и системами </span>
                    </div>
                    <div class="process-item">
                        <h5 class="process-item__header">
                            Гарантийное и техническое обслуживание

                        </h5>
                        <span>разработанного веб приложения и сервиса.</span>
                    </div>
                    <div class="process-item">
                        <h5 class="process-item__header">
                            Необходимая и вспомогательная документация

                        </h5>
                        <span>предоставляется заказчику в полном объеме.</span>
                    </div>
                </div>
                <a href="#" class="btn">Обсудить проект</a>
            </div>
        </section>

    </div>
    <%= require('html-loader?attrs[]=!./components/footer.html') %>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="./js/slick.js"></script>
    <script>
        $('.projects-list-slider').slick({
            slidesToShow: 4,
            slidesToScroll: 4,
            rows: 1,
            slidesPerRow: 1,
            dots: true,
            appendDots: $('.projects-slider-dots'),
            responsive: [
                {
                    breakpoint: 991,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3
                    }
                },
                {
                    breakpoint: 768,
                    settings: {
                        /* slidesPerRow: 2, */
                        rows: 2,
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 540,
                    settings: {
                        rows: 2,
                        slidesToShow: 2,
                        slidesToScroll: 2,
                        dots: false,
                        prevArrow: false,
                        nextArrow: false
                    }
                }
            ]
        });
    </script>
</body>

</html>