<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projects</title>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
</head>

<body class="page-single-project spr">
<div class="wrapper">
    <%= require('html-loader?attrs[]=!./components/header.html') %>
    <div class="spr-hero" style="background-image: url(./images/spr-web.jpg);">
        <div class="container">
            <div class="spr-hero-main">
                <ul class="spr-breadcrumbs">
                    <li class="spr-breadcrumbs-item"><a href="./index.html">Главная</a></li>
                    <li class="spr-breadcrumbs-item"><a href="./projects.html">/Проекты и решения</a></li>
                    <li class="spr-breadcrumbs-item"><a href="#">/Скоринговая система</a></li>
                </ul>
                <h1 class="spr-header">Скоринговая система</h1>
                <p class="spr-overview">Заемщик загружает в систему корпоративные документы, такие как годовые отчеты, финансовые отчеты, уставные и прочие юридические документы. Система сопоставляет предоставленные показатели производственной деятельности (KPI) с диапазонами KPI банков, которые являются партнерами RB Garant. На основании анализа и выбора оптимального варианта заемщик кредита получает совет о том, какой банк или банки будут наилучшим партнером или партнерами для (совместной) выдачи кредита или гарантии.</p>
            </div>
        </div>
    </div>
    <div class="spr-details">
        <div class="container">
            <div class="spr-details-wrapper">
                <div class="spr-details-item">
                    <h5 class="spr-details-item-header">Клиент<br><span>RB Garant</span></h5>
                    <div class="spr-details-item-descr">Компания, которая предоставляет предприятиям услуги по получению банковских кредитов и гарантий.</div>
                </div>
                <div class="spr-details-item">
                    <h5 class="spr-details-item-header">Технологии</h5>
                    <ul class="spr-details-tech-list">
                        <li class="spr-details-tech-item">Laravel 5</li>
                        <li class="spr-details-tech-item">Vue 2</li>
                        <li class="spr-details-tech-item">Java 8</li>
                        <li class="spr-details-tech-item">Postgre SQL 9.6</li>
                        <li class="spr-details-tech-item">PHP 7</li>
                        <li class="spr-details-tech-item">jQuery</li>
                        <li class="spr-details-tech-item">Agile</li>
                    </ul>
                </div>
                <div class="spr-details-item">
                    <div class="spr-details-logo-wrapper">
                        <img src="./images/rb-garant-logo.svg" alt="project-company-logo" class="spr-details-logo">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="spr-description">
        <div class="container">
            <h2 class="spr-description-header">The platform also serves as the working place of the RB Garant credit manager.
                The credit manager harbours a wide array of interesting functionalities:</h2>
            <ul class="spr-description-points-list">
                <li class="spr-description-point">
                    The system includes full customer database and provides tools to work with customers.
                </li>
                <li class="spr-description-point">
                    The credit manager allows you to automatize compilation and submission of the client’s applications
                    with pack of documents to the bank according to the requirement of a specific bank.
                </li>
                <li class="spr-description-point">
                    Information about tender application is automatically pulled from the tender system (parsing), for
                    customers that asks for a guarantee in terms of a state tender. Later this information is automatically
                    filled into the application to be submitted to the bank.
                </li>
                <li class="spr-description-point">
                    The credit manager is integrated with swapping application. The data is swapped with the state
                    register of legal entities and individual entrepreneurs. Due to the integration some data can be
                    checked, whilst other data sets can be received if they missing in the client’s documents.
                </li>
                <li class="spr-description-point">
                    The credit manager Is integrated with an IP telecom company for calling and contains a call center module where a call center operator sees an updateable list of clients with contact details, statuses, calls and call descriptions. The operator is also able to make calls to clients, can use call templates provided in the module and has the opportunity to find information about how the call went if the call was executed from outside the system. The operator can also schedule calls in the internal calendar.
                </li>
                <li class="spr-description-point">
                    The system has an own mail client that accepts customer letters, analyzes attachments,
                    directs them to the main customer portfolio or distributes between operators. It also sends out
                    correspondence such as offers to potential customers and receives information from the banks.
                </li>
            </ul>
        </div>
    </div>
    <div class="spr-involve">
        <div class="container">
            <h2 class="spr-involve-header">How E-ngineers <span>was involved?</span></h2>
            <ul class="spr-involve-points-list">
                <li class="spr-involve-point">
                    E-ngineers was responsible for the development of a system architecture that includes
                    various integration layers.
                </li>
                <li class="spr-involve-point">
                    The company created a thorough set of requirements by interviewing customers.
                </li>
                <li class="spr-involve-point">
                    The developers of E-ngineers provided full stack development (but were not involved
                    into the algo and scoring module itself).
                </li>
                <li class="spr-involve-point">
                    E-ngineers provided various types of integration (inclusive REST_API) and parsing
                    methods that were used during the development of the system.
                </li>
                <li class="spr-involve-point">
                    The developing company was responsible for the implementation of DevOps tools:
                    a premium example is Git continuous integration. By means of GitLab Ci Runners
                    we keep environments up to date with the latest developments and tests.
                </li>
            </ul>
        </div>
    </div>
    <div class="spr-comment">
        <div class="container">
            <h2 class="spr-comment-header">Challenges and <span>the verdict of RB Garant</span></h2>
            <div class="spr-comment-container">
                <p class="spr-comment-text">The main challenge was the necessity to launch the first version of the program very fast. Second: there was no resource on our side to formalize all the requirements for the system. E-ngineers were a very proactive company that delivered fast results in setting up the system and launching the first version of the RB Garant credit system. They build up a process of interviewing the business owners to create the requirements and manage the project. We managed to smoothly get the necessary development processes in place.
                    Within less than half year the system was enriched with a set of extra, rather wide-ranging functionalities.</p>
                <p class="spr-comment-text">
                    We are really satisfied with the approach and quality of work of E-ngineers. This high
                    level of satisfaction includes the quality of the code. RB Garant would describe the services
                    of E-ngineers as proficient, result-oriented and client-friendly.
                </p>
            </div>
            <div class="spr-comment-author">RB Garant</div>
            <a href="" class="spr-back-to-projects-list">Назад</a>
        </div>
    </div>
</div>
<%= require('html-loader?attrs[]=!./components/footer.html') %>
</body>

</html>
